<div class="w-full rounded-[12px] bg-white border border-G300 p-[40px]">
  <div class="text-G900 text-h6 font-medium mb-[24px]">Reviews</div>
  <div *ngIf="2 > reviews.length">
    <div class="text-b2 text-G700 whitespace-pre-line pb-[16px]">
      {{ noReviewDescription }}
    </div>
    <basic-button
      [type]="2"
      title="Leave a review"
      extraClass="w-max"
      size="small"
      [disabled]="!userCanReview"
      (click)="buttonClick($event)"
    />
  </div>
  <div *ngIf="reviews.length > 1">
    <div
      *ngFor="let review of reviews; let reviewIndex = index"
      class="relative overflow-y-hidden pb-[16px]"
    >
      <div
        class="w-[2px] h-[400px] rounded-full bg-G200 absolute top-0 left-[11px]"
        *ngIf="reviewIndex + 1 !== reviews.length"
      ></div>
      <div
        class="w-[24px] h-[24px] rounded-full bg-G300 absolute top-0 left-0"
      ></div>
      <div
        class="pl-[35px] md:pl-[48px] flex flex-col md:flex-row md:justify-between gap-1 md:gap-4"
      >
        <div class="space-y-1 items-center">
          <div class="text-b2 text-G700 font-medium">
            By <b>{{ review.reviewerName }}</b>
          </div>
          <div class="text-b2 text-G500">{{ review.message }}</div>
          <div class="text-b2 text-G700 text-nowrap">
            {{ review.createdAt | customDate }}
          </div>
        </div>
        <app-star-rating [stars]="review.rating" />
      </div>
    </div>
  </div>
</div>
