<section
  class="bg-G100 rounded-[12px] border-none p-[16px] grid gap-8"
  id="search-filter"
>
  <div class="flex items-center justify-between text-G800 text-h6 font-medium">
    <div class="flex items-center gap-2">
      <div>Filter</div>
      <div *ngIf="getNumberAllFilters() > 0">
        <badge [value]="getNumberAllFilters()" />
      </div>
    </div>
    <div class="cursor-pointer" (click)="allClear()">Clear All</div>
  </div>
  <div class="flex flex-col gap-4">
    <p-accordion class="w-full">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="pr-[16px] flex items-center justify-between gap-2 w-full">
            <div class="flex items-center gap-2">
              <span class="font-medium whitespace-nowrap">Verification</span>
              <div *ngIf="verifyForm.length > 0">
                <badge [value]="verifyForm.length" />
              </div>
            </div>
            <div
              class="font-medium pointer-events-auto"
              (click)="verifyClear()"
            >
              Clear
            </div>
          </div>
        </ng-template>
        <div class="pt-[16px] pb-[24px] px-[24px]">
          <div class="flex flex-col gap-[10px]">
            <div
              *ngFor="let item of filterSection.verification"
              class="flex items-center"
            >
              <p-checkbox
                [label]="item"
                name="verifyForm"
                [value]="item"
                [(ngModel)]="verifyForm"
                (onChange)="verifyClick($event)"
              ></p-checkbox>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>

    <p-accordion class="w-full">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="pr-[16px] flex items-center justify-between gap-2 w-full">
            <div class="flex items-center gap-2">
              <span class="font-medium whitespace-nowrap">Skills</span>
              <div *ngIf="skillsForm.length > 0">
                <badge [value]="skillsForm.length" />
              </div>
            </div>
            <div
              class="font-medium pointer-events-auto"
              (click)="skillsClear()"
            >
              Clear
            </div>
          </div>
        </ng-template>
        <div class="pt-[16px] pb-[24px] px-[24px] flex flex-col gap-[10px]">
          <div class="flex flex-col gap-[10px]">
            <div *ngFor="let item of tempSkillsForm" class="flex items-center">
              <p-checkbox
                [label]="item"
                name="skillsForm"
                [value]="item"
                [(ngModel)]="skillsForm"
                (onChange)="skillClick($event)"
              ></p-checkbox>
            </div>
            <div
              *ngIf="skillsForm.length < 10"
              class="cursor-pointer font-medium"
              (click)="seeMoreClick()"
            >
              See More
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>

    <p-accordion class="w-full">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="pr-[16px] flex items-center justify-between gap-2 w-full">
            <div class="flex items-center gap-2">
              <span class="font-medium whitespace-nowrap">Rating</span>
              <div *ngIf="ratingForm.length > 0">
                <badge [value]="ratingForm.length" />
              </div>
            </div>
            <div
              class="font-medium pointer-events-auto"
              (click)="ratingClear()"
            >
              Clear
            </div>
          </div>
        </ng-template>
        <div class="pt-[16px] pb-[24px] px-[24px]">
          <div class="flex flex-col gap-[10px]">
            <div
              *ngFor="let item of filterSection.rating"
              class="flex items-center"
            >
              <p-checkbox
                [label]="item"
                name="ratingForm"
                [value]="item"
                [(ngModel)]="ratingForm"
                (onChange)="ratingClick(item)"
              ></p-checkbox>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</section>
