
<ng-template ngFor let-i="index" let-reaction [ngForOf]="reactions">

<p *ngIf="reactions" class="fw-400 mt-3">{{ reaction.question }}</p>
<div class="btn-group" role="group" style="margin-top: -20px;">
  <div id="reactions" class="btn-group" role="group">
    <button type="button" 
      class="btn btn-secondary bg-pale-secondary" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 5px;">
      <span *ngIf="reactions" class="fw-400">{{ reaction.total }} REACTIONS</span>
    
      <span *ngIf="max[reaction.id]" class="fw-500">&nbsp;&nbsp;&nbsp;&nbsp;{{ max[reaction.id].answer }}&nbsp;{{ max[reaction.id].value }}</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="reactions" style="min-width: 300px;">
        <h6 class="dropdown-header">Reactions</h6>
        <div class="dropdown-divider"></div>

        <ng-template ngFor let-ix="index" let-response [ngForOf]="reaction.answers">

          <button (click)="onAction(i, ix, response);" 
            [ngClass]="{ 'active': response.active === 'true' ? true : false }"
            class="dropdown-item">&nbsp;&nbsp;{{ response.answer }}
            <span style="float: right;">({{ response.value }})&nbsp;+1&nbsp;&nbsp;</span>
          </button>

        </ng-template>
    </div>
  </div>
</div>

</ng-template>