<div>
  <div
    class="fixed bg-transparent w-full flex justify-center items-center px-[16px] pb-[12px] top-0 z-[2000] transition-all duration-300"
    [ngClass]="{
      'bg-white shadow-md pt-[12px]': isScrolled || isTransfer,
      'pt-[24px]': !isScrolled
    }"
  >
    <div class="max-w-[1440px] w-full flex justify-between items-center">
      <div
        class="cursor-pointer"
        [routerLink]="['/home']"
        
      >
        <img
          src="{{
            isScrolled || isTransfer
              ? headerSection.logoGraySrc
              : headerSection.logoSrc
          }}"
          [ngClass]="{
            'hidden': !isScrolled 
          }"
          class="w-[140px] h-[40px] select-none"
        />
      </div>
      <div class="hidden lg:flex items-center gap-10">
        <div *ngFor="let item of headerSection.website" [routerLink]="item.url" (click)="onHamburguerClick()">
          <link-button
            *ngIf="item.title !== 'Inbox'; else showinbox"
            [type]="isScrolled || isTransfer ? 2 : 1"
            [title]="item.title"
            size="small"
          />
          <ng-template #showinbox>
            <div class="flex">
              <link-button
                [type]="isScrolled || isTransfer ? 2 : 1"
                title="Inbox"
                size="small"
              />
              <i
                class="pi pi-bell text-2xl ml-2"
                pBadge
                severity="danger"
                [value]="unreadMsgCount"
              ></i>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="flex items-center gap-4">
        <div
          class="hidden lg:block w-max h-max"
          *ngIf="!currentUser"
          [routerLink]="['/auth']"
          (click)="onHamburguerClick()"
        >
          <link-button
            [type]="isScrolled || isTransfer ? 2 : 1"
            [title]="headerSection.buttonText1"
            size="small"
          />
        </div>
        <div class="hidden md:flex w-max h-max" *ngIf="currentUser">
          <!-- <basic-button [type]="1" title="Log out" size="small" /> -->
          <div
            *ngIf="!bAddress; else showAddress"
            [routerLink]="['/wallet-bnb']"
            (click)="onHamburguerClick()"
          >
            <basic-button [type]="2" title="Connect Wallet" size="small" />
          </div>

          <ng-template #showAddress>
            <div [routerLink]="['/wallet-bnb/assets']">
              {{ bAddress.slice(0, 6) }}...{{ bAddress.slice(-3) }}
            </div>
          </ng-template>
        </div>
        <div
          class="hidden md:block w-max h-max"
          *ngIf="!currentUser"
          [routerLink]="['/auth']"
        >
          <basic-button
            [type]="1"
            [title]="headerSection.buttonText2"
            size="small"
          />
        </div>
        <div class="hidden md:block w-max h-max" [routerLink]="['/inbox/post']">
          <basic-button
            [type]="2"
            [title]="headerSection.buttonText3"
            size="small"
          />
        </div>
        <div class="flex justify-content-center">
          <p-toast></p-toast>
          <p-menu #menu [model]="items" [popup]="true"></p-menu>
          <div (click)="menu.toggle($event)" class="cursor-pointer">
            <app-avatar
              *ngIf="currentUser"
              [user]="currentUser"
              [customClass]="'avatar'"
            ></app-avatar>
          </div>
        </div>
        <div
          class="block md:hidden cursor-pointer"
          (click)="onHamburguerClick()"
        >
          <div
            class="w-[34px] h-[3px] rounded-full m-[5px] bg-black"
            [ngClass]="{
              '!bg-white': (!isScrolled || !isTransfer) && isHamburguer
            }"
            [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"
          ></div>
          <div
            class="w-[34px] h-[3px] rounded-full m-[5px] bg-black"
            [ngClass]="{
              '!bg-white': (!isScrolled || !isTransfer) && isHamburguer
            }"
            [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"
          ></div>
          <div
            class="w-[34px] h-[3px] rounded-full m-[5px] bg-black"
            [ngClass]="{
              '!bg-white': (!isScrolled || !isTransfer) && isHamburguer
            }"
            [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <!-- hamburuger menu in mobile view -->

  <div
    class="opacity-0 fixed w-full h-screen top-0 bg-white block md:hidden"
    [ngClass]="isHamburguer ? '-z-50' : 'z-50'"
    [@hamburguerX]="isHamburguer ? 'hamburguer' : 'show'"
  >
    <div class="py-[30px] px-[20px] flex flex-col items-center gap-10">
      <img
        src="{{ headerSection.logoGraySrc }}"
        class="w-[140px] h-[40px] select-none"
      />
      <div class="flex flex-col items-center gap-6">
        <div *ngFor="let item of headerSection.website" [routerLink]="item.url" (click)="onHamburguerClick()">
          <link-button [type]="2" [title]="item.title" />
        </div>
        <div class="w-max h-max" *ngIf="!currentUser" [routerLink]="['/auth']" (click)="onHamburguerClick()">
          <link-button [type]="2" [title]="headerSection.buttonText1" />
        </div>
        <div class="h-max w-full" *ngIf="!currentUser" [routerLink]="['/auth']" (click)="onHamburguerClick()">
          <basic-button
            [type]="1"
            [title]="headerSection.buttonText2"
            [extraClass]="'max-md:min-w-full text-center'"
          />
        </div>
        <div class="h-max" [routerLink]="['/inbox/post']" (click)="onHamburguerClick()">
          <basic-button [type]="2" [title]="headerSection.buttonText3" />
        </div>
      </div>
    </div>
    <!-- <div
      class="absolute right-[24px] top-[17px] cursor-pointer"
      (click)="onHamburguerClick()"
    >
      <img
        src="{{ headerSection.hamburguerXSrc }}"
        class="w-[40px] h-[40px] select-none"
      />
    </div> -->
  </div>
</div>
