<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">
    <div class="topbar-left">
        
      <a class="topbar-brand" [routerLink]="['/home']">
        <img class="logo-default" src="assets/img/logo.svg" width="auto" height="36px" alt="logo">
      </a>
      <div *ngIf="!hideSearchBar" class="search-container mx-40 hidden-sm-down animated">
        <form class="form-inline justify-content-center justify-content-lg-end" method="post" (ngSubmit)="onSubmit(inputSearch.value);">
          <div class="input-group">
            <input #inputSearch (focus)="onFocus(inputSearch.value);" (blur)="onBlur(inputSearch.value);" type="text" size="20" class="search-input"
              placeholder="Find services...">
            <span class="input-group-btn">
              <button class="btn btn-default btn-search" type="submit" border-none>
                <img src="assets/img/search-icon.svg" class="search-icon" border-5>
              </button>
            </span>
          </div>
        </form>
      </div> 
    </div>
    <div class="topbar-right">
      <ul class="topbar-nav nav lh-2">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" data-scrollto="section-home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tools']" style="opacity: 1.0;">
            <img class="mb-5" src="assets/img/CanApps.svg" width="auto" height="18px">
          </a>
        </li>
        <li *ngIf="currentUser" class="nav-item">
          <a class="nav-link" [routerLink]="['/inbox/chat']">
            Inbox
          </a>
          <span *ngIf="hasUnreadMessages" class="badge badge-round badge-danger"></span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" id="connectionDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-circle fs-9" [ngStyle]="{'color': getWeb3Color()}"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right " aria-labelledby="connectionDropdownMenuLink">
            <div class="dropdown-item w-250 d-flex justify-content-between">
              <span class="text-left">
                <i class="fa fa-circle fs-10 mb-2 pr-30" [ngStyle]="{'color': getWeb3Color()}"></i>Ethereum Network:</span>
              <span>{{netType}}</span>
            </div>
            <div *ngIf="account" class="dropdown-divider"></div>
            <div *ngIf="account" class="dropdown-item d-flex justify-content-between" (click)="updateBalanceAsync()">
              <span class="pl-30 pr-20 text-left">Balance:</span>
              <span>
                {{canBalance}}
                <img class="logo-default pl-10 pointer" (click)="updateBalanceAsync()" src="assets/img/round-icon.svg" width="auto" height="18px"
                  alt="logo">
              </span>
            </div>
          </div>
        </li>
        <li *ngIf="!currentUser" class="nav-item">
          <a class="btn btn-canya-tools canya-login btn-sm text-white hidden-sm-down" [routerLink]="['/auth']">
            Join
          </a>
        </li>
        <li *ngIf="currentUser" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="currentUser.avatar.uri || 'assets/img/placeholder.png'" class="avatar" alt="CanYa">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#" [routerLink]="['/profile']">Profile</a>
            <a class="dropdown-item" href="#" [routerLink]="['/profile/edit']">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#areYouSureLogoutModal">Logout</a>
          </div>
        </li>
      </ul>
    </div>
      
     <button _ngcontent-c1="" class="topbar-toggler">☰</button>
  </div>
</nav>


<header class="header fadeout pt-90 pb-0 shadow-1" id="section-home">
  <div *ngIf="allowFilters && showFilters" class="container w-full bt-1 hidden-lg-down" style="margin-top: -10px;" [@slideInOut]>
    <div class="row px-30 py-10 text-center">
      <app-search-filter-option class="col-4 col-md-2" *ngFor="let category of providerCategories" [text]="category" [link]="category"></app-search-filter-option>
    </div>
  </div>
</header>


<!-- Logout - Are you sure? -->
<div class="modal fade" id="areYouSureLogoutModal" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="true"
  aria-labelledby="areYouSureLogoutLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to sign out of your account?</p>
      </div>
      <div class="modal-footer">
        <button (click)="onLogout()" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
        <button (click)="onCancel()" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
