<main>
  <section class="section bg-gray">
    <div class="container text-center">
      <div class="card px-30 py-15 my-10">
        <h2>Assets</h2>
        <div *ngIf="address" class="row">
          <div class="col text-center">
            <a
              ngxClipboard
              [cbContent]="address"
              (click)="$event.preventDefault()"
              href="#"
              class="mx-10"
            >
              <i class="far fa-copy"></i>
            </a>
            {{ address }}
            <a
              target="_blank"
              href="{{ explorer }}/address/{{ address }}"
              class="mx-10"
            >
              <i class="fas fa-external-link-alt"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col text-left">
            <div [ngSwitch]="address">
              <div *ngSwitchCase="true" class="text-center">
                Loading address...
              </div>
              <div *ngSwitchCase="false" class="text-center">
                Please connect your wallet!
              </div>
              <div *ngSwitchDefault>
                <div *ngIf="balances | async as balances; else loading">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Icon</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Free</th>
                        <th scope="col">Frozen</th>
                        <th scope="col">Locked</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let balance of balances">
                        <td>
                          <app-dynamic-coin
                            [symbol]="balance.symbol"
                          ></app-dynamic-coin>
                        </td>
                        <td>{{ balance.symbol }}</td>
                        <td>{{ balance.free | number: '1.3' }}</td>
                        <td>{{ balance.frozen | number: '1.3' }}</td>
                        <td>{{ balance.locked | number: '1.3' }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-right">
                    <button
                      (click)="binanceService.disconnect()"
                      border-64
                      class="btn btn-sm btn-warning"
                      style="border: 2px solid #ffbe00; background: #fff; color: #ffbe00;"
                    >
                      FORGET
                    </button>
                  </div>
                </div>
                <ng-template #loading>
                  <div class="text-center">
                    Loading...
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
