<main>
  <section class="section bg-gray">
    <div class="container text-center">
      <div class="card px-30 py-15 my-10">
        <h2>Assets</h2>
        <div class="row">
          <div class="col text-left">
            <div [ngSwitch]="address">
              <div *ngSwitchCase="true" class="text-center">
                Loading address...
              </div>
              <div *ngSwitchCase="false" class="text-center">
                Please connect your wallet!
              </div>
              <div *ngSwitchDefault>
                <div *ngIf="balances | async as balances; else loading">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Icon</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Free</th>
                        <th scope="col">Frozen</th>
                        <th scope="col">Locked</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let balance of balances">
                        <td>
                          <app-dynamic-coin
                            [symbol]="balance.symbol"
                          ></app-dynamic-coin>
                        </td>
                        <td>{{ balance.symbol }}</td>
                        <td>{{ balance.free }}</td>
                        <td>{{ balance.frozen }}</td>
                        <td>{{ balance.locked }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-right">
                    <button
                      border-64
                      class="btn btn-sm btn-primary mr-20"
                      ngxClipboard
                      [cbContent]="address"
                    >
                      COPY ADDRESS
                    </button>
                    <button
                      (click)="binanceService.disconnect()"
                      border-64
                      class="btn btn-sm btn-primary"
                    >
                      FORGET
                    </button>
                  </div>
                </div>
                <ng-template #loading>
                  <div class="text-center">
                    Loading...
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
