<p class="text-center">FAQ</p>
<br />
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header bg-lighter" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordion"
          href="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          What do I need to use CanYa?
        </a>
      </h5>
    </div>
    <div
      id="collapseOne"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingOne"
    >
      <div class="card-block">
        <p class="lead">Here’s what you need to get started:</p>
        <ul>
          <li>A computer or laptop running the desktop version of Chrome.</li>
          <li>
            MetaMask, a digital wallet used specifically with web apps (
            <a href="https://metamask.io/" target="_blank">Install MetaMask</a>
            ).
          </li>
          <li>CanYaCoins, a form of digital payment that powers CanYa.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-lighter" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordion"
          href="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Installing MetaMask
        </a>
      </h5>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingTwo"
    >
      <div class="card-block">
        <p class="lead">
          To use CanYa, you will need to install MetaMask, a digital wallet. You
          will need to put money in it to make your first purchase.
        </p>
        <p class="lead text-danger">
          <strong>Note:</strong> A digital wallet like MetaMask acts like a bank
          account—treat it with respect and make sure you don’t forget your
          password or the seed words.
        </p>
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/tfETpi-9ORs?rel=0&amp;showinfo=0"
          frameborder="0"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-lighter" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordion"
          href="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Why is MetaMask locked?
        </a>
      </h5>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingThree"
    >
      <div class="card-block">
        <p class="lead">
          Occasionally the page displays a lock screen. This happens because
          MetaMask automatically locks your account after a certain period of
          time. To unlock simply click on the MetaMask extension and type in
          your password.
        </p>
        <img src="assets/img/metamask-locked.png" />
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-lighter" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a
          class="collapsed"
          data-toggle="collapse"
          data-parent="#accordion"
          href="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Getting CanYaCoins
        </a>
      </h5>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingFour"
    >
      <div class="card-block">
        <p class="lead">
          You will need to purchase CAN from an exchange, and then transfer the
          CAN from your exchange wallet to your MetaMask Wallet. Unfortunately,
          you cannot use CanYa with only an exchange account.
        </p>
      </div>
    </div>
  </div>
</div>
