<!-- Empty Header -->
<header *ngIf="empty" class="header fadeout pt-10 pb-0 mb-0" id="section-home">
  <div class="container">
    <div class="row partner mt-25 sub-header-menu">

    </div>
  </div>
</header>
<!-- END Header -->

<!-- Header -->
<header *ngIf="!empty" class="header fadeout pt-90 pb-0 shadow-1" id="section-home">
  <div *ngIf="filter" class="container w-full bt-1 hidden-lg-down" style="margin-top: -10px;" [@slideInOut]>

    <div class="row px-30 py-10 text-center">
      <div class="col-4 col-md-2">
        <a [routerLink]="['/search', 'Content Creators']" class="flex-icon" data-scrollto="section-main">
          <span class="fw-400 hidden-md-down">Content Creators</span>
          <!-- <span class="hidden-lg-up">Creators</span> -->
        </a>
      </div>

      <div class="col-4 col-md-2">
        <a [routerLink]="['/search', 'Designers & Creatives']" class="flex-icon" data-scrollto="section-main">
          <span class="fw-400 hidden-md-down">Designers & Creatives</span>
          <!-- <span class="hidden-lg-up">Designers</span> -->
        </a>
      </div>

      <div class="col-4 col-md-2">
        <a [routerLink]="['/search', 'Financial experts']" class="flex-icon" data-scrollto="section-main">
          <span class="fw-400 hidden-md-down">Financial experts</span>
          <!-- <span class="hidden-lg-up">Finance</span> -->
        </a>
      </div>


      <div class="col-4 col-md-2">
        <a [routerLink]="['/search', 'Marketing & SEO']" class="flex-icon" data-scrollto="section-main">
          <span class="fw-400 hidden-md-down">Marketing & SEO</span>
          <!-- <span class="hidden-lg-up">Marketing</span> -->
        </a>
      </div>


      <div class="col-4 col-md-2">
        <a [routerLink]="['/search', 'Software developers']" class="flex-icon" data-scrollto="section-main">
          <span class="fw-400 hidden-md-down">Software developers</span>
          <!-- <span class="hidden-lg-up">Developers</span> -->
        </a>
      </div>

      <div class="col-4 col-md-2">
        <a [routerLink]="['/search', 'Virtual assistants']" class="flex-icon" data-scrollto="section-main">
          <span class="fw-400 hidden-md-down">Virtual assistants</span>
          <!-- <span class="hidden-lg-up">Assistants</span> -->
        </a>
      </div>
    </div>

  </div>

  <div class="container">

    <div class="row h-full justify-content-center align-items-center text-center text-lg-left">

      <!-- img-outside-right hidden-md-down -->
      <div *ngIf="!currentUser" class="col-12 col-md-6">
        <div id="desk"></div>
      </div>

      <div *ngIf="!currentUser" class="col-12 col-md-6 col-form-desk">
        <div class="row px-10 align-items-center">
          <div class="col-12 text-center text-md-left">
            <h3 class="px-10 fw-400 hidden-md-down">The world's first blockchain-powered marketplace of services.</h3>
            <h4 class="px-10 py-10 fw-400 hidden-lg-up">The world's first blockchain-powered marketplace of services.</h4>
          </div>
          <br>

          <div class="col-12 mx-10 text-center text-md-left">
            <!-- <form class="form-round justify-content-center justify-content-lg-end" 
            action="//canya.us16.list-manage.com/subscribe/post?u=f2f3b0bb854641f6c0ec8e505&amp;id=530a464e3c" 
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <div class="input-group shadow-2 form-desk">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" name="EMAIL" class="form-control pl-5" placeholder="Email Address">
                <span class="input-group-btn">
                  <button class="btn text-white" 
                    style="background-image: linear-gradient(122deg, #00FFCC 0%, #33ccff 93%); border-top-left-radius: 5px; border-bottom-left-radius: 5px;">SUBSCRIBE</button>
                </span>
              </div>
            </form> -->
            <!-- <button class="btn btn-lg text-white" 
              (click)="onConnect();"
              style="background-image: linear-gradient(122deg, #00FFCC 0%, #33ccff 93%); border-top-left-radius: 5px; border-bottom-left-radius: 5px; border: none;">JOIN PRE-ALPHA</button> -->

            <a [routerLink]="['/login']" class="btn btn-canya-tools btn-lg text-white">JOIN ALPHA</a>

            <br class="hidden-md-down">
            <br class="hidden-md-down">
            <br class="hidden-md-down">
            <br class="hidden-md-down">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!currentUser" class="row partner">
      <div class="col-6 col-md-3">
        <a [routerLink]="['/search', 'content']" class="flex-icon" data-scrollto="section-main">
          <i class="icon-it-network text-primary"></i>
          <span class="hidden-md-down">CONTENT CREATORS</span>
          <span class="hidden-lg-up">CREATORS</span>
        </a>
      </div>

      <div class="col-6 col-md-3">
        <a [routerLink]="['/search', 'designer']" class="flex-icon" data-scrollto="section-main">
          <i class="icon-designers text-primary"></i>
          <span class="hidden-md-down">DESIGNERS & CREATIVES</span>
          <span class="hidden-lg-up">DESIGNERS</span>
        </a>
      </div>

      <div class="col-6 col-md-3">
        <a [routerLink]="['/search', 'developer']" class="flex-icon" data-scrollto="section-main">
          <i class="icon-web-development text-primary"></i>
          <span class="hidden-md-down">SOFTWARE DEVELOPERS</span>
          <span class="hidden-lg-up">DEVELOPERS</span>
        </a>
      </div>

      <div class="col-6 col-md-3">
        <a [routerLink]="['/search', 'assistant']" class="flex-icon" data-scrollto="section-main">
          <i class="icon-virtual-assistants text-primary"></i>
          <span class="hidden-md-down">VIRTUAL ASSISTANTS</span>
          <span class="hidden-lg-up">ASSISTANTS</span>
        </a>
      </div>
    </div>

  </div>
</header>
<!-- END Header -->