.dao-dash {
  color: #00aced !important;
}

.dao-dash h4 {
  color: #00aced !important;
}

.stat-header {
  color: #00aced;
}

.list-stats {
  color: #00aced !important;
}

.escrow-state {
  color: #ff6666;
}
