<div class="flex flex-col gap-[16px]">
  <div class="flex items-start gap-[16px]">
    <img
      src="/assets/massimo/svg/canworkLogo.svg"
      alt="tabler"
      class="w-[48px] h-[48px]"
    />
    <div class="w-full flex flex-col gap-[8px] animate-pulse">
      <div class="w-full h-[16px] bg-G300 rounded-full"></div>
      <div class="w-[300px] h-[14px] bg-G200 rounded-full"></div>
    </div>
  </div>
  <div class="flex flex-col gap-[16px] animate-pulse">
    <div class="w-full h-[14px] bg-G300 rounded-full"></div>
    <div class="w-full h-[14px] bg-G200 rounded-full"></div>
    <div class="w-full h-[14px] bg-G200 rounded-full"></div>
  </div>
</div>
