<!-- For mobile devices `autocapitalize` || `keyup.shift.enter` required to emulate 'enter' keypress -->
<input
  id="tagInputBox"
  list="tagsList"
  class="form-control"
  placeholder="Search skills e.g html, css, frontend"
  (blur)="onBlurMethod()"
  (focus)="onFocusMethod()"
  [class.invalid]="acceptedTags.length <= 0"
  (keyup.enter)="onTagEnter()"
  (keyup.,)="onTagEnter()"
  (keyup)="onDropDownTT()"
  [(ngModel)]="tagInput"
  [ngModelOptions]="{ standalone: true }"
  (change)="onTagChange()"
  autocapitalize="none"
  (keyup.shift.enter)="onTagEnter()"
/>

<app-popper
  tooltipText=""
  targetId="tagInputBox"
  tooltipId="tagInputTT"
  [disableShowHide]="true"
  (click)="onTagEnter()"
></app-popper>

<small class="text-primary text-wrap" *ngIf="tagSelectionInvalid"
  >You can only add 6 tags to a project (up to 14 characters long)
</small>

<app-skill-tag
  *ngFor="let tag of acceptedTags"
  class="skill-tag mr-5 pointer"
  (click)="removeTag(tag)"
  [skill]="tag"
></app-skill-tag>

<datalist id="tagsList">
  <option *ngFor="let tag of skillTagsList" value="{{ tag }}"> </option>
</datalist>
