<!-- For mobile devices `autocapitalize` || `keyup.shift.enter` required to emulate 'enter' keypress -->

<app-popper
  tooltipText=""
  targetId="tagInputBox"
  tooltipId="tagInputTT"
  [disableShowHide]="true"
  (click)="onTagEnter()"
></app-popper>

<div
  class="flex flex-wrap gap-[8px] py-[8px] px-[16px] border border-G200 text-G500 font-sans font-b1 bg-G50 rounded-xl"
>
  <app-skill-tag
    *ngFor="let tag of acceptedTags"
    (click)="removeTag(tag)"
    [skill]="tag"
    [cancel]="true"
  ></app-skill-tag>

  <input
    id="tagInputBox"
    list="tagsList"
    class="border-none outline-none bg-transparent placeholder:text-b1 font-sans"
    [class]="acceptedTags.length === 0 ? 'w-full' : ''"
    [placeholder]="
      acceptedTags.length === 0 ? 'Search skills e.g html, css, frontend' : ''
    "
    (blur)="onBlurMethod()"
    (focus)="onFocusMethod()"
    [class.invalid]="acceptedTags.length === 0"
    (keyup.enter)="onTagEnter()"
    (keyup.,)="onTagEnter()"
    (keyup)="onDropDownTT()"
    [(ngModel)]="tagInput"
    [ngModelOptions]="{ standalone: true }"
    (change)="onTagChange()"
    autocapitalize="none"
    (keyup.shift.enter)="onTagEnter()"
  />
</div>

<div class="flex items-center mt-[10px] gap-1 flex-wrap">
  <div class="mr-[8px]">Popular skill tags:</div>
  <ng-container *ngFor="let item of popularSkillTags">
    <div
      class="py-[6px] px-[16px] border border-G200 bg-G0 rounded-2xl text-b2 select-none cursor-pointer"
      (click)="onTagEnter(item)"
    >
      {{ item }}
    </div>
  </ng-container>
</div>

<error-message
  *ngIf="tagSelectionInvalid == 1"
  message="You can only add 20 skill tags"
/>
<error-message
  *ngIf="tagSelectionInvalid == 2"
  message="Please input tag selection"
/>
<error-message
  *ngIf="tagSelectionInvalid === 3"
  message="You already added this skill."
/>

<datalist id="tagsList">
  <option *ngFor="let tag of skillTagsList" value="{{ tag }}"></option>
</datalist>
