<main class="main-content bg-gray">
  <section class="section bg-gray  py-20" id="section-main">
    <div *ngIf="loading" class="container d-flex h-100 flex-column justify-content-center">
      <img src="assets/img/loader.svg" height="36px" alt="Loader">
    </div>
    <div *ngIf="!loading" class="login-section container min-70">
      <div class="row">
        <div class="col-sm-0 col-md-0 col-lg-2"></div>
        <div class="col-sm-12 col-md-6 col-lg-4 center-block text-center">
          <a *ngIf="pageInit && !isOnMobile" (click)="onUportLogin();" class="d-block pointer">
            <div class="uport-btn">
              <img src="assets/img/uPort.svg">
              <br>
              <p>Login with uPort</p>
            </div>
          </a>
          <div *ngIf="pageInit && isOnMobile" class="d-block text-center">
            <p>
              <i>uPort login method is not available on mobile.</i>
            </p>
          </div>
        </div>
        <div class="other-login col-sm-12 col-md-6 col-lg-4 text-center">
          <h5 style="width: 100%;">Sign in with alternative services</h5>
          <firebase-ui (signInSuccess)="onFirebaseLogin($event)"></firebase-ui>
        </div>
        <div class="col-sm-0 col-md-0 col-lg-2"></div>
      </div>
    </div>
  </section>
</main>
