.main-content {
  min-height: 75vh;
}

.login-section {
  padding-top: 5rem;
}

@media (max-width: 768px) {
  .login-section {
    padding-top: 1.5rem;
  }

  .other-login {
    padding-top: 2rem;
  }
}
