<!-- <section
  class="sm:rounded-[12px] border-t sm:border !border-G200 bg-white py-[40px] sm:px-[40px] sm:py-[24px]"
>
  <div class="text-h6 text-G900 font-medium">Portfolio</div>
  <div class="mt-[16px] flex gap-[16px]">
    <div class="flex flex-col gap-[16px]">
      <img
        src="/assets/massimo/test-portfolio.png"
        alt="test-portfolio"
        class="w-[240px] h-[160px] bg-cover"
      />
      <div class="text-b1 text-G900 font-medium">Roboshard</div>
    </div>
  </div>
</section> -->

<div
  *ngIf="!loaded"
  class="sm:rounded-[12px] border-t sm:border !border-G200 bg-white py-[40px] sm:px-[40px] sm:py-[24px]"
>
  <img src="assets/img/loader.svg" style="height: 36px" alt="Loader" />
</div>
<div *ngIf="loaded" [hidden]="!isMyProfile && allPortfolioItems.length < 1">
  <div
    class="sm:rounded-[12px] border-t sm:border !border-G200 bg-white py-[40px] sm:px-[40px] sm:py-[24px]"
  >
    <div class="card">
      <div class="flex justify-between gap-4">
        <div class="text-h6 text-G900 font-medium">Portfolio</div>
        <plus-button
          *ngIf="isMyProfile && loaded"
          [routerLink]="['/profile/project']"
        />
      </div>
      <div *ngIf="allPortfolioItems.length > 0">
        <div class="row" style="height: 25px"></div>
        <div class="row animated {{ animation }}">
          <div class="col-sm-12">
            <div
              *ngFor="let item of paginatedPortfolioItems(); let i = index"
              class=""
            >
              <!-- To do: place these 3 buttons inside portfolio section -->
              <icon-text-button title="View Portfolio" />
              <icon-text-button type="edit" title="Edit" />
              <icon-text-button type="delete" title="Delete" />
              <app-item
                [workItem]="item"
                [isMyProfile]="isMyProfile"
              ></app-item>
            </div>
          </div>
        </div>
        <div class="row pt-35">
          <div class="col-12 d-flex justify-content-center">
            <button
              class="btn btn-sm"
              [disabled]="currentPage == 0"
              (click)="previousPage()"
            >
              <i class="fa fa-chevron-left"></i>
            </button>
            <button
              class="btn btn-sm"
              [disabled]="currentPage == lastPage"
              (click)="nextPage()"
            >
              <i class="fa fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div
        class="mt-[16px] text-b1 text-G800 font-medium"
        *ngIf="allPortfolioItems.length < 1"
      >
        <div *ngIf="!isMyProfile">This provider has no portfolio</div>
        <div *ngIf="isMyProfile && userModel.type === 'Provider'">
          You have not uploaded any portfolio items
        </div>
      </div>
    </div>
  </div>
</div>
