<main class="main-content">
  <section class="section bg-gray pt-15 pb-20" id="section-profile">
    <app-back-button></app-back-button>
    <div class="container">
      <div class="row">
        <span class="col-6 text-left">
          <h4 class="fw-500 mb-30">MANAGE JOBS</h4>
        </span>
        <span class="col-6 text-right" *ngIf="currentUser?.type == 'Provider'">
          <button class="btn btn-primary" (click)="changeUserType()">
            {{ userType == 'Provider' ? 'Act as Client' : 'Act as Provider' }}
          </button>
        </span>
      </div>
      <div *ngIf="loading" class="d-flex h-100 flex-column justify-content-center" style="min-height: 640px;">
        <img src="assets/img/loader.svg" height="36px" alt="Loader">
      </div>
      <div *ngIf="!loading">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-inline desktop-search-form">
              <label for="orderTypeSelect" class="mb-15">Order By: </label>
              <select class="form-control mb-10 mx-10" #orderTypeSelect [(ngModel)]="orderType">
                <option value="information.title" class="form-control">
                  <span>Project Name</span>
                </option>
                <option value="budget" class="form-control">
                  <span>Budget</span>
                </option>
                <option value="actionLog[0].timestamp" class="form-control">
                  <span>Date Posted</span>
                </option>
              </select>
              <div class="form-check mx-10">
                <span class="mb-10 pointer" (click)="reverseOrder = !reverseOrder">
                  <i *ngIf="reverseOrder" class="fas fa-sort-amount-up"></i>
                  <i *ngIf="!reverseOrder" class="fas fa-sort-amount-down"></i>
                </span>
              </div>
            </div>
            <div class="form-inline desktop-search-form">
              <label for="orderTypeSelect" class="mb-15">Show Only: </label>
              <select class="form-control mb-10 mx-10" #filterTypeSelect [(ngModel)]="filterByState.state" (change)="filterJobsByState()">
                <option value="" class="form-control">
                  <span>All Jobs</span>
                </option>
                <option value="Awaiting Escrow" class="form-control">
                  <span>Jobs Awaiting Escrow</span>
                </option>
                <option value="Funds In Escrow" class="form-control">
                  <span>Funds in Escrow</span>
                </option>
                <option value="Pending completion" class="form-control">
                  <span>Jobs Pending Completion</span>
                </option>
                <option value="Disputed" class="form-control">
                  <span>Jobs In Dispute</span>
                </option>
                <option value="Offer pending" class="form-control">
                  <span>Pending Jobs</span>
                </option>
                <option value="Cancelled" class="form-control">
                  <span>Cancelled</span>
                </option>
                <option value="Complete" class="form-control">
                  <span>Completed Jobs</span>
                </option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="!jobs || jobs.length == 0">
          No jobs to show!
        </div>
        <div *ngIf="jobs && jobs.length > 0">
          <div *ngFor="let job of jobs | orderBy : orderType:reverseOrder" class="card job-dashboard-card mb-15 p-20 pointer" [routerLink]="['/inbox/job', job.id]">
            <div class="row job-info">
              <div class="col-lg-8 col-md-6 col-sm-8">
                <div class="row">
                  <h5 class="col-lg-12">{{job.information.title}}
                  </h5>
                </div>
                <div class="row">
                  <span class="col-lg-12">
                    <div *ngIf="currentUser.type=='User'">
                      <h6 class="fw-500">Posted To : {{job.otherParty?.name}}</h6>
                    </div>
                    <div *ngIf="currentUser.type=='Provider'">
                      <h6 class="fw-500">Posted By : {{job.otherParty?.name}}</h6>
                    </div>
                  </span>
                </div>
                <div class="row">
                  <div class="col-xs-2 col-sm-4 col-md-3 col-lg-2">
                    <div *ngIf="job.otherParty?.avatar && job.otherParty?.avatar?.uri" class="headshot-div" [ngStyle]="{ 'background-image': 'url(' + job.otherParty?.avatar.uri + ')'}">
                    </div>
                  </div>
                  <div class="col-xs-10 col-sm-8 col-md-9 col-lg-10">
                    <h6 class="fw-500">Description</h6>
                    <div style="max-height:50px;">
                      <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                        {{job.information.description}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-4 job-info-status">
                <div class="row">
                  <h5 class="col-12">
                    <app-budget [job]="job"></app-budget>
                  </h5>
                  <div class="col-12">
                    <app-status-icon [job]="job" [currentUserType]="userType"></app-status-icon>
                  </div>
                  <div class="col-12">
                    <p>Date posted : {{ job.actionLog[0].timestamp | date:'dd MMM yyyy' }}</p>
                  </div>
                  <div class="col-12">
                    <app-skill-tag *ngFor="let skill of job.information.skills" [skill]="skill"></app-skill-tag>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
