 

<main class="main-content">

  <section class="section bg-gray py-30" id="section-profile">
    <div class="container">
      <div class="row flex-row" style="border-radius: 5px;">
        <div *ngIf="currentUser" class="col-12 col-md-4 p-0 m-0">
          <div class="card card-bordered view-70">
            <form class="card-header" style="background: white; border-top-left-radius: 5px;">
              <div class="search-container">
                <form class="form-inline justify-content-center" method="post" (ngSubmit)="onSearch(inputSearch.value);">
                  <input #inputSearch placeholder="Search" (keyup)="onKeyUp(inputSearch.value);" [disabled]="isLoading || channels.length < 1"
                    type="text" class="search" size="30">
                  <button class="btn" style="display: none;" type="submit">Go</button>
                </form>
              </div>
            </form>

            <div class="list-group list-group-flush" style="min-height: 420px; max-height: 420px; overflow-y: auto;">
              <div *ngFor="let channel of queryChannels;let i = index">
                <a *ngIf="selectedChannel && channel" (click)="onSelect(channel);" class="list-group-item list-group-item-action" [ngClass]="{ 'active': selectedChannel.address === channel.address }"
                  style="cursor: pointer;">
                  <span *ngIf="channel.unreadMessages" class="badge-notification badge-danger"></span>
                  <div class="media">
                    <img [src]="channel.avatar.uri || 'assets/img/placeholder.png'" class="avatar avatar-sm mt-8" alt="Canya - avatar">
                    <div class="media-body ml-2">
                      <div class="d-flex justify-content-between align-items-center">
                        <h6 class="text-canya mb-0">{{ channel.name }}
                        </h6>
                        &nbsp;&nbsp;&nbsp;
                        <div>
                          <small class="text-muted">{{ channel.timestamp | date:'dd MMM' }}</small>
                        </div>

                      </div>
                      <span class="text-dark text-small col-11 p-0">{{ channel.message.length > 30 ? (channel.message | slice:0:30)+'...':(channel.message) }}</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="card-footer bg-white p-10 m-0" style="border-bottom-right-radius: 5px;">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="fw-300 my-0 py-0 mx-20">
                  <img class="logo-default" src="assets/img/round-icon.svg" width="auto" height="24px" alt="logo" style="margin-top: -3px;">{{ balance | currency:' ':'symbol':'1.2-3':'en-US' }}
                </h4>
                <button (click)="onBuy();" class="btn btn-primary mx-10 hidden-md-down" border-64>
                  BUY CAN
                </button>
                <a (click)="onBuy();" class="btn btn-default mx-10 hidden-md-up" border-64 border-none>
                  <img src="assets/img/round-icon.svg" width="auto" height="24px" alt="CanYaCoin" style="margin-top: -3px;">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-8 p-0 m-0">
          <div class="card card-bordered view-70">
            <div *ngIf="selectedChannel" class="card-header d-flex justify-content-between align-items-center" style="background: white; min-height: 61px; max-height: 61px; border-top-left-radius: 5px;">

              <a [routerLink]="['/profile', selectedChannel.address]">
                <div class="media align-items-center">
                  <img alt="Image" [src]="selectedChannel.avatar.uri || 'assets/img/placeholder.png'" class="avatar avatar-sm">
                  <div class="media-body">
                    <h6 class="mt-4 mb-0">{{ selectedChannel.name }}
                    </h6>
                    <span class="text-muted text-small">{{ selectedChannel.title }}</span>&nbsp;
                  </div>
                </div>
              </a>

              <div class="topbar-right">
                <a href="#" class="btn btn-primary btn-outline hidden-lg-down" data-toggle="modal" data-target="#postARequest" border-64>
                  POST A REQUEST
                </a>
                <a href="#" class="btn btn-action hidden-md-up" data-toggle="modal" data-target="#postARequest" border-none>
                  <div class="icon-request"></div>
                </a>

                &nbsp;&nbsp;
                <a *ngIf="currentUser.type === 'Provider'" href="#" class="btn btn-canya-tools text-white hidden-lg-down" data-toggle="modal"
                  data-target="#makeAnOffer" border-64>
                  MAKE AN OFFER
                </a>
                <a href="#" class="btn btn-action hidden-md-up" data-toggle="modal" data-target="#makeAnOffer" border-none>
                  <div class="icon-offer"></div>
                </a>
              </div>
            </div>
            <div id="section-messages" class="card-block" style="overflow-y: auto" (click)="readIfUnread()">

              <div *ngIf="selectedChannel" class="row justify-content-end mb-0">
                <div class="col text-center">
                  <small>Conversation started: {{ selectedChannel.timestamp | date }}</small>
                </div>
              </div>
              <p *ngIf="!isLoading && channels.length < 1" class="text-dark opacity-60 my-80 text-center">Uh, oh, no messages yet! Try again later.</p>
              <div *ngIf="!isLoading || channels.length > 0" class="row justify-content-center">

                <div class="col-auto mx-30 my-5">
                  <div class="card bg-white card-request">

                    <div class="card-header bg-white card-rounded-header">
                      <p class="text-dark fw-400 my-0">What do you want to do?</p>
                    </div>

                    <div class="card-block p-10">
                      <p class="text-dark mb-8">You can post a request or make an offer at any time. CanYa do something for you?</p>
                    </div>

                    <div class="card-footer bg-white text-center card-rounded-footer">
                      <div class="row justify-content-center">
                        <div class="col-6">
                          <a href="#" class="fs-14 fw-400" data-toggle="modal" data-target="#postARequest">POST A REQUEST</a>
                        </div>
                        <div class="col-6">
                          <a href="#" class="fs-14 fw-400" data-toggle="modal" data-target="#makeAnOffer">MAKE AN OFFER</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngFor="let message of messages;let i = index">
                <div *ngIf="message.type === 'MESSAGE'" class="row" [ngClass]="{ 'justify-content-start': message.address !== currentUser.address, 
                  'justify-content-end': message.address === currentUser.address }">

                  <div class="col-auto mx-30 my-5">
                    <div class="card card-message" [ngClass]="{ 
                        'bg-secondary': message.address === currentUser.address,
                        'from-me': message.address === currentUser.address,
                        'from-user': message.address !== currentUser.address  }" [ngStyle]="{ 'color': message.address !== currentUser.address ? 'white':'',
                      'background': message.address !== currentUser.address ? '#3cf':'#e4e7ea' }" style="border-radius:15px;">
                      <div class="card-block p-2 card-message-block">
                        <p class="fw-400 mb-0">
                          {{ message.message }}
                        </p>
                        <div class="text-right">
                          <small [ngClass]="{ 'text-dark opacity-40': message.address === currentUser.address,
                            'text-white opacity-60': message.address !== currentUser.address }">{{ message.timestamp | date:'EEEE, h:mm a' }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="message.type === 'REQUEST' || message.type === 'OFFER' || message.type === 'CHECKOUT'" class="row justify-content-center">
                  <div class="col-auto mx-30 my-5">
                    <div class="card bg-white card-request">

                      <div class="card-header bg-white card-rounded-header">
                        <p *ngIf="message.address === currentUser.address && message.type === 'REQUEST'" class="text-dark fw-400 my-0">You've sent a request.</p>
                        <p *ngIf="message.address !== currentUser.address && message.type === 'REQUEST'" class="text-dark fw-400 my-0">You've received a request.</p>

                        <p *ngIf="message.address === currentUser.address && message.type === 'OFFER'" class="text-dark fw-400 my-0">You've sent an offer.</p>
                        <p *ngIf="message.address !== currentUser.address && message.type === 'OFFER'" class="text-dark fw-400 my-0">You've received an offer.</p>

                        <p *ngIf="message.address === currentUser.address && message.type === 'CHECKOUT'" class="text-dark fw-400 my-0">Order confirmation.</p>
                        <p *ngIf="message.address !== currentUser.address && message.type === 'CHECKOUT'" class="text-dark fw-400 my-0">Checkout.</p>
                      </div>

                      <div class="card-block p-10">
                        <p *ngIf="message.type === 'REQUEST'" class="text-dark fw-400 m-0">CanYa do this?</p>
                        <p class="text-dark mb-8">
                          {{ message.message }}
                        </p>
                        <div>
                          <p *ngIf="message.type === 'REQUEST'" class="text-dark fw-400 m-0">My budget is:</p>
                          <p *ngIf="message.type === 'REQUEST'" class="text-dark mb-1">
                            <img src="assets/img/canya-media-coin.png" style="margin-top: -3px;" width="16px" height="16px" alt="CanYa"> {{ message.budget }} CanYaCoins
                          </p>

                          <p *ngIf="message.type === 'OFFER'" class="text-dark fw-400 m-0">My offer is:</p>
                          <p *ngIf="message.type === 'OFFER'" class="text-dark mb-1">
                            <img src="assets/img/canya-media-coin.png" style="margin-top: -3px;" width="16px" height="16px" alt="CanYa"> {{ message.price }} CanYaCoins
                          </p>

                          <p *ngIf="message.type === 'CHECKOUT'" class="text-dark fw-400 m-0">Total:</p>
                          <p *ngIf="message.type === 'CHECKOUT'" class="text-dark mb-1">
                            <img src="assets/img/canya-media-coin.png" style="margin-top: -3px;" width="16px" height="16px" alt="CanYa"> {{ message.budget }} CanYaCoins
                          </p>
                        </div>
                      </div>

                      <div class="card-footer bg-white text-center card-rounded-footer">

                        <a *ngIf="message.address !== currentUser.address && message.type === 'REQUEST'" href="#" (click)="onAccept(message, 'REQUEST');"
                          class="btn-block fs-14 fw-400" data-toggle="modal" data-target="#makeAnOffer">I CAN</a>
                        <p *ngIf="message.address === currentUser.address && message.type === 'REQUEST'" class="text-dark opacity-60 mb-0">Waiting for confirmation</p>

                        <a *ngIf="message.address !== currentUser.address && message.type === 'OFFER'" href="#" (click)="onAccept(message, 'OFFER');"
                          class="btn-block fs-14 fw-400">I ACCEPT</a>
                        <p *ngIf="message.address === currentUser.address && message.type === 'OFFER'" class="text-dark opacity-60 mb-0">Waiting for confirmation</p>
                        <div *ngIf="message.address !== currentUser.address && message.type === 'CHECKOUT'" class="row justify-content-center">
                          <div class="col-6">
                            <a href="#" (click)="onPayLater(message)" class="text-dark opacity-60 fs-14 fw-400" data-toggle="modal" data-target="#fakeModal">PAY LATER</a>
                          </div>
                          <div class="col-6">
                            <a href="#" (click)="onPayNow(message)" class="fs-14 fw-400" data-toggle="modal" data-target="#fakeModal">PAY NOW</a>
                          </div>
                        </div>
                        <p *ngIf="message.address === currentUser.address && message.type === 'CHECKOUT'" class="text-dark opacity-60 mb-0">Waiting for payment</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="section-messages-end"></div>
            </div>

            <div class="card-footer bg-white" style="border: none; border-bottom-right-radius: 5px;">
              <form #frm (ngSubmit)="onSend()" class="d-flex align-items-center">
                <div class="input-group input-group-lg">
                  <div class="input-group-prepend bg-white">
                    <div class="dropdown dropup">
                      <button [disabled]="isLoading || channels.length < 1" class="btn btn-secondary btn-outline mt-7 dropdown-toggle-no-arrow"
                        style="border: none; background: white; margin-top: 6px;" type="button" id="menu" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars fw-100 fs-20"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="menu">
                        <small class="dropdown-header">Quick replies</small>
                        <div class="dropdown-divider"></div>
                        <a *ngFor="let macro of macros" (click)="onMacro(macro.text);" class="dropdown-item drop-action" style="cursor: pointer;">{{ macro.text }}</a>
                      </div>
                    </div>
                  </div>
                  <input #msgInput [(ngModel)]="message" (focus)="readIfUnread()" [disabled]="isLoading || channels.length < 1" class="form-control"
                    minlength="2" maxlength="500" type="text" placeholder="Type a message" name="message" autofocus="autofocus"
                    required>
                </div>
                <button [disabled]="!msgInput.validity.valid || isLoading || channels.length < 1" type="submit" class="btn btn-light" style="border: none;">
                  <span class="text-dark">SEND</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

 


<!-- Request Modal -->
<div class="modal fade" id="postARequest" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="true" aria-labelledby="postARequestModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="subscribeModalLabel">Post a request</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="text-dark fs-14 fw-600"></h6>
        <div class="align-self-center align-items-center my-10">

          <form [formGroup]="postForm" (ngSubmit)="onPostRequest()" class="form form-type-material validate" novalidate>
            <div class="col-12 col-lg-12">
              <div class="form-group">
                <label class="text-dark">Describe the service or task you're looking to purchase:</label>
                <textarea class="form-control" #description formControlName="description" rows="2" name="description" placeholder="I'm looking for..."
                  [class.invalid]="!postForm.controls.description.valid && postForm.controls.description.dirty"></textarea>

                <small *ngIf="!postForm.controls.description.valid" class="text-primary text-wrap">e.g. 'Custom Logo' or 'Milestone 1 - Wireframes'.</small>
              </div>

              <div class="form-group">
                <label class="text-dark">What is your budget for this service?</label>

                <input #budget formControlName="budget" class="form-control" type="number" name="budget" min="10" placeholder="10 CanYaCoins minimum"
                  [class.invalid]="!postForm.controls.budget.valid && postForm.controls.budget.dirty">

                <small *ngIf="!postForm.controls.budget.valid && postForm.controls.budget.dirty" class="text-primary">Must be 10 CanYaCoins or higher.</small>
              </div>

            </div>

            <div class="modal-footer">
              <img *ngIf="isSending" src="assets/img/loader.svg" height="36px" alt="CanYa Coin">

              <button type="submit" class="btn btn-primary btn-canya-chat btn-block" [disabled]="!postForm.valid || isSending">POST</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Make an offer Modal -->
<div class="modal fade" id="makeAnOffer" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="true" aria-labelledby="makeAnOfferLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="subscribeModalLabel">Make an offer</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="text-dark fs-14 fw-600"></h6>
        <div class="align-self-center align-items-center my-10">

          <form [formGroup]="offerForm" (ngSubmit)="onMakeAnOffer()" class="form form-type-material validate" novalidate>
            <div class="col-12 col-lg-12">
              <div class="form-group">
                <label class="text-dark">Describe the service or task you're offering:</label>
                <textarea class="form-control" #description formControlName="description" rows="2" name="description" placeholder="I will design or develop..."
                  [class.invalid]="!offerForm.controls.description.valid && offerForm.controls.description.dirty"></textarea>

                <small *ngIf="!offerForm.controls.description.valid" class="text-primary text-wrap">e.g. 'Custom Logo' or 'Milestone 1 - Wireframes'.</small>
              </div>

              <div class="form-group">
                <label class="text-dark">What is the price for this service?</label>

                <input #price formControlName="price" class="form-control" type="number" name="price" min="10" placeholder="10 CanYaCoins minimum"
                  [class.invalid]="!offerForm.controls.price.valid && offerForm.controls.price.dirty">

                <small *ngIf="!offerForm.controls.price.valid && offerForm.controls.price.dirty" class="text-primary">Must be 10 CanYaCoins or higher.</small>
              </div>

            </div>

            <div class="modal-footer">
              <img *ngIf="isSending" src="assets/img/loader.svg" height="36px" alt="CanYa Coin">
              <button type="submit" class="btn btn-primary btn-canya-chat btn-block" [disabled]="!offerForm.valid || isSending">SEND</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirm transaction Modal -->
<div class="modal fade" id="confirmTransaction" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="true" aria-labelledby="confirmTransactionLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-danger" id="subscribeModalLabel">Warning!</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div *ngIf="currentUser && selectedChannel" class="row d-flex justify-content-center align-self-center align-items-center text-center bb-1">
          <div class="col">
            <img [src]="currentUser.avatar.uri || 'assets/img/placeholder.png'" class="avatar mt-10 mb-20" alt="CanYa">
          </div>
          <div class="col">
            <i class="ti-arrow-right text-dark fs-24"></i>
          </div>
          <div class="col">
            <img [src]="selectedChannel.avatar.uri || 'assets/img/placeholder.png'" class="avatar mt-10 mb-20" alt="CanYa">
          </div>
        </div>

        <h5 *ngIf="modalData && modalData.budget" class="fw-400 mt-10 mb-0">You're about to send
          <span class="fs-30 fw-500">{{ modalData.budget }} CAN</span>&nbsp;to address:&nbsp;</h5>

        <h5 *ngIf="userModel && userModel.ethAddress" class="fw-400 mb-10">
          <mark>{{ userModel.ethAddress }}</mark>.</h5>

        <small class="fw-400 mb-10">
          <i class="fa fa-exclamation-triangle"></i>&nbsp;You're interacting with
          <strong>Main Ethereum Network</strong>, provided by MetaMask.</small>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">No, get me out of here!</button>
          <button (click)="onConfirmTransaction();" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Yes, I am sure! Make transaction</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Wallet locked -->
<div class="modal fade" id="walletLocked" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="true" aria-labelledby="walletLockedLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="subscribeModalLabel">Oops!</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <h6 class="text-dark fs-14 fw-600"></h6> -->
        <div class="d-flex flex-column justify-content-center align-self-center align-items-center text-center my-10">
          <h2 class="fw-400 mb-0">Your MetaMask is locked!</h2>
          <img src="assets/img/metamask.svg" width="140px" height="140px">
          <h4 class="fw-300 mb-10">Simply open MetaMask follow the instructions to unlock it, reload the page and try again.</h4>
          <img src="assets/img/metamask-buy.png">
        </div>
      </div>
    </div>
  </div>
</div>
