.skill-tag {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2988b3;
  background-color: #ebf9ff;
  border-radius: 16px;
  padding: 4px 16px;
  margin-right: 5px;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.25s all ease-out;
}

.skill-tag:hover {
  outline: none;
  transition-delay: 0.1s;
  background-color: #33ccff;
  color: white;
}

.pointer {
  cursor: pointer;
}
