.skill-tag {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #005E89;
  background-color: #3AC2FF1A;
  border-radius: 16px;
  padding: 4px 16px;
  margin-right: 5px;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.25s all ease-out;
}
.cancel-skill-tag {
  font-family: "General Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #005E89;
  background-color: #3AC2FF1A;
  border-radius: 16px;
  margin-right: 5px;
  text-transform: capitalize;
  display: flex;
  padding: 6px 8px 6px 16px;
  align-items: center;
  gap: 8px;
  transition: 0.25s all ease-out;
}
.cancel-skill-tag:hover, .skill-tag:hover {
  outline: none;
  transition-delay: 0.1s;
  background-color: #33ccff;
  color: white;
}

.pointer {
  cursor: pointer;
}
