<div class="card p-30 row mh-250 text-center">
  <p>Sit tight! We need to work out back end magic to process your transaction</p>
  <br />
  <p>
    <b>Order ID:</b>
    <br />
    <b style="color: #6d6d6d;"><a href="{{orderUrl}}" target="_blank">{{formData.key}}</a></b>
  </p>

  <div class="text-center mb-20">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <p class="mb-10">You will be notified via email when your transaction is successful</p>

  <div class="alert alert-warning">
    Reminder: You will still need to make a further transaction
  </div>
</div>
