<footer _ngcontent-c2="" class="site-footer-new bg-main-new">
  <div class="row">
    <div class="col-12">
      <div class="footer-inner-container row">
        <div class="col-12 row">
          <div class="col-12 col-lg-3 my-3 text-center">
            <img
              src="/assets/img/branding/canya-logo-w-tagline.png"
              class="footer-logo"
            />
            <div class="py-2 d-lg-none"></div>
          </div>
          <div class="d-none d-sm-block col-6 col-lg-3 my-3">
            <div class="footer-url-title">Freelancers</div>
            <div class="py-2"></div>
            <div class="">
              <ul class="footer-url-list pl-0">
                <li *ngFor="let type of providerTypes">
                  <a
                    [routerLink]="['/search']"
                    [queryParams]="{
                      'refinementList[category][0]': type.name,
                      category: type.id
                    }"
                  >
                    {{ type.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-none d-sm-block col-6 col-lg-2 my-3">
            <div class="footer-url-title">Website</div>
            <div class="py-2"></div>
            <div class="">
              <ul class="footer-url-list pl-0">
                <!-- TODO: What links do we want here? And what order should they be in? -->
                <li>
                  <a [routerLink]="['/auth']" *ngIf="!currentUser">Register</a>
                </li>
                <li>
                  <a [routerLink]="['/auth']" *ngIf="!currentUser">Sign In</a>
                </li>
                <li><a href="./">Home</a></li>
                <li><a [routerLink]="['/jobs']">Job Board</a></li>
                <li><a [routerLink]="['/blog']">Blog</a></li>
                <li><a [routerLink]="['/search']">Search</a></li>
              </ul>
            </div>
          </div>
          <div class="d-none d-sm-block col-6 col-lg-2 my-3">
            <div class="footer-url-title">Company</div>
            <div class="py-2"></div>
            <div class="">
              <ul class="footer-url-list pl-0">
                <!-- TODO: What links do we want here? -->
                <li>
                  <a href="https://t.me/joinchat/GI97FhDD1lf6dh-r9XRdvA"
                    >Community</a
                  >
                </li>
                <li><a href="">About Us</a></li>
                <!--<li><a href="">Careers</a></li> -->
                <li><a [routerLink]="['/faq']">FAQs</a></li>
                <li><a [routerLink]="['/brand']">Contact Us</a></li>
                <li><a [routerLink]="['/brand']">Help & Support</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-2 my-3">
            <div class="footer-url-title">Socials</div>
            <div class="py-2"></div>
            <div class="social-icons-container">
              <a
                href="https://www.facebook.com/CanWorkPlatform"
                target="_blank"
                rel="noreferrer"
              >
                <img
                  src="/assets/img/socials/facebook.svg"
                  height="36px"
                  class="mb-2"
                />
              </a>
              <a
                href="https://www.instagram.com/canwork.io/"
                target="_blank"
                rel="noreferrer"
              >
                <img
                  src="/assets/img/socials/instagram.svg"
                  height="36px"
                  class="mb-2"
                />
              </a>
              <a
                href="https://t.me/joinchat/GI97FhDD1lf6dh-r9XRdvA"
                target="_blank"
                rel="noreferrer"
              >
                <img
                  src="/assets/img/socials/telegram.svg"
                  height="36px"
                  class="mb-2"
                />
              </a>
              <!-- TODO: Change to gitlab icon? or point to github mirror repo? -->
              <a
                href="https://gitlab.com/canyacoin/canwork"
                target="_blank"
                rel="noreferrer"
              >
                <img
                  src="/assets/img/socials/gitlab.svg"
                  height="36px"
                  class="mb-2"
                />
              </a>
              <a
                href="https://twitter.com/canwork_"
                target="_blank"
                rel="noreferrer"
              >
                <img
                  src="/assets/img/socials/twitter.svg"
                  height="36px"
                  class="mb-2"
                />
              </a>
            </div>
          </div>

          <div class="d-none d-lg-block col-3"></div>
          <div class="col-12 col-lg-9 footer-divider mb-3"></div>

          <div class="d-none d-lg-block col-3"></div>
          <div class="col-12 col-lg-9 row text-center mt-3 footer-bottom-text">
            <div class="col-12 col-lg-5 my-2">
              Copyright 2018 - 2023 CanWork.io
            </div>
            <!-- TODO: Add terms page and link? Or remove it? -->
            <div class="col-6 col-md-4 col-lg-2 my-2">
              <a
                href="https://app.canwork.io/assets/docs/canwork-terms-and-conditions.pdf"
              >
                Terms
              </a>
            </div>
            <!-- TODO: Add Privacy page and link? Or remove it? -->
            <div class="col-6 col-md-4 col-lg-2 my-2">
              <a
                href="https://app.canwork.io/assets/docs/canwork-privacy-policy.pdf"
              >
                Privacy
              </a>
            </div>
            <!-- TODO: Add Accessibility page and link? Or remove it? 
            <div class="d-none d-md-block col-4 col-lg-3 my-2">
              Accessibility
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
