<footer _ngcontent-c2="" class="site-footer-new bg-main-new">
  <div class="row">
    <div class="col-12">
      <div class="footer-inner-container row">
        <div class="col-12 row">
          <div class="col-12 col-lg-3 my-3 text-center">
            <img
              src="/assets/img/branding/canya-logo-w-tagline.png"
              class="footer-logo"
            />
            <div class="py-2 d-lg-none"></div>
          </div>
          <div class="d-none d-sm-block col-6 col-lg-3 my-3">
            <div class="footer-url-title">Freelancers</div>
            <div class="py-2"></div>
            <div class="">
              <ul class="footer-url-list pl-0">
                <li><a href="">Content Creators</a></li>
                <li><a href="">Software Developers</a></li>
                <li><a href="">Designers & Developers</a></li>
                <li><a href="">Financial Experts</a></li>
                <li><a href="">Marketing & SEO</a></li>
                <li><a href="">Virtual Assistants</a></li>
              </ul>
            </div>
          </div>
          <div class="d-none d-sm-block col-6 col-lg-2 my-3">
            <div class="footer-url-title">Website</div>
            <div class="py-2"></div>
            <div class="">
              <ul class="footer-url-list pl-0">
                <li><a href="">Register</a></li>
                <li><a href="">Sign In</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Job Board</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Search</a></li>
              </ul>
            </div>
          </div>
          <div class="d-none d-sm-block col-6 col-lg-2 my-3">
            <div class="footer-url-title">Company</div>
            <div class="py-2"></div>
            <div class="">
              <ul class="footer-url-list pl-0">
                <li><a href="">Community</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Help & Support</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-2 my-3">
            <div class="footer-url-title">Socials</div>
            <div class="py-2"></div>
            <div class="social-icons-container">
              <img
                src="/assets/img/socials/facebook.svg"
                height="36px"
                class=""
              />
              <img
                src="/assets/img/socials/linkedin.svg"
                height="36px"
                class="m-2"
              />
              <img
                src="/assets/img/socials/instagram.svg"
                height="36px"
                class=""
              />
              <img
                src="/assets/img/socials/telegram.svg"
                height="36px"
                class=""
              />
              <img
                src="/assets/img/socials/github.svg"
                height="36px"
                class="m-2"
              />
              <img
                src="/assets/img/socials/twitter.svg"
                height="36px"
                class=""
              />
            </div>
          </div>

          <div class="d-none d-lg-block col-3"></div>
          <div class="col-12 col-lg-9 footer-divider mb-3"></div>

          <div class="d-none d-lg-block col-3"></div>
          <div class="col-12 col-lg-9 row text-center mt-3 footer-bottom-text">
            <div class="col-12 col-lg-5 my-2">
              Copyright 2018 - 2022 CanWork.io
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2">Terms</div>
            <div class="col-6 col-md-4 col-lg-2 my-2">Privacy</div>
            <div class="d-none d-md-block col-4 col-lg-3 my-2">
              Accessibility
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
