<div
  class="w-full rounded-[12px] overflow-hidden bg-white p-[32px] grid gap-4 border border-G200"
>
  <div class="flex justify-between gap-5">
    <div class="w-full flex gap-6 items-center">
      <img
        src="/assets/massimo/images/creatives.png"
        class="w-[48px] h-[48px]"
      />
      <div class="grid gap-1">
        <div class="text-G900 text-h6 font-medium">Website Design Project</div>
        <div class="text-G500 text-b2">Posted 20 minutes ago</div>
      </div>
    </div>
    <div
      class="border rounded-md border-G300 w-[32px] h-[32px] flex items-center justify-center bg-white cursor-pointer hover:bg-G100 transition-all duration-150"
    >
      <img src="/assets/massimo/svg/bookmark.svg" class="select-none" />
    </div>
  </div>
  <div class="line-clamp-4">
    Hello, looking for someone precise that can check a diecut on correctness,
    since it has been most likely wrongly sized as seen in the attached image.
    The diecut that we think is wrong and needs to be adjusted is the mailerbox
    on the right side of the image. The left one is the sleeve that will go over
    the mailerbox and sizing is correct in size.I need small re-adjustments The
    left one is the sleeve that will go over the mailerbox and sizing is correct
    in size.I need small re-adjustments The left one is the sleeve that will go
    over the mailerbox and sizing is correct in size.I need small re-adjustments
    The left one is the sleeve that will go over the mailerbox and sizing is
    correct in size.I need small re-adjustments
  </div>
  <div class="flex gap-2 items-center">
    <basic-tag [type]="2" title="Figma" />
    <basic-tag [type]="2" title="UI/UX" />
    <basic-tag [type]="2" title="Website" />
    <basic-tag [type]="2" title="No Code" />
  </div>

  <div class="flex gap-6 items-start">
    <div class="flex gap-2 items-center">
      <img src="/assets/massimo/svg/jobLocation.svg" class="select-none" />
      <div class="text-G500 text-b2">Location</div>
      <!-- to do google address -->
      <div class="text-G700 text-b1 font-medium">San Franciso</div>
    </div>
    <div class="flex gap-2 items-center">
      <img src="/assets/massimo/svg/jobBudget.svg" class="select-none" />
      <div class="text-G500 text-b2">Fixed Price:</div>
      <div class="text-G700 text-b1 font-medium">$500 USD</div>
    </div>
    <div class="flex gap-2 items-center">
      <img src="/assets/massimo/svg/jobDeadline.svg" class="select-none" />
      <div class="text-G500 text-b2">Project Deadline</div>
      <div class="text-G700 text-b1 font-medium">Tues 18 January</div>
    </div>
    <div class="flex gap-2 items-center">
      <img src="/assets/massimo/svg/jobProposals.svg" class="select-none" />
      <div class="text-G500 text-b2">Proposals:</div>
      <div class="text-G700 text-b1 font-medium">20 proposals</div>
    </div>
  </div>
</div>
