<div class="card px-30 py-30 row mh-250">
  <div *ngIf="paymentSummary" class="container text-center">
    <div *ngIf="showBalance && balance < amount" class="alert alert-warning">
      <i class="fas fa-exclamation-triangle"></i> You do not have enough CAN to
      process this transaction
    </div>
    <div class="row mb-15">
      <div class="col-8 text-left">
        <i class="fas fa-shopping-cart"></i> Your order summary
      </div>
    </div>
    <div class="row">
      <div class="col-8 text-left">
        <span class="fw-600">{{ paymentSummary.job.name }}</span>
      </div>
      <div class="col-4 text-right">
        <span>
          $ {{ paymentSummary.job.usdValue }}
          <span class="fs-12">
            {{ paymentSummary.assetsymbol }}
          </span>
        </span>
      </div>
    </div>
    <hr class="mb-5 mt-20" />
    <div class="row">
      <div class="col-8 text-left">
        <span class="fw-600">Total:</span>
      </div>
      <div class="col-4 text-right">
        <span>
          <span class="fw-500 fs-20">$ {{ paymentSummary.job.usdValue }} </span>
          <span class="fs-12">
            USD
          </span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-8 text-left">
        <span class="fw-400"
          >{{ paymentSummary.asset.symbol }} = $
          {{ paymentSummary.asset.usdPrice | number: '1.3-3' }}</span
        >
      </div>
      <div class="col-4 text-right">
        <span class="fw-500 fs-20">{{ this.formatAssetJobBudget }} </span>
        <span class="fs-12">
          <img
            src="{{ this.paymentAssetIconURL }}"
            width="14px"
            height="14px"
            alt="{{ paymentSummary.asset.symbol }}"
          />
          {{ paymentSummary.asset.symbol }}
        </span>
      </div>
    </div>
    <div class="row mt-35" *ngIf="showBalance">
      <div class="col-8 text-left">
        <span class="fw-600">Wallet Balance</span>
      </div>
      <div class="col-4 text-right">
        <span class="fw-500 fs-20">{{ balance }} </span>
        <span class="fs-12">
          <img
            src="assets/img/canya-media-coin.png"
            width="12px"
            height="12px"
            alt="CanYa"
          />
          CAN
        </span>
      </div>
    </div>
  </div>
</div>
