<div class="container">
  <div class="row">
    <div class="col-12 card" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px; margin-bottom: 20px;">
      <div *ngIf="isMyProfile && (userModel.type === 'Provider')" class="p-10 text-center">
        <b>Certifications</b>
        <br>
        <p class="no-margin">You do not have any certifications</p>
        <i>Let's add some!</i>
        <br>
        <button class="btn btn-primary" data-toggle="modal" data-target="#newCertification">Add Certifications</button>
      </div>
    </div>
  </div>
</div>



