<section
  [hidden]="loaded && !isMyProfile && userCertifications.length === 0"
  class="border-t border-G200 bg-white py-[40px] sm:p-[24px]"
>
  <certification-dialog
    [(visible)]="visibleCertificationDialog"
    [selectedCertification]="selectedCertification"
  />
  <confirm-dialog
    [(visible)]="visibleDeleteCertificationDialog"
    title="Delete Certification"
    content="Are you sure you want to delete this certification?"
    (LeftbtnEvent)="onDeleteCertification()"
  />
  <div class="flex justify-between">
    <div class="text-G900 text-h6 font-medium">Certifications</div>
    <plus-button
      *ngIf="isMyProfile && loaded"
      (click)="showCertificationDialog()"
    />
  </div>
  <div class="mt-[16px]">
    <div *ngIf="!loaded" class="flex flex-col gap-[16px]">
      <sk-certification />
      <sk-certification />
    </div>
    <div *ngIf="loaded && userCertifications.length === 0">
      <div class="text-b1 text-G800 font-medium">
        You do not have any certifications
      </div>
    </div>
    <div
      *ngIf="loaded && userCertifications.length > 0"
      class="flex flex-col gap-[16px]"
    >
      <div
        *ngFor="let cert of userCertifications"
        class="flex items-start gap-[16px] relative"
      >
        <img
          src="/assets/massimo/svg/certificate.svg"
          alt="certificate"
          class="w-[24px] h-[24px]"
        />
        <div
          class="flex flex-col gap-[8px]"
          [ngClass]="{ 'pr-[48px]': isMyProfile }"
        >
          <div class="text-b1 text-G800 font-medium">
            {{ cert.course }}
          </div>
          <div class="text-b2 text-G500">
            {{ cert.university }} | {{ cert.startDate }} -
            {{ cert.completion }}
          </div>
          <a
            *ngIf="cert?.certificate && cert?.certificate?.length > 0"
            href="{{ cert?.certificate }}"
            target="_blank"
            class="text-b2 text-C400 font-medium select-none"
          >
            Certificate
          </a>
        </div>

        <p-dropdown
          *ngIf="isMyProfile"
          [options]="items"
          [(ngModel)]="selectedItem"
          appendTo="body"
          class="share-button-style absolute top-0 right-0"
        >
          <ng-template pTemplate="selectedItem">
            <three-dots-button />
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div
              class="flex items-center"
              (click)="showEditCertificationDialog(item, cert)"
            >
              <img
                src="{{ '/assets/massimo/svg/' + item.icon }}"
                class="mr-[16px] w-[20px]"
              />
              <span class="font-medium text-G900">{{ item.label }}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </div>
</section>

<!-- <div class="col-1">
  <a
    data-toggle="modal"
    *ngIf="isMyProfile && userCertifications.length > 0"
    (click)="setAddModal()"
    data-target="#certificationModal"
  >
    <i class="ti-plus fw-600" style="color: #535353" aria-hidden="true"></i>
  </a>
</div> -->
<!-- <div *ngIf="userCertifications.length > 0">
  <div class="row" *ngFor="let cert of userCertifications">
    <div class="col-6">
      <h6 class="mb-0">{{ cert.course }}</h6>
      <p class="text-grey">{{ cert.university }}</p>
    </div>
    <div class="col-6 text-right">
      <h6 class="mb-0">
        {{ cert.startDate }} - {{ cert.completion }}
        <span *ngIf="isMyProfile"
          >&nbsp;&nbsp;&nbsp;
          <i
            (click)="setEditModal(cert)"
            data-toggle="modal"
            data-target="#certificationModal"
            class="ti-pencil text-grey pr-15 fw-600"
            aria-hidden="true"
          ></i>
        </span>
      </h6>
      <a
        class="pr-20"
        *ngIf="cert.certificate !== ''"
        href="{{ cert.certificate }}"
        target="_blank"
        >Certificate</a
      >
    </div>
  </div>
</div>
<div
  *ngIf="
    isMyProfile &&
    userModel.type === 'Provider' &&
    userCertifications.length === 0
  "
>
  <div class="row">
    <div class="col-6">
      <p class="pt-5 no-margin">You do not have any certifications</p>
    </div>
    <div class="col-6 text-right">
      <a
        (click)="setAddModal()"
        data-toggle="modal"
        data-target="#certificationModal"
        *ngIf="isMyProfile && userModel.type === 'Provider'"
        class="btn btn-primary btn-add-work text-white"
        [ngStyle]="{
          background:
            'linear-gradient(122deg, ' +
            userModel.colors[0] +
            ' 0%, ' +
            userModel.colors[1] +
            ' 93%)'
        }"
        >ADD
      </a>
    </div>
  </div>
</div> -->
