<app-top></app-top>

<!-- Header -->
<app-header [empty]="true"></app-header>
<!-- END Header -->

<!-- Main container -->
<main class="main-content">

  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Basic cards
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <section class="section bg-gray py-40" id="section-main">
    <div class="container">

      <header class="section-header my-0 py-0" @logoAnimation>
        <!-- <small>Features</small> -->
        <h2 class="welcome-animation fw-300">Welcome to
          <img class="logo-default" src="assets/img/logo.svg" width="auto" height="28px" alt="logo" style="margin-top: -8px;">
        </h2>
        <p class="lead fw-400">Please, choose your account type:</p>
        <hr>
      </header>

      <div class="row">
        <div class="col">
          <div class="card card-hover-shadow bg-white my-5">
            <div class="card-block">
              <h3 class="card-title">USER</h3>
              <!-- <img class="mb-5" src="assets/img/CanInvoice.svg" width="auto" height="36px"> -->
              <p class="card-text">Anyone who is <strong>looking for service providers</strong>. Pay with cryptocurrency!</p>
              <button (click)="onChoose('User');" class="btn btn-primary btn-canya-chat">I AM A USER</button>
            </div>
          </div>
          <small class="text-danger fw-500 mt-5">IMPORTANT: If you want to be a provider, <u>DO NOT</u> choose this option! If you're one of our MODERATORS, please choose this option.</small>
        </div>
        <div class="col">
          <div class="card card-hover-shadow bg-white my-5">
            <div class="card-block">
              <h3 class="card-title">PROVIDER</h3>
              <!-- <img class="mb-5" src="assets/img/CanTransfer.svg" width="auto" height="36px"> -->
              <p class="card-text">Anyone who has a <strong>digital service</strong> to offer and want to use CanYa to find work.</p>
              <!-- <button (click)="onChoose('Provider');" class="btn btn-primary btn-canya-chat">I AM A PROVIDER</button> -->
              <a href="https://canyacoin.typeform.com/to/r2Bfb0" target="_blank" class="btn btn-primary btn-canya-chat">I AM A PROVIDER</a>
            </div>
          </div>
          <small class="text-danger fw-500 mt-5">IMPORTANT: You will be short-listed and will complete a short skype interview with us.</small>
        </div>
        <div class="col">
          <div class="card card-hover-shadow bg-white my-5">
            <div class="card-block">
              <h3 class="card-title">LOCAL PROVIDER</h3>
              <!-- <img class="mb-5" src="assets/img/CanYa25.svg" width="auto" height="36px"> -->
              <p class="card-text">Are you a <strong>local service provider</strong>? Use our app <img class="mb-5" src="assets/img/CanTask.svg" width="auto" height="18px"> for local services.</p>
              <button disabled="true" class="btn btn-primary btn-canya-chat">COMING SOON</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-hover-shadow bg-white my-5">
            <div class="card-block">
              <h3 class="card-title">UNIQUE PROVIDER</h3>
              <!-- <img class="mb-5" src="assets/img/CanTrack.svg" width="auto" height="36px"> -->
              <p class="card-text">Join our high-end exclusive network and offer <strong>unique luxury services</strong>.</p>
              <button disabled="true" class="btn btn-primary btn-canya-chat">Coming soon</button>
            </div>
          </div>
        </div>

        <!-- break -->
        <!-- <div class="col-12 p-2"></div> -->
        
      </div>

    </div>
  </section>

</main>
<!-- END Main container -->

<app-footer></app-footer>