<section class="flex justify-center bg-G100">
  <div
    class="max-w-[1440px] w-full py-[56px] px-[24px] md:py-[80px] md:px-[64px] flex flex-col-reverse lg:flex-row lg:justify-between items-center gap-[30px]"
  >
    <div class="lg:max-w-[548px] flex flex-col gap-8">
      <div class="flex flex-col gap-2">
        <div
          class="w-max border border-G300 rounded-[24px] py-[6px] px-[16px] text-G500 text-b2 font-medium"
        >
          {{ whyUseSection.question }}
        </div>
        <div class="text-G900 text-h4 md:text-h3 font-medium">
          {{ whyUseSection.title }}
        </div>
        <div class="text-G700 text-b1">
          {{ whyUseSection.subTitle }}
        </div>
      </div>
      <div class="grid gap-6">
        <div *ngFor="let card of whyUseSection.cards" class="flex gap-6">
          <img src="{{ card.iconSrc }}" class="w-[48px] h-[48px] select-none" />
          <div class="grid gap-2">
            <div class="text-G900 text-b1 font-medium">{{ card.title }}</div>
            <div class="text-G700 text-b1">{{ card.description }}</div>
          </div>
        </div>
      </div>
      <!-- <div [routerLink]="['/']" class="w-max">
        <basic-button
          [type]="1"
          [title]="
            isWindowWidthMd()
              ? whyUseSection.buttonText1
              : whyUseSection.buttonText2
          "
        />
      </div> -->
    </div>
    <img
      src="{{ whyUseSection.imgSrc }}"
      class="sm:max-w-[500px] xl:max-w-[600px] select-none"
    />
  </div>
</section>
