<p>
  You have opened another doorway of opportunity by signing up with CanWork. We
  believe in creating a self-sovereign space for people to list their skills and
  services.
</p>
<p>
  CanWork is still in it's early days on BNB Chain, and you are one of the first to be
  listed as a provider!  Thankyou.
</p>
<p>So, What now?</p>
<p>
  Update your profile and upload links and images of your past work in your
  portfolio and place your best foot forward.
</p>
<p>
  The CanWork team thanks you for taking interest in our project and being a part
  of the ecosystem!
</p>
