<p>You have opened another doorway of opportunity by signing up with CanWork. We believe in creating a self-sovereign space
    for people to list their skills and services.</p>
<p>Our platform is still in it’s early days, and you are one of the first to be listed as a provider, and will carry the “ambassador”
    tag to prove it!</p>
<p>So, What now?</p>
<p>Update your profile and upload links and images of your past work in your portfolio and place your best foot forward.</p>
<p>The CanYa Team thanks you for taking interest in our project and being a part of the ecosystem!</p>