<section *ngIf="randomAnimation === 0" class="section bg-white py-1 overflow-hidden explore-margin">
  <div class="container">
    <div class="row align-items-center text-center text-lg-left">
      <div class="col-12 col-md-6 align-self-center">
        <div id="home" style=""></div>
      </div>
      <div class="col-12 col-md-6 align-self-center">
        <img class="mb-5 px-10" src="assets/img/CanApps.svg" width="auto" height="36px">
        <h5 class="fw-300 px-10">Make invoices, send large files, track your projects, or even create your own airdrops! <br> Try our
          <img class="mb-5" src="assets/img/CanApps.svg" width="auto" height="18px">.</h5>
        <a [routerLink]="['/tools']" class="btn btn-lg btn-canya-tools text-white mx-10">
          Check it out
        </a>
      </div>
    </div>
  </div>
</section>
<!--
<section *ngIf="randomAnimation === 1" class="section bg-white py-1 overflow-hidden">
  <div class="container">
    <div class="row align-items-center text-center text-lg-left mt-30">
      <div class="col-12 col-md-7 align-self-center">
        <img class="mb-5 px-10" src="https://canya.io/images/CanApps/illustrations/CanShare.svg" width="auto" height="36px">
        <h5 class="fw-300 px-10">Need to share a large file without hassle?. Try CanShare!</h5>
        <a [routerLink]="['/tools']" class="btn btn-lg btn-canya-tools text-white mx-10">SHOOT A PITCH</a>
      </div>
      <div class="col-12 col-md-5 align-self-center">
        <div id="home"></div>
      </div>
    </div>
  </div>
</section>
-->