<div class="card p-30 row mh-250">

  <div class="text-center deposit-body">
    <h5>
      <span class="listening">Pay exactly&nbsp;</span>
      <span *ngIf="formData.currency != 'ETH'">{{formData.eth}}</span>
      <span *ngIf="formData.currency == 'ETH'">{{formData.eth | number : '1.6-6'}}</span> {{formData.currency}}
      <span class="listening"> here:</span>
    </h5>

    <div class="qr-img">
      <qr-code [value]="ethereumAddress" [size]="220" *ngIf="ethStatus"></qr-code>
      <qr-code [value]="ethereumAddress" [size]="220" *ngIf="!ethStatus"></qr-code>
    </div>
    <div class="address-text">
      <input type="text" value="{{ethereumAddress}}" disabled *ngIf="ethStatus">
      <input type="text" value="{{ethereumAddress}}" disabled *ngIf="!ethStatus">
      <span class="copy-btn">
        <img src="./assets/canex/CANExchange_Copy.svg" ngxClipboard [cbContent]="ethereumAddress" (click)="copyToClipboard(ethereumAddress)"
          *ngIf="ethStatus">
        <img src="./assets/canex/CANExchange_Copy.svg" ngxClipboard [cbContent]="ethereumAddress" (click)="copyToClipboard(ethereumAddress)"
          *ngIf="!ethStatus">
      </span>
      <span *ngIf="copied" style="position: absolute; right: -5px; margin-top: 8%">Copied</span>
    </div>

    <!-- <div class="order-text">Your order ID is
      <b style="color: #6d6d6d;"><a href="{{orderUrl}}" target="_blank">{{formData.key}}</a> </b>
    </div> -->

    <div class="listening-payment">
      <b class="listening">Listening for Payment</b> &nbsp;
      <img src="./assets/canex/CANExchange_listening.svg">
      <br />
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
</div>
<div class="text-right m-30 float-right" *ngIf="metamaskpayment">
  <div class="tip-button float-right" (click)="metamask()"> </div>
</div>
