<main>
  <section class="section bg-gray">
    <div class="container text-center">
      <div class="card px-30 py-15 my-10">
        <h2>Choose your payment method</h2>
        <p class="fw-500" style="font-size:0.875rem">
          Job Value: $ {{ jobBudgetUsd | number: '1.2-2' }} USD
        </p>
        <!--<div *ngIf="address" class="row">
          <div class="col text-center">
            <a
              ngxClipboard
              [cbContent]="address"
              (click)="$event.preventDefault()"
              href="#"
              class="mx-10"
            >
              <i class="far fa-copy"></i>
            </a>
            {{ address }}
            <a
              target="_blank"
              href="{{ explorer }}/address/{{ address }}"
              class="mx-10"
            >
              <i class="fas fa-external-link-alt"></i>
            </a>
          </div>
        </div>-->
        <div
          *ngIf="loading"
          class="container d-flex h-100 flex-column justify-content-center"
        >
          Loading...
          <img src="assets/img/loader.svg" height="36px" alt="Loader" />
        </div>
        <div *ngIf="!loading" class="row">
          <div class="col text-left">
            <div [ngSwitch]="address">
              <div *ngSwitchCase="true" class="text-center">
                Loading address...
              </div>
              <div *ngSwitchDefault>
                <div *ngIf="!loading">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Free</th>
                        <th scope="col">Value (USD)</th>
                        <th scope="col">Pay</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="assets.length > 0">
                      <tr *ngFor="let item of assets; let i = index">
                        <td>
                          <app-dynamic-coin
                            [symbol]="assets[i].symbol"
                            [network]="chain"
                            [address]="assets[i].address"                            
                          ></app-dynamic-coin>
                        </td>
                        <td>{{ assets[i].symbol }}</td>
                        <td>{{ assets[i].free | number: '1.3-3' }}</td>
                        <td *ngIf="assets[i].converting">
                          <img src="assets/img/loader.svg" height="24px" alt="converting" />
                        </td>
                        <td *ngIf="!assets[i].converting">{{ assets[i].freeUsd }}</td>
                        <td *ngIf="assets[i].converting">
                        </td>                        
                        <td *ngIf="!assets[i].converting && assets[i].hasEnough">
                          <button
                            class="btn btn-primary  my-1"
                            (click)="paymentSelected(asset)"
                          >
                            Pay
                          </button>
                        </td>
                        <td *ngIf="!assets[i].converting && !assets[i].hasEnough">
                          Insufficient
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-right">
                    <button
                      (click)="goBack()"
                      border-64
                      class="btn btn-sm btn-danger btn-outline"
                    >
                      CANCEL
                    </button>
                  </div>
                </div>
                <div *ngIf="loading" class="text-center">
                  Loading...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>