<!-- Topbar -->
<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">

    <div class="topbar-left">
      <button class="topbar-toggler text-gray">&#9776;</button>
      <a class="topbar-brand" [routerLink]="['/home']">
        <!-- <img class="logo-inverse" src="assets/img/logo.svg" width="136px" alt="logo"> -->
        <img class="logo-default" src="assets/img/logo.svg" width="auto" height="36px" alt="logo">
      </a>
    </div>

    <div class="topbar-right">
      <ul class="topbar-nav nav">

        <!-- <li class="nav-item">
          <a [routerLink]="['/home']" class="nav-link" data-scrollto="section-home">Return Home</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" data-scrollto="section-home">Home</a>
        </li>
        <li *ngIf="!currentUser" class="nav-item">
          <a class="nav-link" href="https://blog.canya.com.au/" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tools']">CanYa25</a>
        </li> -->
      </ul>

    </div>

  </div>
</nav>
<!-- END Topbar -->

<!-- Header -->
<!-- *ngIf="state === 'loginAdmin' || state === 'loginProvider' || state === 'loginUser'" -->
<app-header [empty]="true"></app-header>

<!-- <header *ngIf="state === 'searchingPioneers'" class="header h-fullscreen py-0">
  <div class="container text-center">
    <div class="row h-full align-items-center">
      <div class="col-12 col-lg-8 offset-lg-2">

        <img class="logo-default" src="assets/img/Pioneers2.jpg" width="auto" height="300px" alt="CanYa Pioneers">

        <h3 class="opacity-80">We are searching high & low for world-class freelancers to launch the CanYa platform, as the CanYa Pioneers!</h3>
        <p class="fw-400">If you believe you, or someone you know is perfect for our global freelancer search,
          <a href="https://canyacoin.typeform.com/to/r2Bfb0" target="_blank">sign up here</a>.</p>
        <p class="fw-400">This is a global search for the best of the best! 🌎</p>

        <h3>We've found:</h3>
        <h1 class="display-2 my-0 py-0">5 of 20</h1>
        <h3 class="fw-500 my-0 py-0">
          <img class="logo-default" src="assets/img/logo.svg" width="auto" height="28px" alt="logo" style="margin-top: -8px;">&nbsp; Pioneers</h3>
      </div>
    </div>
  </div>
</header> -->

<!-- END Header -->

<!-- Main container -->
<main class="main-content">

  <!-- <section *ngIf="loading && ( (state !== 'loginAdmin') && (state !== 'loginProvider') && (state !== 'loginUser') )" class="section bg-white py-10"
    id="section-loading">
    <div class="container d-flex flex-column justify-content-center text-center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <img src="assets/img/loader.svg" height="36px" alt="Loader">
      <h2 class="fs-50 fw-600 lh-15 hidden-sm-down">CanYa help me with
        <span class="text-primary" data-type="Content Creators, Designers, Software Developers, Creatives, Financial Experts, Marketing, SEO, Virtual Assistants"></span>
      </h2>
    </div>
  </section> -->

  <!-- <div *ngIf="state === 'loading'" class="container d-flex h-100 flex-column justify-content-center text-center`">
    
    <h4 class="fw-300">You'll need to add at least 100 CAN to your MetaMask in order to continue.</h4>

  </div> -->

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | MetaMask
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section *ngIf="state === 'metaMaskNotAvailable'" class="section bg-white py-10" id="section-main">
    <div class="container">
      <header class="section-header my-0 py-0">
        <!-- <small>Features</small> -->
        <h2 class="fw-300">Install MetaMask Wallet</h2>
        <img src="assets/img/metamask.svg" width="140px" height="140px">
        <h4 class="fw-300 mb-10">Why MetaMask needed!?</h4>
        <!-- <h6 class="fw-300 mb-10">With MetaMask you can interract with the Ethereum network. Moreover, the benefit of MetaMask is that
            <strong>YOU are storing your private keys</strong> instead of letting us to hold to your keys.</h6> -->

        <div class="alert alert-info" role="alert">
          With MetaMask you can interract with the Ethereum network. Moreover, the benefit of MetaMask is that
          <strong>YOU are storing your private keys</strong> instead of letting us to hold to your keys.
        </div>

        <small class="lead text-danger">
          <i class="fa fa-exclamation-triangle"></i>&nbsp;
          <strong>IMPORTANT:</strong> remember to switch your MetaMask Wallet to Main Ethereum Network.
        </small>
        <hr>
      </header>

      <div class="row my-0 py-0">

        <div class="col-12 col-md-6 col-xl-4 feature-1">
          <p class="feature-icon">
            <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank">
              <img src="assets/img/metamask-download.png" width="auto" height="64px" alt="Install MetaMask">
            </a>
          </p>
          <p class="fs-60 fw-900 opacity-10">1</p>
          <h5>Install MetaMask on a desktop browser like&nbsp;
            <img src="assets/img/chrome.svg" width="18px" height="18px" style="margin-top: -3px;">&nbsp;
            <span class="fw-500">Chrome</span>.</h5>
          <!-- <p class="text-muted"></p> -->
          <!-- <div class="text-center gap-multiline-items-2 my-30">
                <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank">
                  <img class="img-fadein" src="assets/img/metamask.png" alt="Install MetaMask">
                </a>
              </div> -->
        </div>

        <div class="col-12 col-md-6 col-xl-4 feature-1">
          <p class="feature-icon">
            <img src="assets/img/metamask-action.png" width="auto" height="64px" alt="MetaMask Wallet">
          </p>
          <p class="fs-60 fw-900 opacity-10">2</p>
          <h5>Open
            <img src="assets/img/metamask-icon.png" width="18px" height="18px" style="margin-top: -3px;">&nbsp;MetaMask and create your Ethereum address where you'll deposit your ETH or CAN.</h5>
          <p class="text-muted"></p>
        </div>

        <div class="col-12 col-md-6 col-xl-4 feature-1">
          <p class="feature-icon">
            <img src="assets/img/metamask-pay.png" width="auto" height="64px" alt="MetaMask Wallet">
          </p>
          <p class="fs-60 fw-900 opacity-10">3</p>
          <h5>Unlock your MetaMask Wallet (if needed) and reload the page.</h5>
          <p class="text-muted"></p>
        </div>

      </div>
    </div>

    <div class="section-dialog bg-gray mb-30">
      <p class="text-center">FAQ</p>
      <br>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header bg-lighter" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                What do I need to use CanYa?
              </a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p class="lead">Here’s what you need to get started:</p>
              <ul>
                <li>A computer or laptop running the desktop version of Chrome.</li>
                <li>MetaMask, a digital wallet used specifically with web apps (
                  <a href="https://metamask.io/" target="_blank">Install MetaMask</a> ).</li>
                <li>CanYaCoins, a form of digital payment that powers CanYa.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-lighter" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Installing MetaMask
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              <p class="lead">To use CanYa, you will need to install MetaMask, a digital wallet. You will need to put money in it to make
                your first purchase.</p>
              <p class="lead text-danger">
                <strong>Note:</strong> A digital wallet like MetaMask acts like a bank account—treat it with respect and make sure
                you don’t forget your password or the seed words.</p>
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/tfETpi-9ORs?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-lighter" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Why is MetaMask locked?
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              <p class="lead">Occasionally the page displays a lock screen. This happens because MetaMask automatically locks your account
                after a certain period of time. To unlock simply click on the MetaMask extension and type in your password.</p>
              <img src="assets/img/metamask-locked.png">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-lighter" role="tab" id="headingFour">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Getting CanYaCoins
              </a>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-block">
              <p class="lead">You will need to purchase CAN from an exchange, and then transfer the CAN from your exchange wallet to your
                MetaMask Wallet. Unfortunately, you cannot use CanYa with only an exchange account.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Switch to MainNet
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <section *ngIf="state === 'switchToMainNet'" class="section bg-white py-10" id="section-main">
    <div class="container">
      <header class="section-header my-0 py-0">
        <h2 class="fw-300">Switch your MetaMask to MainNet!</h2>
        <img src="assets/img/metamask.svg" width="140px" height="140px">
        <!-- <h4 class="fw-300 mb-10">Your MetaMask is not connected to Main Ethereum Network.</h4> -->
        <h4 class="fw-300 mb-30">Open your wallet, switch your wallet to
          <span class="fw-500">Main Ethereum Network</span> and reload the page.</h4>
        <!-- <small class="lead text-danger">
              <i class="fa fa-exclamation-triangle"></i>&nbsp;
              <strong>IMPORTANT:</strong> You can 'buy' ether (ETH) in MetaMask (Ropsten Network Faucet). Remember to switch your MetaMask Wallet to Main Ethereum Network.
            </small> -->

        <!-- <img src="assets/img/metamask-buy.png"> -->
      </header>
    </div>

  </section>

  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Unlock MetaMask
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <section *ngIf="state === 'walletLocked'" class="section bg-white py-10" id="section-main">
    <div class="container">
      <header class="section-header my-0 py-0">
        <h2 class="fw-300">Your MetaMask is locked!</h2>
        <img src="assets/img/metamask.svg" width="140px" height="140px">
        <h4 class="fw-300 mb-10">Open MetaMask and follow the instructions to unlock it, reload the page and try again.</h4>

        <!-- Remember to switch your MetaMask Wallet to Main Ethereum Network. -->
        <small class="lead text-danger">
          <i class="fa fa-exclamation-triangle"></i>&nbsp;
          <strong>NOTE:</strong> You can 'buy' ether (ETH) in your MetaMask wallet.
        </small>

        <img src="assets/img/metamask-buy.png">
      </header>
    </div>

  </section>


  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Contract Error
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <section *ngIf="state === 'contractError'" class="section bg-white py-10" id="section-main">
    <div class="container">
      <header class="section-header my-0 py-0">
        <h2 class="fw-300">Connection error!</h2>
        <img src="assets/img/bot-hover.svg" width="140px" height="140px">
        <h4 class="fw-300 mb-10">An error ocurred during a connection to Main Ethereum Network, reload the page and try again.</h4>
      </header>
    </div>

  </section>

  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Buy CAN
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <section *ngIf="state === 'buyCAN'" class="section bg-white py-10" id="section-main">
    <div class="container">
      <header class="section-header mt-0 mb-20 py-0">
        <h2 class="fw-300">Buy CAN</h2>
        <img src="assets/img/round-icon.svg" width="140px" height="140px">

        <h4 class="fw-400 my-10">You either need to own CanYaCoin or be invited to use the CanYa web app.</h4>

        <h5 class="fw-300 my-10">If you own CanYaCoin, you will need to add at least 100 CAN to your MetaMask wallet in order to continue.</h5>

        <!-- Remember to switch your MetaMask Wallet to Main Ethereum Network. -->
        <!-- <small class="lead text-danger">
              <i class="fa fa-exclamation-triangle"></i>&nbsp;
              <strong>NOTE:</strong> You can 'buy' ether (ETH) in your MetaMask wallet.
            </small> -->
        <br>
        <h4 class="fw-300 px-10">Also available on:</h4>
        <a class="btn btn-primary my-1" href="https://www.kucoin.com/" target="_blank" data-label="KuCoin">KuCoin</a>
        <a class="btn btn-primary my-1" href="https://www.aex.com/" target="_blank" data-label="AEX">AEX</a>
        <a class="btn btn-primary my-1" href="https://xbrick.io/" target="_blank" data-label="XBrick">XBrick</a>
        <a class="btn btn-primary my-1" href="https://www.cryptopia.co.nz/" target="_blank" data-label="Cryptopia">Cryptopia</a>
        <a class="btn btn-primary my-1" href="https://www.fatbtc.com/" target="_blank" data-label="Fatbtc">Fatbtc</a>
        <a class="btn btn-primary my-1" href="https://www.coinspot.com.au/" target="_blank" data-label="CoinSpot">CoinSpot</a>
        <a class="btn btn-primary my-1" href="https://etherdelta.com/#0x1d462414fe14cf489c7a21cac78509f4bf8cd7c0-ETH" target="_blank"
          data-label="EtherDelta">EtherDelta</a>
        <a class="btn btn-primary my-1" href="https://coss.io/" target="_blank" data-label="COSS.IO">COSS.IO</a>
        <a class="btn btn-primary my-1" href="https://www.qryptos.com/" target="_blank" data-label="QRYPTOS">QRYPTOS</a>
        <a class="btn btn-primary my-1" href="https://radarrelay.com/" target="_blank" data-label="Radar Relay">Radar Relay</a>
        <a class="btn btn-primary my-1" href="https://idex.market/" target="_blank" data-label="IDEX">IDEX</a>
        <a class="btn btn-primary my-1" href="https://www.bancor.network/discover" target="_blank" data-label="Bancor">Bancor</a>
        <a class="btn btn-primary my-1" href="https://gatecoin.com/" target="_blank" data-label="Gatecoin">Gatecoin</a>

      </header>

      <!-- <div class="card-group">
        <div class="card card-hover-shadow bg-gray my-5" style="border-radius: 3px;">
          <div class="card-block">
            <h3 class="card-title">
              Buy&nbsp;
              <i class="cc ETH fs-24" aria-hidden="true" style="margin-top: -8px;"></i>&nbsp;ETH</h3>
            <p class="card-text mb-0">Buy Ether with Bitcoin, altcoins or Credit Card. You need to buy Ether in order to buy CAN in different exchanges.</p>
          </div>
          <div class="card-footer bg-gray text-center" style="border-top: none;">
            <a href="#" data-toggle="modal" data-target="#changellyModal" class="btn btn-primary btn-canya-chat">BUY ETH</a>
          </div>
        </div>

        <div class="col-1"></div>

        <div class="card card-hover-shadow bg-gray my-5" style="border-radius: 3px;">
          <div class="card-block">
            <h3 class="card-title">Buy&nbsp;
              <img class="mb-5" src="assets/img/round-icon.svg" width="auto" height="24px">&nbsp;CAN</h3>
            <p class="card-text">You can buy
              <img class="mb-5" src="assets/img/round-icon.svg" width="auto" height="18px"> CAN
              <strong>by sending Ether</strong> to our smart contract. It's the easiest way to buy CAN. Give it a try!</p>
          </div>
          <div class="card-footer bg-gray text-center" style="border-top: none;">
            <button (click)="onBuyNow();" disabled="true" class="btn btn-primary btn-canya-chat">COMING SOON</button>
          </div>
        </div>
      </div> -->

    </div>
  </section>


    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Access by invitation only
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <section *ngIf="state === 'invitationOnly'" class="section bg-white py-10" id="section-main">
      <div class="container">
        <header class="section-header mt-0 mb-20 py-0">
          <h2 class="fw-300">Launching Friday 20 April!</h2>
          <img src="assets/img/bot-hover.svg" width="140px" height="140px">
  
          <h4 class="fw-400 my-10">New users will need to hold 100 CAN in their MetaMask to view the platform when it launches.</h4>
  
          <!-- <h5 class="fw-300 my-10">By now you can get ready to join our community by adding CanYaCoin to your MetaMask wallet.</h5> -->
  
          <!-- Remember to switch your MetaMask Wallet to Main Ethereum Network. -->
          <!-- <small class="lead text-danger">
                <i class="fa fa-exclamation-triangle"></i>&nbsp;
                <strong>NOTE:</strong> You can 'buy' ether (ETH) in your MetaMask wallet.
              </small> -->
          <br>
  
          <h4 class="fw-300 px-10">Buy CAN! Now available on:</h4>
          <a class="btn btn-primary my-1" href="https://www.kucoin.com/" target="_blank" data-label="KuCoin">KuCoin</a>
          <a class="btn btn-primary my-1" href="https://www.aex.com/" target="_blank" data-label="AEX">AEX</a>
          <a class="btn btn-primary my-1" href="https://xbrick.io/" target="_blank" data-label="XBrick">XBrick</a>
          <a class="btn btn-primary my-1" href="https://www.cryptopia.co.nz/" target="_blank" data-label="Cryptopia">Cryptopia</a>
          <a class="btn btn-primary my-1" href="https://www.fatbtc.com/" target="_blank" data-label="Fatbtc">Fatbtc</a>
          <a class="btn btn-primary my-1" href="https://www.coinspot.com.au/" target="_blank" data-label="CoinSpot">CoinSpot</a>
          <a class="btn btn-primary my-1" href="https://etherdelta.com/#0x1d462414fe14cf489c7a21cac78509f4bf8cd7c0-ETH" target="_blank"
            data-label="EtherDelta">EtherDelta</a>
          <a class="btn btn-primary my-1" href="https://coss.io/" target="_blank" data-label="COSS.IO">COSS.IO</a>
          <a class="btn btn-primary my-1" href="https://www.qryptos.com/" target="_blank" data-label="QRYPTOS">QRYPTOS</a>
          <a class="btn btn-primary my-1" href="https://radarrelay.com/" target="_blank" data-label="Radar Relay">Radar Relay</a>
          <a class="btn btn-primary my-1" href="https://idex.market/" target="_blank" data-label="IDEX">IDEX</a>
          <a class="btn btn-primary my-1" href="https://www.bancor.network/discover" target="_blank" data-label="Bancor">Bancor</a>
          <a class="btn btn-primary my-1" href="https://gatecoin.com/" target="_blank" data-label="Gatecoin">Gatecoin</a>
  
        </header>
  
        <div class="card-group">
  
          <div class="card card-hover-shadow bg-gray my-5" style="border-radius: 3px;">
            <div class="card-block">
              <h3 class="card-title">
                Buy&nbsp;
                <i class="cc ETH fs-24" aria-hidden="true" style="margin-top: -8px;"></i>&nbsp;ETH</h3>
              <!-- <img class="mb-5" src="assets/img/CanInvoice.svg" width="auto" height="36px"> -->
              <p class="card-text mb-0">Buy Ether with Bitcoin, altcoins or Credit Card. You need to buy Ether in order to buy CAN in different exchanges.</p>
  
              <!-- <small class="card-text text-danger"><strong>* This is a showcase feature</strong>, you can buy real ETH, but you can't use in our current alpha / pre-alpha version (Ropsten Network).</small> -->
  
            </div>
            <div class="card-footer bg-gray text-center" style="border-top: none;">
              <a href="#" data-toggle="modal" data-target="#changellyModal" class="btn btn-primary btn-canya-chat">BUY ETH</a>
            </div>
          </div>
  
          <div class="col-1"></div>
  
          <div class="card card-hover-shadow bg-gray my-5" style="border-radius: 3px;">
            <div class="card-block">
              <h3 class="card-title">Buy&nbsp;
                <img class="mb-5" src="assets/img/round-icon.svg" width="auto" height="24px">&nbsp;CAN</h3>
              <!-- <img class="mb-5" src="assets/img/CanYa25.svg" width="auto" height="36px"> -->
              <p class="card-text">You can buy
                <img class="mb-5" src="assets/img/round-icon.svg" width="auto" height="18px"> CAN
                <strong>by sending Ether</strong> to our smart contract. It's the easiest way to buy CAN. Give it a try!</p>
              <!-- <small class="card-text text-danger"><strong>* This is a showcase feature</strong>, you only can 'buy' fake CAN in our current alpha / pre-alpha version.</small> -->
  
            </div>
            <div class="card-footer bg-gray text-center" style="border-top: none;">
              <!-- BUY CAN -->
              <button (click)="onBuyNow();" disabled="true" class="btn btn-primary btn-canya-chat">COMING SOON</button>
            </div>
          </div>
  
          <!-- break -->
          <!-- <div class="col-12 p-2"></div> -->
  
        </div>
      </div>
    </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Login section
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <!-- *ngIf="state === 'loginAdmin' || state === 'loginProvider' || state === 'loginUser'" -->
  <section class="section bg-white pt-5 pb-30"
    id="section-main">
    <div class="container">
      <header class="section-header my-0 py-0">

        <h2 class="fw-300">Welcome to
          <img class="logo-default" src="assets/img/logo.svg" width="auto" height="28px" alt="logo" style="margin-top: -8px;">!
        </h2>

        <p class="lead fw-500">
          The World’s Best Blockchain-Powered Marketplace of Services.
        </p>

        <p class="fw-400">
          To access CanYa, click 'Join CanYa' and use any of our third-party services to create an account.
        </p>

        <!-- <p class="lead fw-400">To access CanYa, install
          <strong>uPort ID</strong> in your mobile and create your self-sovereign identity.
        </p> -->

        <!-- <p class="text-muted">
          <i class="fa fa-exclamation-triangle"></i>&nbsp;CanYa uses uPort so our user’s data is secure and privately secured on the blockchain.
        </p> -->

        <div *ngIf="loading">
          <img src="assets/img/loader.svg" height="36px" alt="Loader">
        </div>

        <hr>

        <button [disabled]="loading" class="btn btn-primary mb-15" data-toggle="modal" data-target="#alternativeLoginModal">JOIN CANYA</button>
      </header>
<!-- 
      <div class="row my-0 py-0">

        <div class="col-12 col-md-6 col-xl-4 feature-1 p-10">
          <p class="feature-icon">
            <img src="assets/img/download-uport.svg" width="auto" height="64px" alt="CanYa + uPort ID">
          </p>
          <p class="fs-60 fw-900 opacity-10">1</p>
          <div class="p-10">
            <h5>Install
              <span class="fw-500">uPort ID</span> in your mobile.</h5>
          </div>

          <div class="text-center gap-multiline-items-2 my-30">
            <a href="https://itunes.apple.com/us/app/uport-id/id1123434510?mt=8" target="_blank">
              <img class="img-fadein" src="assets/img/app-store-badge.svg" alt="uPort - Download on app store">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.uportMobile" target="_blank">
              <img class="img-fadein" src="assets/img/google-play-badge.svg" alt="uPort - Download on google play">
            </a>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4 feature-1 p-10">
          <p class="feature-icon">
            <img src="assets/img/register-app.svg" width="auto" height="64px" alt="CanYa + uPort ID">
          </p>
          <p class="fs-60 fw-900 opacity-10">2</p>
          <div class="p-10">
            <h5>Create your self-sovereign identity and fill your details: name, photo, email, etc.</h5>
          </div>
          <p class="text-muted"></p>
        </div>

        <div class="col-12 col-md-6 col-xl-4 feature-1 p-10">
          <p class="feature-icon">
            <img src="assets/img/uport-login.svg" width="auto" height="64px" alt="CanYa + uPort ID">
          </p>
          <div class="b-1" style="border-radius: 5px; border-color: #d8d8d8;">
            <p class="fs-60 fw-900 opacity-10">3</p>
            <div class="p-10">
              <h5>Click 'Join CanYa', then 'Continue with uPort' and scan QR code to access CanYa.</h5>
              <button [disabled]="loading" class="btn btn-primary mb-15" (click)="onConnect();">JOIN CANYA</button>
              <!-- <i class="ti-alert text-default fs-24" style="margin-top: 30px;" aria-hidden="true"></i> --
              <p class="fw-500"><i class="fa fa-exclamation-triangle fs-24" aria-hidden="true"></i>&nbsp;NOTE: uPort not working?&nbsp;<a href="#" data-toggle="modal" data-target="#alternativeLoginModal">Try this</a>.</p>
            </div>
            
          </div>
          <p class="text-muted"></p>
        </div>
      </div> -->

      <!-- <div id="section-why" class="section-dialog bg-gray">
        <p class="text-center">
          <img src="assets/img/uPort.svg" width="auto" height="100px" alt="CanYa + uPort ID">
        </p>
        <br>
        <h4 class="fw-300 text-center">Why do we use&nbsp;
          <span class="fw-400">uPort ID</span>?</h4>

        <p class="lead text-dark">1. uPort allows users to register their own identity on Ethereum independent from any centralized authority.</p>

        <p class="lead text-dark">2. This ensures that we, or other third parties like Google or Facebook, do not have access to your personal data.</p>

        <p class="lead fw-500 text-center">You own and manage your personal data in privacy!</p>
      </div> -->

    </div>
  </section>

  <!-- <section class="section bg-white my-0 py-0">
    <div class="container">

      <!-- class="aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1000" --
      <div class="section-dialog text-center" >
        <p><img src="assets/img/uport-login.svg" alt="logo"></p>
        <br>
        <h4 class="fw-300">Why do we use <span class="fw-400">uPort ID</span>?</h4>
        <p class="lead fw-400">uPort returns ownership of identity to individuals. uPort allows users to register their own identity on Ethereum independent from any centralized authority.</p>
        <p class="lead fw-500">You own and manage your personal data in privacy!</p>
      </div>

    </div>
  </section> -->

  <!-- <div *ngIf="state === 'login'" [hidden]="hideBanner" class="banner-canya">
    <a (click)="hideBanner = true;" class="banner-canya-close">×
    </a>

    <a (click)="onConnect();" class="d-block">
      <img src="assets/img/BannerUport.png" 
        class="b-0 d-block" alt="CanYa+ uPort!" width="318">
    </a>
  </div> -->
</main>
<!-- END Main container -->

<!-- <app-footer></app-footer> -->

<!-- <div id="bancor-wc"></div> -->

<a class="scroll-top" href="#">
  <i class="fa fa-angle-up"></i>
</a>

<!-- Alternative Auths Modal -->
<div class="modal fade" id="alternativeLoginModal" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="true" aria-labelledby="alternativeLoginLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="subscribeModalLabel"><img class="logo-default" src="assets/img/logo.svg" width="auto" height="24px" alt="logo" style="margin-top: -8px;"></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-left" style="width: 100%;">Sign in with alternative services</h5>
        <firebase-ui (signInSuccess)="onLogin($event);"></firebase-ui>
        <small class="text-center">IMPORTANT: This process will help you set up your account using third party services.</small>
      </div>
    </div>
  </div>
</div>
