<div
  class="rounded-[12px] bg-white border border-G300 p-[24px] h-max font-sans flex flex-col gap-[24px]"
>
  <div class="flex justify-between items-center gap-[8px]">
    <div class="flex gap-[8px] items-center">
      <div [ngClass]="JobStateBackground"></div>
      <div class="text-b1 font-medium">{{ job.state }}</div>
    </div>
    <div class="flex gap-[8px]" *ngIf="!job.draft">
      <bookmark-button />
      <share-button />
    </div>
  </div>
  <div class="flex flex-col gap-[16px]">
    <div class="flex justify-between items-center">
      <div class="text-b2 text-G700 capitalize">{{ job.paymentType }}</div>
      <div class="text-b1 text-G900 font-medium">
        ${{ job.budget }}
        <span *ngIf="job.paymentType !== 'Fixed price'">/hr</span> USD
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div class="text-b2 text-G700 capitalize">Proposals</div>
      <div class="text-b1 text-G900 font-medium">
        {{ bids.length }} Proposals
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div class="text-b2 text-G700 capitalize">Deadline</div>
      <div class="text-b1 text-G900 font-medium">
        {{ formatDateFromString(job.deadline) }}
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div class="text-b2 text-G700 capitalize">Estimated hours</div>
      <div class="text-b1 text-G900 font-medium">
        {{ job.information.weeklyCommitment }} Hours
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div class="text-b2 text-G700 capitalize">Category</div>
      <div class="text-b1 text-G900 font-medium">
        {{ getCategoryName(job.information.providerType) }}
      </div>
    </div>
  </div>
  <hr class="w-full h-[1px] bg-G300 border-none" />
  <div *ngIf="jobPoster" class="flex flex-col gap-[16px]">
    <div class="text-b2 text-G700">About the Client</div>
    <profile-card
      [avatarUri]="jobPoster.avatarUri"
      [name]="jobPoster.name"
      [title]="jobPoster.title"
      [isVerified]="jobPoster.verified"
      [rating]="jobPoster.rating"
      [skillTags]="jobPoster.skillTags"
      [slug]="jobPoster.slug"
      [address]="jobPoster.address"
      [timezone]="jobPoster.timezone"
      [hourlyRate]="jobPoster.hourlyRate"
      [isGrid]="false"
      [isSmall]="true"
    />
  </div>

  <div *ngIf="currentUser && isMyJob && !isClosed">
    <div class="flex gap-4 justify-between items-center">
      <div
        class="cursor-pointer select-none py-[10px] px-[24px] text-R900 flex justify-center items-center gap-2 font-medium text-b1 text-nowrap hover:bg-G200 rounded-xl"
        (click)="LeftClick($event)"
      >
        <img
          src="/assets/massimo/svg/delete.svg"
          class="select-none w-[16px] h-[16px]"
        />
        Delete Job
      </div>

      <div class="w-max">
        <basic-button
          [type]="1"
          title="Edit Job"
          [routerLink]="['/inbox/job/edit', job.id]"
        />
      </div>
    </div>
  </div>

  <div *ngIf="!currentUser && !isMyJob && isOpen" (click)="LeftClick($event)">
    <basic-button [type]="2" title="Login to Apply Now" />
  </div>
</div>
