<div id="sendTxModal" class="modal fade" role="dialog">
  <div border-none class="modal-dialog">
    <div class="modal-content">
      <div border-none class="modal-header  text-center">
        <div class="col-12">
          <h4 class="modal-title">Confirm Transaction</h4>
        </div>
      </div>
      <div border-none class="modal-body">
        <div class="container text-center">
          <div class="row mb-15">
            <div class="col-12">
              <div
                *ngIf="transaction && transaction.txInfo"
                class="text-center fw-500 mb-5"
              >
                {{ transaction.txInfo }}
              </div>
              <div [ngSwitch]="showTxDetails">
                <button
                  *ngSwitchCase="false"
                  type="button"
                  class="btn btn-info btn-outline btn-xxs"
                  (click)="toggleDetails()"
                >
                  Show Details
                </button>
                <button
                  *ngSwitchCase="true"
                  type="button"
                  class="btn btn-info btn-outline btn-xxs"
                  (click)="toggleDetails()"
                >
                  Hide Details
                </button>
              </div>
            </div>
          </div>
          <div class="row mb-20" *ngIf="transaction && showTxDetails">
            <div class="col-12">
              <div class="text-center mb-10">
                <span class="fw-500">From</span><br />
                Your wallet<br />
                {{ fromAddress }}
              </div>
              <div class="text-center mb-10">
                <span class="fw-500">To</span><br />
                {{ transaction.toName }}<br />
                {{ transaction.to }}
              </div>
              <div class="text-center mb-20">
                <span class="fw-500">Memo</span>
                <div *ngFor="let memoPart of splitMemo(transaction.memo)">
                  {{ memoPart }}
                </div>
              </div>
              <div class="text-center">
                <span class="fw-500">Amount {{ transaction.symbol }}</span
                ><br />
                <span class="fs-12">
                  <img
                    src="{{ transaction.iconURL }}"
                    width="14px"
                    height="14px"
                    alt="{{ transaction.symbol }}"
                  />
                </span>
                {{ formatAmountAsset }}
              </div>
            </div>
          </div>
          <div class="row mb-20" *ngIf="isKeystorePasswordVisible">
            <div class="col-12 fw-500 mb-5">
              Enter Keystore Password
            </div>
            <div class="col-12">
              <input
                [(ngModel)]="keystorePassword"
                type="password"
                placeholder="Keystore password"
              />
            </div>
          </div>
          <div class="row mt-20">
            <div class="col-6">
              <button
                type="button"
                class="btn btn-primary btn-danger btn-outline"
                (click)="close()"
              >
                Cancel
              </button>
            </div>
            <div class="col-6">
              <button
                type="button"
                class="btn btn-primary"
                (click)="confirmTransaction()"
                [disabled]="isConfirming"
              >
                Confirm
                <i *ngIf="isConfirming" class="fa fa-spinner fa-spin"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
