<p-dialog
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  id="headless_modal"
  styleClass="!rounded-b-[0px] !rounded-t-[24px] sm:!rounded-[24px] md:max-w-[600px] lg:max-w-[906px] w-full !bg-G50 sm:mx-[16px] max-sm:!mt-[127px] max-sm:absolute max-sm:left-0 max-sm:bottom-0"
>
  <div class="absolute top-[16px] md:top-[24px] right-[24px]">
    <x-button (click)="handleCancelClick($event)" />
  </div>

  <div *ngIf="actionType === actionTypes.review">
    <div
      class="py-[16px] md:py-[24px] px-[24px] md:px-[40px] text-h6 md:text-h5 text-G900 font-medium"
    >
      Review
    </div>
    <hr class="w-full h-[1px] bg-G200 border-none" />
    <div
      class="px-[16px] md:px-[40px] pt-[16px] md:pt-[24px] pb-[32px] flex flex-col gap-[16px]"
    >
      <div class="flex max-sm:flex-col sm:justify-between gap-4">
        <div *ngIf="isClient && selectedBid">
          <div class="flex gap-[16px] items-center">
            <app-avatar
              [size]="48"
              [user]="selectedBid.providerInfo"
            ></app-avatar>
            <div class="flex flex-col gap-[8px]">
              <div class="line-clamp-1 text-b1 font-medium text-G900">
                {{ selectedBid.providerInfo.name }}
                <verified-mark
                  [user]="selectedBid.providerInfo"
                ></verified-mark>
              </div>
              <div class="line-clamp-1 text-b2 text-G700">
                {{ selectedBid.providerInfo.title }}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isClient && jobPoster">
          <div class="flex gap-[16px] items-center">
            <app-avatar [size]="48" [user]="jobPoster"></app-avatar>
            <div class="flex flex-col gap-[8px]">
              <div class="line-clamp-1 text-b1 font-medium text-G900">
                {{ jobPoster.name }}
                <verified-mark
                  [user]="selectedBid.providerInfo"
                ></verified-mark>
              </div>
              <div class="line-clamp-1 text-b2 text-G700">
                {{ jobPoster.title }}
              </div>
            </div>
          </div>
        </div>
        <star-rating-select
          [(stars)]="numberOfStars"
          (starChange)="setStars($event)"
        />
      </div>
      <div class="w-full flex flex-col gap-[16px]">
        <div class="text-b1 text-G900 font-medium">Leave a Review</div>

        <textarea
          class="w-full outline-none h-[240px] border border-G200 bg-G50 rounded-xl p-[16px] text-b1 font-sans placeholder:text-G500"
          [(ngModel)]="commentText"
          name="message"
          [placeholder]="
            isClient
              ? 'How was your experience working with ' + otherParty + ' ?'
              : 'How was your experience working with ' + jobPoster.name + ' ?'
          "
        ></textarea>
        <div class="flex justify-end">{{ commentText.length }}/350</div>
      </div>
      <div class="flex gap-[16px] items-center justify-end">
        <div
          (click)="handleCancelClick($event)"
          class="text-b1 text-G900 font-medium select-none cursor-pointer"
        >
          CANCEL
        </div>
        <basic-button
          (click)="handleAction($event)"
          [type]="2"
          title="Submit"
          size="small"
          [disabled]="!(numberOfStars > 0 && 351 > commentText.length)"
        />
      </div>
    </div>
  </div>

  <div *ngIf="actionType === actionTypes.addMessage">
    <div
      class="py-[24px] px-[24px] md:px-[40px] text-h6 md:text-h5 text-G900 font-medium"
    >
      Add Note
    </div>
    <hr class="w-full h-[1px] bg-G200 border-none" />
    <div
      class="flex flex-col gap-[16px] px-[16px] md:px-[40px] pt-[16px] md:pt-[24px] pb-[32px]"
    >
      <div class="text-b1 text-G900 font-medium">Add a note to this job</div>
      <div class="flex flex-col gap-[16px] md:gap-[24px] w-full">
        <form [formGroup]="form" class="flex flex-col gap-[16px] w-full">
          <textarea
            class="w-full outline-none h-[100px] md:h-[240px] border border-G200 rounded-[12px] p-[16px] bg-G50"
            formControlName="message"
            name="message"
            placeholder="Enter your message here"
          ></textarea>

          <div class="flex justify-end text-right text-b2 text-G700">
            {{ form.value.message.length || 0 }}/5000
          </div>
        </form>

        <div class="flex justify-end gap-4">
          <basic-button
            [type]="1"
            title="Cancel"
            size="small"
            (click)="handleCancelClick($event)"
          />
          <basic-button
            [type]="2"
            title="Submit"
            size="small"
            (click)="handleAction($event)"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="
      actionType !== actionTypes.review && actionType !== actionTypes.addMessage
    "
    class="flex justify-center px-[16px] py-[64px] md:pt-[100px] md:pb-[40px]"
  >
    <div
      *ngIf="actionType === actionTypes.dispute"
      class="flex flex-col gap-[30px] md:gap-[24px] justify-center items-center"
    >
      <div class="text-h5 text-G900 font-medium">Raise Dispute</div>
      <div class="flex flex-col gap-[24px]">
        <div class="flex flex-col gap-[16px] text-center text-G700">
          <div class="text-b1">
            Please contact&nbsp;
            <a href="mailto:support@canwork.io" class="text-cyan-500"
              >support@canwork.io</a
            >
            &nbsp;for dispute resolution.
          </div>
          <div class="text-b2">
            We're most active on the following social channels...
          </div>
        </div>
        <div class="flex gap-[16px] mx-auto">
          <a
            href="https://t.me/CanYaCommunity"
            class="cursor-pointer"
            target="_blank"
          >
            <img
              src="/assets/massimo/images/telegram.png"
              class="w-[40px] h-[40px] md:w-[64px] md:h-[64px] select-none"
            />
          </a>
          <a
            href="https://twitter.com/CanWork_io"
            class="cursor-pointer"
            target="_blank"
          >
            <img
              src="/assets/massimo/images/twitter.png"
              class="w-[40px] h-[40px] md:w-[64px] md:h-[64px] select-none"
            />
          </a>
        </div>
      </div>
    </div>

    <div
      *ngIf="actionType === actionTypes.cancelJob"
      class="flex flex-col justify-center items-center gap-[24px]"
    >
      <img
        class="w-[200px]"
        src="/assets/massimo/images/jobFailed.png"
        alt="delete"
      />
      <div class="text-h6 text-center font-medium">
        Are you sure you wish to cancel this job?
      </div>
      <div class="flex gap-4 items-center">
        <basic-button
          [type]="1"
          title="Yes"
          size="small"
          (click)="handleAction($event)"
        />
        <basic-button
          [type]="2"
          title="No"
          size="small"
          (click)="handleCancelClick($event)"
        />
      </div>
    </div>

    <div
      *ngIf="actionType === actionTypes.cancelJobEarly"
      class="flex flex-col justify-center items-center gap-[24px]"
    >
      <img
        class="w-[200px]"
        src="/assets/massimo/images/jobFailed.png"
        alt="delete"
      />
      <div class="text-h6 text-center font-medium max-w-[400px]">
        You are going to cancel this job. This cannot be undone. Are you sure?
      </div>
      <div class="flex gap-4 items-center">
        <basic-button
          [type]="1"
          title="Yes"
          size="small"
          (click)="handleAction($event)"
        />
        <basic-button
          [type]="2"
          title="No"
          size="small"
          (click)="handleCancelClick($event)"
        />
      </div>
    </div>

    <div
      *ngIf="actionType === actionTypes.finishedJob"
      class="flex flex-col justify-center items-center gap-[16px]"
    >
      <img
        class="w-[200px] sm:w-[300px]"
        src="/assets/massimo/images/jobSuccess.png"
        alt="delete"
      />
      <div class="flex flex-col gap-[8px]">
        <div class="text-G900 text-h6 text-center font-medium">
          Mark Job Complete
        </div>
        <div class="text-G700 text-b2 text-center">
          Are you sure you've finished your job?
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <basic-button
          [type]="2"
          title="No"
          size="small"
          (click)="handleCancelClick($event)"
        />
        <basic-button
          [type]="1"
          title="Yes"
          size="small"
          (click)="handleAction($event)"
        />
      </div>
    </div>

    <div
      *ngIf="actionType === actionTypes.acceptFinish"
      class="flex flex-col justify-center items-center gap-[24px] md:gap-[36px]"
    >
      <img
        class="w-[100px] sm:w-[200px]"
        src="/assets/massimo/images/jobRelease.png"
        alt="release"
      />
      <div class="flex flex-col gap-[16px] items-center">
        <div class="flex flex-col gap-[8px] max-w-[320px]">
          <div class="text-h6 text-G900 text-center font-medium">
            Release payment
          </div>
          <div class="text-b2 text-G700 text-center">
            Are you sure you want to release payment to freelancer and close
            this job ?
          </div>
        </div>
        <div class="flex gap-4 items-center">
          <div
            (click)="handleCancelClick($event)"
            class="text-R900 font-medium text-nowrap text-b1 w-max cursor-pointer"
          >
            Cancel
          </div>
          <basic-button
            [type]="2"
            title="Release payment"
            size="small"
            (click)="releaseBtnClick($event)"
            [disabled]="isReleasing"
          />
        </div>
      </div>
    </div>
  </div>
</p-dialog>
