<p-dialog
  [header]="getDialogHeader()"
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  styleClass="!rounded-b-[0px] !rounded-t-[24px] sm:!rounded-[24px] md:max-w-[600px] lg:max-w-[906px] w-full !bg-G50 sm:mx-[16px] max-sm:!mt-[127px] max-sm:absolute max-sm:left-0 max-sm:bottom-0"
>
  <div
    class="py-[24px] px-[40px] flex flex-col gap-[24px]"
  >
    <form
      [formGroup]="educationForm"
      class="flex flex-col gap-[24px]"
      novalidate
    >
      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">
          School <span class="text-R900">*</span>
        </div>
        <input
          required
          #university
          name="university"
          (input)="searchUni()"
          list="uniNameList"
          formControlName="university"
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          placeholder="Enter School"
        />
      </fieldset>
      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">
          Degree <span class="text-R900">*</span>
        </div>
        <input
          type="text"
          #degree
          name="Degree"
          formControlName="degree"
          required
          placeholder="Enter Degree"
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
        />
      </fieldset>

      <div class="w-full flex flex-col md:flex-row gap-[16px] md:gap-[24px]">
        <fieldset class="w-full flex flex-col gap-[8px]">
          <div class="text-b1 text-G900">
            Start <span class="text-R900">*</span>
          </div>
          <input
            maxlength="4"
            required
            class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
            id="startDate"
            list="yearList"
            name="startDate"
            formControlName="startDate"
            placeholder="Start Date"
          />
        </fieldset>
        <fieldset class="w-full flex flex-col gap-[8px]">
          <div class="text-b1 text-G900">
            Completion <span class="text-R900">*</span>
          </div>
          <input
            maxlength="4"
            required
            class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
            id="completion"
            list="completionYearList"
            name="completion"
            formControlName="completion"
            placeholder="End Date"
          />
        </fieldset>
      </div>
    </form>
    <div class="flex gap-[16px] items-center justify-end">
      <div
        class="cursor-pointer text-R900 font-medium text-nowrap text-b1"
        (click)="onClose()"
      >
        Cancel
      </div>
      <basic-button
        [type]="1"
        title="Save Changes"
        size="small"
        [disabled]="!educationForm.valid"
        (click)="onSave($event)"
      />
    </div>
  </div>
</p-dialog>

<datalist id="uniNameList">
  <option *ngFor="let uni of uniFilteredList" value="{{ uni }}"></option>
</datalist>

<datalist id="yearList">
  <option *ngFor="let year of yearList" value="{{ year }}"></option>
</datalist>

<datalist id="completionYearList">
  <option *ngFor="let year of completionYearList" value="{{ year }}"></option>
</datalist>
