<div *ngIf="actionLog.length == 0">
  No actions
</div>

<div *ngFor="let action of actionLog" class="card mb-30 p-20" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">
  <div class="row">
    <span class="col-8 text-left">
      <div class="row">
        <h3 class="col-12">{{action.type}}</h3>
      </div>
      <div class="row">
        <span class="card-subtitle col-8">
          <h4 class="fw-500">{{action}}</h4>
        </span>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 text-center">
          <div *ngIf="job.otherParty?.avatar && job.otherParty?.avatar?.uri" class="headshot" [ngStyle]="{'background-image': 'url(' + job.otherParty?.avatar.uri + ')'}"></div>
        </div>
        <div class="col-lg-9 col-md-8">
          <h5 class="fw-500">Description</h5>
          <p>{{job.information.description}}</p>
        </div>
      </div>
    </span>
    <span class="col-4 text-right">
      <div class="row">
        <h4 class="col-12">
          {{action.timestamp | date:'dd MMM hh:mm:ss'}}
        </h4>
      </div>
      <div class="row">
        <div class="col-12">
          <app-status-icon [job]="job" [currentUserType]="currentUserType"></app-status-icon>
        </div>
      </div>
      <div class="row job-actions">
        <div class="col-12">
          <button (click)="viewJobDetails(job.id)" class="text-primary btn-clear hidden-lg-down">
            <i class="fa fa-ellipsis-h fs-16"></i>
          </button>
        </div>
      </div>
    </span>
  </div>
</div>
