<div
  *ngIf="userModel"
  class="sm:rounded-[12px] sm:border sm:!border-G200 sm:bg-white relative sm:overflow-hidden"
>
  <invite-job-dialog
    *ngIf="!isMyProfile"
    [(visible)]="visibleInviteDialog"
    [currentUser]="currentUser"
    [userModel]="userModel"
    [userAddress]="userModel.address"
  />
  <div
    class="bg-hero-pattern bg-no-repeat bg-center bg-cover w-full h-[90px] md:h-[184px]"
  ></div>
  <div
    class="absolute top-[50px] left-[16px] sm:left-[36px] md:top-[110px] md:left-[56px] rounded-full bg-white px-[8px] py-[8px]"
  >
    <img
      [src]="userModel.avatar.uri"
      alt="profile"
      class="w-[80px] h-[80px] md:w-[140px] md:h-[140px] rounded-full bg-cover select-none"
    />
  </div>
  <div
    class="mt-[64px] md:mt-[94px] mb-[40px] px-[16px] md:px-[40px] lg:px-[64px] flex flex-col gap-[16px]"
  >
    <div class="flex justify-between">
      <div
        class="flex flex-col md:flex-row md:items-center gap-[8px] md:gap-[24px]"
      >
        <div
          *ngIf="userModel.name"
          class="text-G800 text-h6 md:text-h5 font-medium flex items-center gap-[8px]"
        >
          {{ userModel.name }}
          <img
            *ngIf="userModel.verified"
            src="/assets/massimo/svg/verifiedTick.svg"
            alt="verified"
            class="w-[24px] h-[24px]"
          />
        </div>
        <div class="flex gap-2 items-center">
          <app-star-rating [stars]="userModel.rating?.average" />
          <div class="text-b2 md:text-b1 font-medium text-G500 md:text-G700">
            ({{ userModel.rating?.count }} Jobs)
          </div>
        </div>
      </div>
      <share-button [link]="'https://canwork.io/profile/' + userModel.slug" />
    </div>

    <div
      class="flex flex-col sm:flex-row sm:justify-between items-end gap-[32px] md:gap-[16px]"
    >
      <div class="max-w-[675px] w-full flex flex-col gap-[32px] md:gap-[16px]">
        <div class="max-w-[609px] flex flex-col gap-[8px]">
          <div
            *ngIf="userModel.title"
            class="text-b2 md:text-b1 font-medium text-G900"
          >
            {{ userModel.title }}
          </div>
          <div *ngIf="userModel.bio" class="text-b2 md:text-b1 text-G900">
            {{ userModel.bio }}
          </div>
        </div>
        <div
          class="flex flex-wrap items-center gap-[8px] md:gap-[24px] text-b2 md:text-b1 font-medium text-G900"
        >
          <div
            *ngIf="userModel?.hourlyRate"
            class="flex items-center gap-[8px]"
          >
            <img
              src="/assets/massimo/svg/money.svg"
              alt="money"
              class="w-[24px] h-[24px]"
            />
            <div>${{ userModel.hourlyRate }}/hr</div>
          </div>
          <div
            *ngIf="userModel?.weeklyAvailability"
            class="flex items-center gap-[8px]"
          >
            <img
              src="/assets/massimo/svg/clock.svg"
              alt="clock"
              class="w-[24px] h-[24px]"
            />
            <div>{{ userModel.weeklyAvailability }}hrs/Week</div>
          </div>
          <div *ngIf="userModel?.location" class="flex items-center gap-[8px]">
            <img
              src="/assets/massimo/svg/locationGray.svg"
              alt="location"
              class="w-[24px] h-[24px]"
            />
            <div>{{ userModel.location }}</div>
          </div>
          <div class="flex items-center gap-[12px]">
            <a
              *ngIf="userModel?.dribbble"
              [href]="userModel.dribbble"
              target="_blank"
            >
              <img
                src="/assets/massimo/svg/dribbble.svg"
                alt="dribbble"
                class="w-[24px] h-[24px] cursor-pointer"
              />
            </a>
            <a
              *ngIf="userModel?.behance"
              [href]="userModel.behance"
              target="_blank"
            >
              <img
                src="/assets/massimo/svg/behance.svg"
                alt="behance"
                class="w-[24px] h-[24px] cursor-pointer"
              />
            </a>
            <a
              *ngIf="userModel?.instagram"
              [href]="userModel.instagram"
              target="_blank"
            >
              <img
                src="/assets/massimo/svg/instagram.svg"
                alt="instagram"
                class="w-[24px] h-[24px] cursor-pointer"
              />
            </a>
            <a
              *ngIf="userModel?.facebook"
              [href]="userModel.facebook"
              target="_blank"
            >
              <img
                src="/assets/massimo/svg/facebook.svg"
                alt="facebook"
                class="w-[24px] h-[24px] cursor-pointer"
              />
            </a>
            <a
              *ngIf="userModel?.twitter"
              [href]="userModel.twitter"
              target="_blank"
            >
              <img
                src="/assets/massimo/svg/x.svg"
                alt="twitter"
                class="w-[24px] h-[24px] cursor-pointer"
              />
            </a>
            <a
              *ngIf="userModel?.linkedIn"
              [href]="userModel.linkedIn"
              target="_blank"
            >
              <img
                src="/assets/massimo/svg/linkedIn.svg"
                alt="linkedIn"
                class="w-[24px] h-[24px] cursor-pointer"
              />
            </a>
            <a
              *ngIf="userModel?.website"
              [href]="userModel.website"
              target="_blank"
            >
              <img
                src="/assets/massimo/svg/globe.svg"
                alt="globe"
                class="w-[24px] h-[24px] cursor-pointer"
              />
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="!isMyProfile" class="flex gap-[16px] items-center">
        <message-button (click)="chatUser()" />
        <basic-button
          [type]="1"
          title="Invite to a job"
          size="small"
          extraClass="!text-b1"
          (click)="showInviteDialog()"
        />
        <!-- <basic-button
          [type]="2"
          title="Request"
          size="small"
          extraClass="!text-b1"
        /> -->
      </div>
      <div
        *ngIf="isMyProfile"
        class="w-full sm:w-max"
        (click)="displayProfileEditComponent()"
      >
        <basic-button
          [type]="1"
          title="Edit Profile"
          size="small"
          extraClass="!text-b1"
        />
      </div>
    </div>
  </div>
</div>

<!-- <div
  *ngIf="userModel"
  class="card pricing-3"
  style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;"
>
  <div id="sidebar">
    <div class="profile">
      <div class="profile-badge">
        <span class="m-10" *ngIf="userModel.badge">{{ userModel.badge }}</span>
        <span class="m-10" *ngIf="userModel.verified">VERIFIED</span>
      </div>
      <app-avatar
        [user]="userModel"
        [customClass]="'circle-headshot'"
      ></app-avatar>
      <div class="title">
        <h2 *ngIf="userModel.name">
          {{ userModel.name
          }}<verified-mark [user]="userModel"></verified-mark>
        </h2>
        <h3 *ngIf="userModel.title">{{ userModel.title }}</h3>
        <p class="fw-400" *ngIf="userModel.bio">{{ userModel.bio }}</p>
        <div class="row d-flex justify-content-around mx-30 my-30">
          <app-skill-tag
            *ngFor="let tag of userModel.skillTags"
            [skill]="tag"
            [routerLink]="['/search']"
            [queryParams]="{ query: tag }"
          ></app-skill-tag>
        </div>
        <button
          *ngIf="!isMyProfile"
          (click)="chatUser()"
          class="btn btn-primary btn-canya-chat"
          style="margin:10px 0 10px 0;width:175px;"
          [ngStyle]="{
            background:
              'linear-gradient(122deg, ' +
              userModel.colors[0] +
              ' 0%, ' +
              userModel.colors[1] +
              ' 93%)'
          }"
        >
          LET'S CHAT
        </button>
        <br />
        <button
          *ngIf="
            !isMyProfile &&
            userModel.type == 'Provider' &&
            currentUserJobs &&
            currentUserJobs.length < 1
          "
          (click)="proposeJob()"
          class="btn btn-primary btn-canya-chat"
          style="width:175px;"
          [ngStyle]="{
            background:
              'linear-gradient(122deg, ' +
              userModel.colors[0] +
              ' 0%, ' +
              userModel.colors[1] +
              ' 93%)'
          }"
          data-scrollto="section-profile"
        >
          POST A REQUEST
        </button>
        <button
          *ngIf="
            !isMyProfile &&
            userModel.type == 'Provider' &&
            currentUserJobs &&
            currentUserJobs.length > 0
          "
          class="btn btn-primary btn-canya-chat"
          data-toggle="modal"
          data-target="#inviteModal"
          style="width:175px;"
          [ngStyle]="{
            background:
              'linear-gradient(122deg, ' +
              userModel.colors[0] +
              ' 0%, ' +
              userModel.colors[1] +
              ' 93%)'
          }"
          data-scrollto="section-profile"
        >
          INVITE TO JOB
        </button>
      </div>
    </div>
    <div class="waves">
      <svg
        width="400"
        height="689"
        viewBox="0 0 400 689"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g id="Canvas" transform="translate(720 177)">
          <g id="Waves">
            <g id="back-wave">
              <use
                xlink:href="#path0_fill"
                transform="translate(-720 -158.222)"
                [attr.fill]="userModel.colors[0] || '#00FFCC'"
                fill-opacity="0.37"
              />
            </g>
            <g id="front-wave">
              <use
                xlink:href="#path1_fill"
                transform="translate(-720 -176.527)"
                fill="url(#paint1_linear)"
                fill-opacity="0.6"
              />
            </g>
          </g>
        </g>
        <defs>
          <linearGradient
            id="paint1_linear"
            x1="0"
            y1="0"
            x2="1"
            y2="0"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(2.44929e-14 221 -400 1.35323e-14 400 7.52681)"
          >
            <stop
              offset="0"
              [attr.stop-color]="userModel.colors[0] || '#33ccff'"
            />

            <stop
              offset="1"
              [attr.stop-color]="userModel.colors[1] || '#00FFCC'"
            />
          </linearGradient>
          <path
            id="path0_fill"
            d="M 0 60.222C 35.5 20.222 61.3051 -5.20902 92.5 8.22203C 128.5 23.7219 114 42.7219 211 60.222C 268.632 70.6198 308.621 7.02893 343 0.721831C 368.44 -3.94529 387.5 15.2219 400 23.7219L 400 1008.22L 0 1008.22L 0 60.222Z"
          />
          <path
            id="path1_fill"
            d="M 0 36.4959C 14.0351 50.8858 62.5188 84.4509 95 74.5268C 135.602 62.1217 181.5 -41.9732 257 19.0267C 321.612 71.2295 344 96.5267 400 44.9313L 400 971.527L 0 971.527L 0 36.4959Z"
          />
        </defs>
      </svg>
    </div>
  </div>
</div> -->

<!-- Modal -->
<!-- <div
  class="modal fade"
  id="inviteModal"
  tabindex="-1"
  *ngIf="currentUserJobs && currentUserJobs.length > 0"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center" border-none>
        <div class="col-12">
          <h5 class="modal-title" id="exampleModalLabel">INVITE TO JOB</h5>
          <button
            type="button"
            style="position: absolute; right: 0; top: 0"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="loadingJobs">
          <div class="col-12 mh-150 text-center">
            <i>Loading...</i>
          </div>
        </div>
        <div class="row" *ngIf="!loadingJobs">
          <div class="col-12">
            <div
              class="row py-10 animated {{ animation }}"
              *ngFor="let job of paginatedUserJobs(); let i = index"
            >
              <div class="col-8">
                <h6>{{ job.information.title }}</h6>
              </div>
              <div class="col-4 text-right">
                <button
                  id="job-{{ i }}"
                  (click)="inviteProvider(job, i)"
                  *ngIf="job.canInvite"
                  [disabled]="inviting === true"
                  class="btn btn-success"
                >
                  <span *ngIf="inviting === true">Inviting...</span>
                  <span *ngIf="inviting !== true">INVITE</span>
                </button>
                <i *ngIf="!job.canInvite" class="mr-15">Invited</i>
              </div>
            </div>
            <div class="row py-10">
              <div class="col-12 d-flex justify-content-center">
                <button
                  class="btn btn-sm"
                  [disabled]="currentPage == 0"
                  (click)="previousPage()"
                >
                  <i class="fa fa-chevron-left"></i>
                </button>
                <button
                  class="btn btn-sm"
                  [disabled]="currentPage == lastPage"
                  (click)="nextPage()"
                >
                  <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row py-10">
          <div class="col-12 text-center">
            <span
              >Want to start a new job?<br />
              <a
                data-dismiss="modal"
                class="pointer text-canya"
                (click)="proposeJob()"
                >Post a request.</a
              ></span
            >
          </div>
        </div>
      </div>
      <div class="modal-body" *ngIf="!loadingJobs" border-none></div>
    </div>
  </div>
</div> -->
