<section
  class="bg-white px-[40px] py-[24px]"
>
  <div class="text-h6 text-G900 font-medium">Skills</div>
  <div class="mt-[16px] flex flex-wrap gap-[8px]">
    <app-skill-tag
      [routerLink]="['/search/']"
      [queryParams]="{ query: 'skill' }"
      skill="skill"
    ></app-skill-tag>

    <app-skill-tag
      [routerLink]="['/search/']"
      [queryParams]="{ query: 'skill' }"
      skill="skill"
    ></app-skill-tag>
    <app-skill-tag
      [routerLink]="['/search/']"
      [queryParams]="{ query: 'skill' }"
      skill="skill"
    ></app-skill-tag>

    <app-skill-tag
      [routerLink]="['/search/']"
      [queryParams]="{ query: 'skill' }"
      skill="skill"
    ></app-skill-tag>

    <app-skill-tag
      [routerLink]="['/search/']"
      [queryParams]="{ query: 'skill' }"
      skill="skill"
    ></app-skill-tag>
  </div>
</section>
