<section
  class="max-sm:border-t max-sm:border-G200 bg-white py-[40px] sm:p-[24px]"
>
  <div class="flex justify-between">
    <div class="text-G900 text-h6 font-medium">Skills</div>
    <edit-button *ngIf="isMyProfile" (click)="showEditBioDialog()" />
  </div>
  <div class="mt-[16px]">
    <div *ngIf="userModel.skillTags.length === 0">
      <div class="text-b1 text-G800 font-medium">
        You do not have any skills.
      </div>
    </div>
    <div
      *ngIf="userModel.skillTags.length > 0"
      class="flex flex-wrap gap-[8px]"
    >
      <app-skill-tag
        *ngFor="let skill of userModel.skillTags"
        [skill]="skill"
        [isHoverAllowed]="false"
      ></app-skill-tag>
    </div>
  </div>
</section>
