<!-- Topbar -->
<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">

    <div class="topbar-left">
      <button class="topbar-toggler text-gray">&#9776;</button>
      <a class="topbar-brand" [routerLink]="['/home']">
        <!-- <img class="logo-inverse" src="assets/img/logo.svg" width="136px" alt="logo"> -->
        <img class="logo-default" src="assets/img/logo.svg" width="auto" height="36px" alt="logo">
      </a>
    </div>

    <div class="topbar-right">
      <ul class="topbar-nav nav">

        <li class="nav-item">
          <a [routerLink]="['/chat']" class="nav-link" data-scrollto="section-home">Return Home</a>
        </li>

      </ul>

    </div>

  </div>
</nav>
<!-- END Topbar -->

<!-- Header -->
<app-header [empty]="true"></app-header>
<!-- END Header -->

<!-- Main container -->
<main class="main-content">


  <div *ngIf="state === 'loading'" class="container d-flex h-100 flex-column justify-content-center">
    <img src="assets/img/loader.svg" height="36px" alt="Loader">
  </div>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | MetaMask
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section *ngIf="state === 'metaMaskNotAvailable'" class="section bg-white py-10" id="section-main">
    <div class="container">
      <header class="section-header my-0 py-0">
        <!-- <small>Features</small> -->
        <h2 class="fw-300">Install MetaMask Wallet</h2>
        <img src="assets/img/metamask.svg" width="140px" height="140px">
        <h4 class="fw-300 mb-10">Why MetaMask needed!?</h4>
        <!-- <h6 class="fw-300 mb-10">With MetaMask you can interract with the Ethereum network. Moreover, the benefit of MetaMask is that
          <strong>YOU are storing your private keys</strong> instead of letting us to hold to your keys.</h6> -->

        <div class="alert alert-info" role="alert">
            With MetaMask you can interract with the Ethereum network. Moreover, the benefit of MetaMask is that
            <strong>YOU are storing your private keys</strong> instead of letting us to hold to your keys.
        </div>

        <small class="lead text-danger">
          <i class="fa fa-exclamation-triangle"></i>&nbsp;
          <strong>IMPORTANT:</strong> remember to switch your MetaMask Wallet to Main Ethereum Network.
        </small>
        <hr>
      </header>

      <div class="row my-0 py-0">

        <div class="col-12 col-md-6 col-xl-4 feature-1">
          <p class="feature-icon">
            <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank">
              <img src="assets/img/metamask.png" width="auto" height="64px" alt="Install MetaMask">
            </a>
          </p>
          <p class="fs-60 fw-900 opacity-10">1</p>
          <h5>Install MetaMask on a desktop browser like&nbsp;<img src="assets/img/chrome.svg" width="18px" height="18px" style="margin-top: -3px;">&nbsp;<span class="fw-500">Chrome</span>.</h5>
          <!-- <p class="text-muted"></p> -->
          <!-- <div class="text-center gap-multiline-items-2 my-30">
              <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank">
                <img class="img-fadein" src="assets/img/metamask.png" alt="Install MetaMask">
              </a>
            </div> -->
        </div>

        <div class="col-12 col-md-6 col-xl-4 feature-1">
          <p class="feature-icon">
            <img src="assets/img/metamask-action.png" width="auto" height="64px" alt="MetaMask Wallet">
          </p>
          <p class="fs-60 fw-900 opacity-10">2</p>
          <h5>Open <img src="assets/img/metamask-icon.png" width="18px" height="18px" style="margin-top: -3px;">&nbsp;MetaMask and create your Ethereum address where you'll deposit your ETH or CAN.</h5>
          <p class="text-muted"></p>
        </div>

        <div class="col-12 col-md-6 col-xl-4 feature-1">
          <p class="feature-icon">
            <img src="assets/img/metamask-pay.png" width="auto" height="64px" alt="MetaMask Wallet">
          </p>
          <p class="fs-60 fw-900 opacity-10">3</p>
          <h5>Unlock your MetaMask Wallet (if needed) and reload the page.</h5>
          <p class="text-muted"></p>
        </div>

      </div>
    </div>

    <div class="section-dialog bg-gray">
      <p class="text-center">FAQ</p>
      <br>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header bg-lighter" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                What do I need to use CanYa?
              </a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p class="lead">Here’s what you need to get started:</p>
              <ul>
                <li>A computer or laptop running the desktop version of Chrome.</li>
                <li>MetaMask, a digital wallet used specifically with web apps (
                  <a href="https://metamask.io/" target="_blank">Install MetaMask</a> ).</li>
                <li>CanYaCoins, a form of digital payment that powers CanYa.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-lighter" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Installing MetaMask
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              <p class="lead">To use CanYa, you will need to install MetaMask, a digital wallet. You will need to put money in it to make
                your first purchase.</p>
              <p class="lead text-danger">
                <strong>Note:</strong> A digital wallet like MetaMask acts like a bank account—treat it with respect and make sure
                you don’t forget your password or the seed words.</p>
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/tfETpi-9ORs?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-lighter" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Why is MetaMask locked?
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              <p class="lead">Occasionally the page displays a lock screen. This happens because MetaMask automatically locks your account
                after a certain period of time. To unlock simply click on the MetaMask extension and type in your password.</p>
              <img src="assets/img/metamask-locked.png">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-lighter" role="tab" id="headingFour">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Getting CanYaCoins
              </a>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-block">
              <p class="lead">You will need to purchase CAN from an exchange, and then transfer the CAN from your exchange wallet to your
                MetaMask Wallet. Unfortunately, you cannot use CanYa with only an exchange account.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Switch to MainNet
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <section *ngIf="state === 'switchToMainNet'" class="section bg-white py-10" id="section-main">
        <div class="container">
          <header class="section-header my-0 py-0">
            <h2 class="fw-300">Switch your MetaMask to MainNet!</h2>
            <img src="assets/img/metamask.svg" width="140px" height="140px">
            <!-- <h4 class="fw-300 mb-10">Your MetaMask is not connected to Main Ethereum Network.</h4> -->
            <h4 class="fw-300 mb-30">Open your wallet, switch your wallet to
              <span class="fw-500">Main Ethereum Network</span> and reload the page.</h4>
            <!-- <small class="lead text-danger">
                  <i class="fa fa-exclamation-triangle"></i>&nbsp;
                  <strong>IMPORTANT:</strong> You can 'buy' ether (ETH) in MetaMask (Ropsten Network Faucet). Remember to switch your MetaMask Wallet to Main Ethereum Network.
                </small> -->
    
            <!-- <img src="assets/img/metamask-buy.png"> -->
          </header>
        </div>
    
      </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Unlock MetaMask
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section *ngIf="state === 'walletLocked'" class="section bg-white py-10" id="section-main">
      <div class="container">
        <header class="section-header my-0 py-0">
          <h2 class="fw-300">Your MetaMask is locked!</h2>
          <img src="assets/img/metamask.svg" width="140px" height="140px">
          <h4 class="fw-300 mb-10">Open MetaMask and follow the instructions to unlock it, reload the page and try again.</h4>

          <small class="lead text-danger">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;
            <strong>IMPORTANT:</strong> You can 'buy' ether (ETH) in MetaMask (Ropsten Network Faucet). Remember to switch your MetaMask Wallet to Main Ethereum Network.
          </small>

          <img src="assets/img/metamask-buy.png">
        </header>
      </div>
  
    </section>

  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Buy CAN
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <section *ngIf="state === 'buyCAN'" class="section bg-gray py-40" id="section-main">
    <div class="container">

      <!-- @logoAnimation -->
      <header class="section-header mt-0 mb-20 py-0">
        <!-- <small>Features</small> -->
        <!-- <img class="logo-default" src="assets/img/round-icon.svg" width="auto" height="48px" alt="logo" style="margin-top: -8px;">anYaCoins -->

        <h4 class="fw-300 my-0 py-0">Wallet Balance<img *ngIf="state === 'loading'" src="assets/img/loader.svg" height="36px" alt="Loader"></h4>
        <h1 class="fw-300 my-0 py-0">
          <!-- | currency:' ':'symbol':'1.2-3' -->
          <img class="logo-default" src="assets/img/round-icon.svg" width="auto" height="36px" alt="logo" style="margin-top: -8px;">{{ balance | currency:' ':'symbol':'1.2-3':'en-US' }}
        </h1>
        
        <!-- Buy CAN with BTC, ETH, VISA or Mastercard -->
        <!-- <h2 class="fw-300"></h2> -->

        <div class="alert alert-danger" role="alert">
          <!-- Please, remember to switch your MetaMask Wallet to <strong>Main Ethereum Network</strong> -->
          <i class="fa fa-exclamation-triangle"></i>&nbsp;The current version is an Alpha / Pre-alpha of CanYa. What this means is that while there
          are final features implemented, there are many that are not or need to be tweaked.
        </div>

        <!-- <p class="lead fw-300">
          <strong>IMPORTANT:</strong> remember to switch your MetaMask Wallet to
          <strong>Main Ethereum Network</strong>.</p> -->
        <hr>
        <h4 class="fw-300 px-10">Also available on:</h4>
        <a class="btn btn-primary my-1" href="https://www.kucoin.com/" target="_blank" data-label="KuCoin">KuCoin</a>
        <a class="btn btn-primary my-1" href="https://www.aex.com/" target="_blank" data-label="AEX">AEX</a>
        <a class="btn btn-primary my-1" href="https://xbrick.io/" target="_blank" data-label="XBrick">XBrick</a>
        <a class="btn btn-primary my-1" href="https://www.cryptopia.co.nz/" target="_blank" data-label="Cryptopia">Cryptopia</a>
        <a class="btn btn-primary my-1" href="https://www.fatbtc.com/" target="_blank" data-label="Fatbtc">Fatbtc</a>
        <a class="btn btn-primary my-1" href="https://www.coinspot.com.au/" target="_blank" data-label="CoinSpot">CoinSpot</a>
        <a class="btn btn-primary my-1" href="https://etherdelta.com/#0x1d462414fe14cf489c7a21cac78509f4bf8cd7c0-ETH" target="_blank" data-label="EtherDelta">EtherDelta</a>
        <a class="btn btn-primary my-1" href="https://coss.io/" target="_blank" data-label="COSS.IO">COSS.IO</a>
        <a class="btn btn-primary my-1" href="https://www.qryptos.com/" target="_blank" data-label="QRYPTOS">QRYPTOS</a>
        <a class="btn btn-primary my-1" href="https://radarrelay.com/" target="_blank" data-label="Radar Relay">Radar Relay</a>
        <a class="btn btn-primary my-1" href="https://idex.market/" target="_blank" data-label="IDEX">IDEX</a>
        <a class="btn btn-primary my-1" href="https://www.bancor.network/discover" target="_blank" data-label="Bancor">Bancor</a>
        <a class="btn btn-primary my-1" href="https://gatecoin.com/" target="_blank" data-label="Gatecoin">Gatecoin</a>
      </header>

      <!-- <div class="card-group">
          <div class="card card-hover-shadow bg-white my-5" style="border-radius: 3px;">
            <div class="card-block">
              <h3 class="card-title">
                Buy&nbsp;<i class="cc ETH fs-24" aria-hidden="true" style="margin-top: -8px;"></i>&nbsp;ETH</h3>
              <p class="card-text mb-0">Buy Ether with Bitcoin, altcoins or Credit Card. You need to buy Ether in order to buy CAN in different exchanges.</p>

              
            </div>
            <div class="card-footer bg-white text-center" style="border-top: none;">
              <a href="#" data-toggle="modal" data-target="#changellyModal" class="btn btn-primary btn-canya-chat">BUY ETH</a>
            </div>
          </div>
        
          <div class="col-1"></div>
        
          <div class="card card-hover-shadow bg-white my-5" style="border-radius: 3px;">
            <div class="card-block">
              <h3 class="card-title">Buy&nbsp;<img class="mb-5" src="assets/img/round-icon.svg" width="auto" height="24px">&nbsp;CAN</h3>
              <p class="card-text">You can buy <img class="mb-5" src="assets/img/round-icon.svg" width="auto" height="18px"> CAN <strong>by sending Ether</strong> to our smart contract. It's the easiest way to buy CAN. Give it a try!</p>
              
            </div>
            <div class="card-footer bg-white text-center" style="border-top: none;">
              <button (click)="onBuyNow();" disabled="true" class="btn btn-primary btn-canya-chat">COMING SOON</button>
            </div>
          </div>
      </div> -->

      <!-- <div class="section-dialog bg-white text-center mt-20">
        <p>
          <img src="assets/img/CanStation.svg" width="auto" height="36px" alt="CanYa CanStation">
        </p>
        <br>
        <h4 class="fw-300">How do I know how much gas to use?</h4>
        <p class="lead fw-400">Metamask fills the gas price for you, but sometimes it can be too low. Try our <img src="assets/img/CanStation.svg" width="auto" height="18px" alt="CanYa CanApps" style="margin-top: -8px;"> to check real-time metrics on ETH gas price.</p>
        <button disabled="true" class="btn btn-primary btn-canya-chat">COMING SOON</button>
      </div> -->

    </div>
  </section>

</main>
<!-- END Main container -->

<div id="bancor-wc"></div>

<!-- Confirm transaction Modal -->
<div class="modal fade" id="confirmTransaction" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="true" aria-labelledby="confirmTransactionLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-danger" id="subscribeModalLabel">Warning!</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="row d-flex justify-content-center align-self-center align-items-center text-center bb-1">
          <div class="col">
            <img [src]="currentUser.avatar.uri || 'assets/img/placeholder.png'" class="avatar mt-10 mb-20" alt="CanYa">
          </div>
          <div class="col">
            <i class="ti-arrow-right text-dark fs-24"></i>
          </div>
          <div class="col">
              <img src="assets/img/round-icon.svg" width="48px" height="48px" class="avatar mt-10 mb-20" alt="CanYa">
          </div>
        </div>

        <h6 class="fw-400 mt-10 mb-0">You're about to send: <span class="fs-24 fw-500">0.1 ETH</span> (Ropsten Network)</h6>
        <h6 class="fw-400 mb-10">to our smart contract address: <mark>0x5a5cd21144943b9e27c9fe3d30adc6fc25c08563</mark>.</h6>
        <h6 class="fw-400 mb-10">You're interacting with <strong>Ropsten Network Testnet</strong>, provided by MetaMask.</h6>
        <small class="text-danger mb-10">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;<strong>IMPORTANT:</strong>&nbsp;confirm you're interacting with Main Ethereum Network.
        </small>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">No, get  me out of here!</button>
          <button (click)="onConfirmTransaction();" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Yes, I am sure! Make transaction</button>
        </div>
      </div>
    </div>
  </div>
</div>