<div *ngIf="!paymentMethod" class="container">
  <div class="row">
    <div class="col-12 text-center choose-payment">
      <h2>Choose your payment method</h2>
      <button class="btn-payment-type" (click)="setPaymentMethod('fiat')"><img src="assets/img/credit-card.svg"><br>Pay
        with<br>Credit card</button>
      <button class="btn-payment-type" (click)="setPaymentMethod('crypto'); startCanpay() "><img src="assets/img/ethereum.svg"><br>Pay
        with<br>Cryptocurrency</button>
    </div>
  </div>
</div>

<div *ngIf="paymentMethod == 'fiat'" class="container">

  <div class="row">
    <div class="col-12 text-center choose-payment">
      <h2>Paying With Credit Card</h2>
      <h4>
        Generate Wallet
      </h4>
      <br>
      <p>We will now create a crypto wallet, allowing you to pay and interact with the ethereum blockchain easily using
        your credit card.</p>
      <p class="text-danger">You <b>MUST</b> remember this password. If you lose this password, you <b>WILL</b> lose
        access to your funds.</p>
      <div class="col-sm-4 offset-sm-4">
        <form [formGroup]="walletForm" class="form validate" novalidate>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" #email formControlName="email" required class="form-control" id="email" [class.invalid]="!walletForm.controls.email.valid && walletForm.controls.email.dirty">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" #password formControlName="password" required class="form-control" id="password"
              [class.invalid]="!walletForm.controls.password.valid && walletForm.controls.password.dirty">
          </div>
        </form>
      </div>
      <button (click)="paymentMethod = null" class="btn btn-danger m-5">Cancel</button>
      <button (click)="getWallet()" [disabled]="!walletForm.valid" class="btn btn-primary m-5">Get Wallet</button>
    </div>
  </div>
</div>

<div *ngIf="paymentMethod == 'crypto'">
  <div *ngIf="!canPayOptions" class="container d-flex h-100 flex-column justify-content-center" style="min-height: 640px;">
    <img src="assets/img/loader.svg" height="36px" alt="Loader">
  </div>
  <div class="container" *ngIf="canPayOptions ">
    <canyalib-canpay [dAppName]="canPayOptions.dAppName" [successText]="canPayOptions.successText" [operation]="canPayOptions.operation"
      [onAuthTxHash]="canPayOptions.onAuthTxHash" [recipient]="canPayOptions.recipient" [amount]="canPayOptions.amount"
      [paymentSummary]="canPayOptions.paymentSummary" [postAuthorisationProcessName]="canPayOptions.postAuthorisationProcessName"
      [postAuthorisationProcessResults]="canPayOptions.postAuthorisationProcessResults" (startPostAuthorisationProcess)="canPayOptions.startPostAuthorisationProcess($event)"
      (complete)="canPayOptions.complete($event)" (cancel)="canPayOptions.cancel($event)" [disableCanEx]="canPayOptions.disableCanEx"
      [userEmail]="canPayOptions.userEmail"></canyalib-canpay>
  </div>
</div>
