<main id="auth-with-dock-component" class="d-flex align-items-center">
  <div class="container">
    <h1 class="text-primary">Welcome to CanYa!</h1>
    <h2>Hold up. We are collecting your Dock.io data.</h2>
    <div class="d-flex justify-content-center">
      <ul class="checkpoints">
        <li><i class="fa fa-check-circle"></i> Profile data</li>
        <li><i class="fa fa-circle-o-notch fa-spin"></i> Email data</li>
      </ul>
    </div>
    <button class="btn btn-primary btn-lg">Continue</button>
  </div>
</main>
