<section class="rounded-[12px] bg-white px-[40px] py-[24px]">
  <div class="text-h6 text-G900 font-medium">Education</div>
  <div class="mt-[16px] flex flex-col gap-[16px]">
    <div class="flex items-start gap-[16px]">
      <img
        src="/assets/massimo/svg/tabler.svg"
        alt="tabler"
        class="w-[24px] h-[24px]"
      />
      <div class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G800 font-medium">Osun State University</div>
        <div class="text-b1 text-G800">
          Bachelor of Engineering (BEng), Electrical engineering
        </div>
        <div class="text-b2 text-G500">16th Oct. 2011 - 24th Dec. 2016</div>
      </div>
    </div>
  </div>
</section>
