<section
  [hidden]="loaded && !isMyProfile && userWorkhistorys.length === 0"
  class="sm:rounded-[12px] border-t sm:border !border-G200 bg-white py-[40px] sm:px-[40px] sm:py-[24px]"
>
  <workhistory-dialog
    [(visible)]="visibleWorkhistoryDialog"
    [selectedWorkhistory]="selectedWorkhistory"
  />
  <confirm-dialog
    [(visible)]="visibleDeleteWorkhistoryDialog"
    title="Delete Work Experience"
    content="Are you sure you want to delete this work experience?"
    (LeftbtnEvent)="onDeleteWorkhistory()"
  />
  <div class="flex justify-between">
    <div class="text-h6 text-G900 font-medium">Work Experience</div>
    <plus-button
      *ngIf="isMyProfile && loaded"
      (click)="showWorkhistoryDialog()"
    />
  </div>
  <div class="mt-[16px]">
    <div *ngIf="!loaded" class="flex flex-col gap-[16px]">
      <sk-workhistory />
      <hr class="w-full h-[1px] bg-G200 border-none" />
      <sk-workhistory />
    </div>
    <div *ngIf="loaded && userWorkhistorys.length === 0">
      <div class="flex justify-center items-center mb-5">
        <div class="flex flex-col items-center mt-5 w-[50%] text-center">
          <img src="/assets/massimo/svg/no-work-history.svg" alt="" class="mb-4" />
          <h1 class="text-[20px] font-semibold mb-2 my-5">No Work History</h1>
          <p class="my-10">Fill your work history in the profile section to have them show up here.</p>
          <br />
          <basic-button [type]="1" title="Go to Job Board" size="small" [routerLink]="['/jobs']"/>
        </div>
      </div>
    </div>
    <div
      *ngIf="loaded && userWorkhistorys.length > 0"
      class="flex flex-col gap-[16px]"
    >
      <div
        *ngFor="let workhistory of userWorkhistorys; let i = index"
        class="flex flex-col gap-[16px]"
      >
        <div class="flex items-start gap-[16px] relative">
          <img
            *ngIf="workhistory.logoUrl === ''"
            src="/assets/massimo/images/canworkLogo.png"
            alt="canwork"
            class="w-[48px] h-[48px]"
          />
          <img
            *ngIf="workhistory.logoUrl !== ''"
            [src]="workhistory.logoUrl"
            class="w-[48px] h-[48px] bg-cover"
          />
          <div
            class="flex flex-col gap-2"
            [ngClass]="{ 'pr-[48px]': isMyProfile }"
          >
            <div class="text-h6 text-G900 font-medium">
              {{ workhistory.title }} | {{ workhistory.employer }}
            </div>
            <div class="text-b2 text-G500">
              {{ workhistory.startDate }} -
              {{ workhistory.completion }}
            </div>
          </div>

          <p-dropdown
            *ngIf="isMyProfile"
            [options]="items"
            [(ngModel)]="selectedItem"
            appendTo="body"
            class="share-button-style absolute top-0 right-0"
          >
            <ng-template pTemplate="selectedItem">
              <three-dots-button />
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div
                class="flex items-center"
                (click)="showEditWorkhistoryDialog(item, workhistory)"
              >
                <img
                  src="{{ '/assets/massimo/svg/' + item.icon }}"
                  class="mr-[16px] w-[20px]"
                />
                <span class="font-medium text-G900">{{ item.label }}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="text-G900 text-b1 whitespace-pre-line">
          {{ workhistory.description }}
        </div>
        <div class="flex flex-wrap gap-[8px]">
          <app-skill-tag
            *ngFor="let skill of workhistory.tags"
            [skill]="skill"
            [isHoverAllowed]="false"
          ></app-skill-tag>
        </div>
        <hr
          *ngIf="i + 1 !== userWorkhistorys.length"
          class="w-full h-[1px] bg-G200 border-none"
        />
      </div>
    </div>
  </div>
</section>
