<section
  class="rounded-[12px] border !border-G200 bg-white px-[40px] py-[24px]"
>
  <div class="text-h6 text-G900 font-medium">Work History</div>
  <div class="mt-[16px] flex flex-col gap-[16px]">
    <div class="flex flex-col gap-[16px]">
      <div class="flex gap-4 items-start">
        <img
          src="/assets/massimo/test-portfolio.png"
          alt="test-portfolio"
          class="w-[40px] h-[40px] bg-cover"
        />
        <div class="flex flex-col gap-2">
          <div class="text-h6 text-G900 font-medium">
            Product Designer | CanWork
          </div>
          <div class="text-b2 text-G500">
            January 2020 - January 2023 | Brisbane, Australia
          </div>
        </div>
      </div>
      <div class="text-G900 text-b1 line-clamp-4">
        Lead designer for companies , creating visually appealing and functional
        web applications, mobile applications, and design systems Lead
        stakeholder meetings to establish user needs in a way that alights with
        the business goals and objective as Lead designer for companies ,
        creating visually appealing and functional web applications, mobile
        applications, and design systems Lead stakeholder meetings to establish
        user needs in a way that alights with the business goals and objective
        as
      </div>
      <hr class="w-full h-[1px] bg-G200 border-none" />
    </div>
  </div>
</section>
