<section id="user-reviews" class="card mt-3 p-3" *ngIf="user && reviews">
  <div class="row">
    <div class="col-12">
      <h5 class="mb-0">REVIEWS</h5>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="p-3">
      <star-rating [starType]="'svg'" [labelText]="'(' + user.rating.count + ')'" labelPosition="right" [showHalfStars]="true"
        staticColor="ok" [readOnly]="true" [step]="0.5" [rating]="user.rating.average"></star-rating>
    </div>
  </div>
  <article *ngFor="let review of reviews">
    <p class="mb-0 mt-3">{{ review.message }}</p>
    <small>
      <star-rating [starType]="'svg'" size="small" showHalfStars="true" staticColor="ok" [readOnly]="true" [rating]="review.rating"
        [step]="0.5" [labelText]="getReviewLabel(review)" labelPosition="right"></star-rating>
    </small>
  </article>
</section>
