<app-bot 
    [logo]="false"
    [header]="'Console'"
    [conversation]="conversation" 
    (action)="onAction($event);"></app-bot>

    <!-- <div [hidden]="hideBanner" class="banner-canya">
        <a (click)="hideBanner = true;"
            class="banner-canya-close">×
        </a>		
    
        <a [routerLink]="[banners[rndBanner].link]"
            class="d-block">
            <img [src]="banners[rndBanner].image" 
            class="b-0 d-block" alt="canya - Buy CAN" 
            width="318">
        </a>
    </div> -->

