p {
  font-family: Lato;
}

.popperParent {
  background: #3cf;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
}

.popperParent[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #3cf;
}

.popperParent[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

.popperParent[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

.popperParent[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

.popperParent[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
