<section class="section shadow-1 pt-60" style="background-image: linear-gradient(122deg, #3cf, #01fecd);">
  <div class="container text-center">

    <div class="row mt-20 align-items-center">
      <div class="col-12 text-center">
        <i class="ti-comments text-white fs-60"></i>
        <h4 class="text-white pt-25">Got feedback? We'd love to hear from you.</h4>
        <br>
        <a href="https://forum.canya.io/" target="_blank" class="btn btn-lg btn-primary shadow-3">Give feedback</a>
      </div>
    </div>
  </div>
</section>