<!-- Topbar -->
<nav class="topbar topbar-expand-md topbar-sticky" id="section-top">
  <div class="container">

    <div class="topbar-left">
      <button class="topbar-toggler text-gray">&#9776;</button>
      <a class="topbar-brand" [routerLink]="['/home']">
        <!-- <img class="logo-inverse" src="assets/img/logo.svg" width="136px" alt="logo"> -->
        <img class="logo-default" src="assets/img/logo.svg" width="auto" height="36px" alt="logo">
      </a>
    </div>

    <!-- <div class="topbar-right">
        <ul class="topbar-nav nav">
          <li class="nav-item">
            <a href="javascript:history.back()" class="nav-link" data-scrollto="section-home">Back</a>
          </li>
        </ul>
      </div> -->
  </div>
</nav>
<!-- END Topbar -->

<!-- Header -->
<app-header [empty]="true"></app-header>
<!-- END Header -->

<!-- Main container -->
<main class="main-content">

  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Post a request
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <section *ngIf="!sent" class="section bg-white pt-0 pb-30" id="section-main">

    <a href="javascript:history.back()" class="hidden-lg-down">
      <i class="ti-angle-left text-default fs-24" style="position: fixed; top: 105px; left: 18%; z-index: 11;"></i>
    </a>

    <div class="container">
      <header class="section-header my-0 py-0">
        <h2 class="fw-300">Post a request</h2>
        <hr>
      </header>

      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <div class="align-self-center align-items-center my-10">

            <!-- form-type-material -->
            <form [formGroup]="postForm" (ngSubmit)="onPostRequest()" class="form form-round validate" novalidate>
              <div class="col-12 col-lg-12">
                <div class="form-group">
                  <label class="text-dark">Describe the service or task you're looking to purchase:</label>
                  <textarea class="form-control" #description formControlName="description" rows="4" name="description" placeholder="I'm looking for..."
                    [class.invalid]="!postForm.controls.description.valid && postForm.controls.description.dirty"></textarea>

                  <!--  && postForm.controls.description.dirty -->
                  <small *ngIf="!postForm.controls.description.valid" class="text-primary text-wrap">e.g. 'Custom Logo' or 'Milestone 1 - Wireframes'.</small>
                </div>

                <div class="form-group">
                  <label class="text-dark">What is your budget for this service?</label>

                  <input #budget formControlName="budget" class="form-control" type="number" name="budget" min="10" placeholder="10 CanYaCoins minimum"
                    [class.invalid]="!postForm.controls.budget.valid && postForm.controls.budget.dirty">

                  <small *ngIf="!postForm.controls.budget.valid && postForm.controls.budget.dirty" class="text-primary">Must be 10 CanYaCoins or higher.</small>
                </div>

              </div>

              <div class="modal-footer">
                <img *ngIf="isSending" src="assets/img/loader.svg" height="36px" alt="CanYa Coin">

                <button type="submit" class="btn btn-primary btn-canya-chat btn-block" 
                  [disabled]="!postForm.valid || isSending">POST</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Confirmation
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <section *ngIf="sent" class="section py-70">

    <a href="javascript:history.back()" class="hidden-lg-down">
      <i class="ti-angle-left text-default fs-24" style="position: fixed; top: 105px; left: 18%; z-index: 11;"></i>
    </a>

    <div class="container">
      <header class="section-header">
        <!-- <small></small> -->
        <img src="assets/img/Confirmation.png" class="mb-30" width="100px" height="100px">
        <h2>Congrats! Your request has been submitted!</h2>
        <p class="lead fw-400">Your CanYa Provider will be in touch soon. Check your messages/transactions later in order to receive and pay for your service.</p>
        <hr>
      </header>

      <br>
      <p class="text-center">
        <a class="btn btn-secondary" [routerLink]="['/home']">Return home</a>
        &nbsp;&nbsp;
        <a class="btn btn-canya-tools text-white" [routerLink]="['/chat', fAddress]">Go to transactions</a>
      </p>

    </div>
  </section>

</main>
<!-- END Main container -->

<!-- <app-footer></app-footer> -->

<a class="scroll-top" href="#">
  <i class="fa fa-angle-up"></i>
</a>