.p-dropdown-items {
  border-radius: 8px;
}
.p-dropdown-items-wrapper {
  max-height: 400px !important;
}
.p-dropdown-items-wrapper .p-element.ng-star-inserted li {
  font-size: 14px !important;
  padding: 6px 16px !important;
}
.p-dropdown-items.ng-star-inserted {
  border: 1px solid #e2e8f0 !important;
}

.p-dropdown-items-wrapper :first-child > li {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.p-dropdown-items-wrapper :last-child > li {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
