<div
  class="w-full rounded-[12px] overflow-hidden bg-white p-[32px] grid gap-4 border border-G200 my-[16px]"
  [ngClass]="{
    'hover:bg-G100 active:bg-G200 cursor-pointer transition-all duration-200':
      jobType === 'public' || jobType === 'direct' || jobType === 'active'
  }"
  (click)="movetojobdetail()"
>
  <div class="flex flex-col md:flex-row md:justify-between gap-5">
    <div class="w-full flex gap-6 items-center">
      <img
        *ngIf="job.information.providerType"
        src="{{ getImage(job.information.providerType) }}"
        class="w-[48px] h-[48px]"
      />
      <div class="grid gap-1">
        <div class="text-G900 text-h6 font-medium">
          {{ job.information.title }}
        </div>
        <div class="text-G500 text-b2">Posted {{ timeAgo(job.createAt) }}</div>
      </div>
    </div>

    <div
      *ngIf="jobType === 'public'"
      class="border rounded-md border-G300 w-[32px] h-[32px] flex items-center justify-center cursor-pointer transition-all duration-150"
      [ngClass]="{
        'bg-white hover:bg-G100': !favourite,
        'bg-start-g1 hover:bg-start-g8': favourite
      }"
      (click)="Makefavorite($event)"
    >
      <img src="/assets/massimo/svg/bookmark.svg" class="select-none" />
    </div>

    <ng-container *ngIf="jobType == 'draft'">
      <div class="flex gap-4 items-center">
        <div
          class="cursor-pointer py-[10px] px-[24px] text-R900 flex justify-center items-center gap-2 font-medium text-b1 text-nowrap hover:bg-G200 rounded-xl"
          (click)="updateDialog($event)"
        >
          <img
            src="/assets/massimo/svg/delete.svg"
            class="select-none w-[16px] h-[16px]"
          />
          Delete Job
        </div>

        <basic-button
          type="1"
          [routerLink]="['/inbox/job/edit', job.id]"
          title="Edit Job"
          size="small"
          extraClass="border text-G900"
        />
      </div>
    </ng-container>
  </div>

  <div class="line-clamp-4">
    {{ stripHtmlTags(job.information.description) }}
  </div>
  <!-- static code for responsive -->
  <div class="flex items-center gap-4">
    <ng-container *ngFor="let item of job.information.skills; let i = index">
      <basic-tag
        *ngIf="8 > i"
        [type]="2"
        [title]="item"
        class="max-xl:hidden"
      />
      <basic-tag
        *ngIf="4 > i"
        [type]="2"
        [title]="item"
        class="max-md:hidden xl:hidden"
      />
      <basic-tag *ngIf="2 > i" [type]="2" [title]="item" class="md:hidden" />
    </ng-container>
    <basic-tag
      *ngIf="job.information.skills.length > 8"
      [type]="2"
      [title]="'+' + (job.information.skills.length - 8)"
      class="max-xl:hidden"
    ></basic-tag>
    <basic-tag
      *ngIf="job.information.skills.length > 4"
      [type]="2"
      [title]="'+' + (job.information.skills.length - 4)"
      class="max-md:hidden xl:hidden"
    ></basic-tag>
    <basic-tag
      *ngIf="job.information.skills.length > 2"
      [type]="2"
      [title]="'+' + (job.information.skills.length - 2)"
      class="md:hidden"
    ></basic-tag>
  </div>

  <div class="grid sm:grid-cols-2 xl:flex gap-2 items-center text-nowrap">
    <div *ngIf="jobType === 'active'" class="flex gap-2 items-center">
      <img src="/assets/massimo/svg/fi_user-check.svg" class="select-none" />
      <div class="text-G500 text-b2">Hired</div>
      <div
        *ngIf="job.otherParty?.avatar && job.otherParty?.avatar?.uri"
        class="cursor-pointer flex gap-[16px] font-sans items-center"
        [routerLink]="['/profile/alt/', job.otherParty.id]"
      >
        <div class="!mb-[-6px]">
          <app-avatar [user]="job.otherParty" size="28"></app-avatar>
        </div>
        <div class="line-clamp-1 text-b1 font-medium text-G900">
          {{ job.otherParty?.name }}
          <!-- <verified-mark [user]="job.otherParty"></verified-mark> -->
        </div>
      </div>
    </div>
    <div *ngIf="jobType !== 'active'" class="flex gap-2 items-center">
      <img src="/assets/massimo/svg/jobLocation.svg" class="select-none" />
      <div class="text-G500 text-b2">Location</div>
      <div class="text-G700 text-b1 font-medium">{{ location }}</div>
    </div>
    <div class="flex gap-2 items-center">
      <img src="/assets/massimo/svg/jobBudget.svg" class="select-none" />
      <div class="text-G500 text-b2">
        {{ job.paymentType }}
      </div>
      <div class="text-G700 text-b1 font-medium">
        <app-budget [job]="job"></app-budget>
      </div>
    </div>
    <div class="flex gap-2 items-center">
      <img src="/assets/massimo/svg/jobDeadline.svg" class="select-none" />
      <div class="text-G500 text-b2">Project Deadline</div>
      <div class="text-G700 text-b1 font-medium">
        {{ formatDate(job.deadline) }}
      </div>
    </div>
    <div *ngIf="jobType !== 'active'" class="flex gap-2 items-center">
      <img src="/assets/massimo/svg/jobProposals.svg" class="select-none" />
      <div class="text-G500 text-b2">Proposals:</div>
      <div class="text-G700 text-b1 font-medium">{{ proposals }} proposals</div>
    </div>
  </div>
</div>

<basic-dialog
  [visible]="visible"
  title="Are you sure you want to delete ?"
  content="If you delete job post, you will no longer have access to it or receive bids from freelancers.\nYou  can create a new job listing to receive bids."
  (LeftbtnEvent)="cancelJob($event)"
  (RightbtnEvent)="updateDialog($event)"
  type="delete"
/>
