<section
  class="w-full rounded-[12px] rounded-tl-none bg-white border border-G200 px-[24px] py-[32px] flex"
  style="min-height: 70vh"
>
  <!-- <app-back-button></app-back-button> -->
  <div *ngIf="!bids" class="container">
    <div class="row">
      <div class="col-12 job-detail-container text-center">
        <div class="card p-30 job-detail-card">
          <img src="assets/img/loader.svg" style="height: 36px" alt="Loader" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="bids.length == 0" class="container">
    <div class="flex justify-center items-center flex-col max-w-[380px] m-auto">
      <img
        src="/assets/massimo/images/Folder.png"
        class="select-none max-xl:w-[240px] max-xl:h-[180px] mb-[24px]"
      />

      <div class="text-G900 text-h6 font-medium leading-7">
        No proposal submitted yet.
      </div>
      <div
        class="text-G700 text-b2 font-normal text-center pb-[10px] md:pb-[32px]"
      >
        You have no proposal submitted yet, consider inviting freelancers to
        your job listing and sharing on your social media.
      </div>

      <div class="flex gap-6 items-center max-md:flex-col">
        <div
          class="flex gap-2 text-G900 text-b1 font-semibold leading-6 cursor-pointer text-nowrap hover:bg-G400 rounded-xl px-[20px] py-[10px]"
        >
          <img src="/assets/massimo/svg/fi_share-2.svg" class="select-none" />
          Share Job Listing
        </div>
        <basic-button title="Invite Freelancers" [type]="2" size="small" />
      </div>
    </div>
  </div>
  <div class="container" *ngIf="canSee && bids.length > 0">
    <div class="flex max-md:flex-col justify-between pb-[24px]">
      <h4 class="mb-0 text-G900 font-medium text-h6 leading-7">Submissions</h4>

      <div class="flex items-center gap-4 text-G900 text-b1">
        <div class="font-sans font-[500] text-b2 whitespace-nowrap">
          Sort by
        </div>
        <p-dropdown
          #orderTypeSelect
          [options]="sortbylist"
          [(ngModel)]="selectedsortby"
          optionLabel="name"
          appendTo="body"
        >
          <ng-template let-item pTemplate="item">
            <div class="flex align-items-center" (click)="SortbyFilter(item)">
              <span>{{ item.name }}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <!-- <div
      class="card mb-15 p-20 job-dashboard-card bid-card"
      *ngFor="let bid of bids; let i = index"
    >
      <div
        class="container provider-job-card jobs-info text-center-mobile"
        *ngIf="bid.providerInfo"
      >
        <div class="row">
          <div
            class="col-lg-3 col-md-6 col-12 pointer"
            [routerLink]="['/profile/alt/', bid.providerId]"
          >
            <app-avatar
              [user]="bid.providerInfo"
              [customClass]="'headshot-div hide-mobile'"
            ></app-avatar>
            <h4 class="ml-2r ml-0-mobile mb-0">
              {{ bid.providerInfo.name
              }}<app-verified-mark
                [user]="bid.providerInfo"
              ></app-verified-mark>
            </h4>
            <p class="ml-2r ml-0-mobile mb-0">{{ bid.providerInfo.title }}</p>
          </div>
          <div class="col-lg-9 col-md-6 hide-mobile">
            <div class="info-details">
              <p>
                Bid<br /><b
                  >${{ bid.budget
                  }}<span *ngIf="job.paymentType !== 'Fixed price'">/hr</span>
                  USD</b
                >
              </p>
            </div>
            <button
              *ngIf="!bid.rejected"
              [routerLink]="['/inbox/chat']"
              [queryParams]="{ address: bid.providerId }"
              class="btn btn-canya-chat btn-sm btn-primary"
            >
              CHAT
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            <small class="ml-2r ml-0-mobile"
              ><i class="fas fa-map-marker-alt"></i>
              {{ bid.providerInfo.timezone }}</small
            >
          </div>
          <div class="col-lg-9 col-md-6 col-12">
            <app-skill-tag
              *ngFor="let tag of bid.providerInfo.skillTags"
              [skill]="tag"
              [routerLink]="['/search']"
            ></app-skill-tag>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-md-8 col-sm-12">
            <p class="ml-2r ml-0-mobile">
              {{ bid.message }}
            </p>
          </div>
          <div class="col-md-4 col-sm-12 text-right text-center-mobile">
            <i *ngIf="bid.rejected && isOpen">Offer Declined</i>
            <i *ngIf="!isOpen" class="mr-15">Job Closed</i>
            <button
              *ngIf="!bid.rejected && isOpen"
              class="btn btn-sm btn-danger decline-btn"
              (click)="declineProvider(i)"
            >
              DECLINE
            </button>
            <button
              *ngIf="!bid.rejected && isOpen"
              class="btn btn-sm btn-success accept-btn"
              (click)="chooseProvider(i)"
            >
              ACCEPT
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- [paginator]="bids.length > 5 ? true : false" -->
    <p-table
      [value]="bids"
      [paginator]="bids.length > 5 ? true : false"
      [rows]="5"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="rounded-tl-xl">Name</th>
          <th>Bid</th>
          <th>Proposal</th>
          <th class="rounded-tr-xl">Rating</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bid let-columns="columns">
        <tr class="hover:bg-G50 cursor-pointer" (click)="ShowDialogDetail(bid)">
          <td>
            <div
              class="flex gap-4"
              [routerLink]="['/profile/alt/', bid.providerId]"
            >
              <div>
                <app-avatar
                  size="48"
                  [user]="bid.providerInfo"
                  [customClass]="' '"
                ></app-avatar>
              </div>
              <div>
                <h4 class="line-clamp-1 text-b1 font-medium text-G900">
                  {{ bid.providerInfo.name }}
                  <app-verified-mark
                    [user]="bid.providerInfo"
                  ></app-verified-mark>
                </h4>
                <p class="line-clamp-1 text-b2 text-G500">
                  {{ bid.providerInfo.title }}
                </p>
              </div>
              <div class="flex items-center justify-center">
                <div
                  class="bg-[#0065FF] text-white rounded-[45px] px-[10px] py-[2px]"
                >
                  New
                </div>
              </div>
            </div>
          </td>
          <td class="text-nowrap">
            ${{ bid.budget }}
            <span *ngIf="job.paymentType !== 'Fixed price'">/hr</span> USD
          </td>
          <td>
            <div class="line-clamp-2 max-w-[300px]">
              {{ stripHtmlTags(bid.message) }}
            </div>
          </td>
          <td class="flex gap-1">
            <ng-container *ngFor="let item of ratinglist">
              <div *ngIf="item <= 3">
                <img
                  src="/assets/massimo/svg/yellow_star.svg"
                  alt="yellow_star"
                />
              </div>
              <div *ngIf="item > 3">
                <img
                  src="/assets/massimo/svg/white_star.svg"
                  alt="white_star"
                />
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <ng-container *ngIf="selectedBid">
      <p-dialog
        header="Proposal Details."
        [(visible)]="visible"
        styleClass="w-[98%] lg:w-[50%]"
        [draggable]="false"
        [resizable]="false"
        [modal]="true"
      >
        <div class="flex flex-col justify-start items-center">
          <!-- <img src="" alt=""> -->

          <div
            class="flex max-md:flex-col justify-between items-center w-full border-y border-G200 px-[20px] py-[16px] md:px-[40px !font-sans]"
          >
            <div
              class="flex gap-4"
              [routerLink]="['/profile/alt/', selectedBid.providerId]"
            >
              <div>
                <app-avatar
                  size="48"
                  [user]="selectedBid.providerInfo"
                  [customClass]="' '"
                ></app-avatar>
              </div>
              <div>
                <h4
                  class="line-clamp-1 text-b1 leading-6 font-medium text-G900"
                >
                  {{ selectedBid.providerInfo.name }}
                  <app-verified-mark
                    [user]="selectedBid.providerInfo"
                  ></app-verified-mark>
                </h4>
                <p class="line-clamp-1 text-b2 text-G500">
                  {{ selectedBid.providerInfo.title }}
                </p>
                <app-star-rating stars="3" />
              </div>
            </div>

            <div>
              <div>Bid</div>
              <div class="text-b1 font-medium leading-6 text-G900">
                ${{ selectedBid.budget }}
              </div>
            </div>

            <div class="flex gap-4 justify-center items-center">
              <div
                class="flex gap-2 items-center py-[10px] px-[24px] hover:bg-G400 rounded-xl cursor-pointer select-none text-b1 font-medium leading-6 text-G900 duration-300 transition-all"
                *ngIf="!selectedBid.rejected"
                [routerLink]="['/inbox/chat']"
                [queryParams]="{ address: selectedBid.providerId }"
              >
                <img
                  src="/assets/massimo/svg/u_comment-message.svg"
                  alt="u_comment-message"
                  class="w-[20px] h-[20px]"
                />
                Chat
              </div>
              <basic-button
                *ngIf="!selectedBid.rejected && isOpen"
                [type]="1"
                (click)="declineProvider(selectedBid)"
                title="DECLINE"
                size="small"
                extraClass="border text-[#D1242F]"
              />
              <basic-button
                *ngIf="!selectedBid.rejected && isOpen"
                [type]="2"
                title="ACCEPT"
                size="small"
                (click)="chooseProvider(selectedBid)"
              />
            </div>
          </div>

          <div class="w-full px-[20px] py-[16px] md:px-[40px] text-left">
            <h1 class="text-b1 font-medium leading-6 text-G900 pb-[16px]">
              Cover Letter
            </h1>
            <p class="text-b1 font-normal leading-6 text-G900">
              {{ stripHtmlTags(selectedBid.message) }}
            </p>
          </div>

          <div
            *ngIf="selectedBid.attachments.length > 0"
            class="border-t border-G200 w-full px-[20px] py-[16px] md:px-[40px]"
          >
            <h1 class="text-b1 text-left font-medium leading-6 text-G900">
              Attachment
            </h1>
            <ng-container *ngFor="let item of selectedBid.attachments">
              <div class="flex justify-start py-[6px]">
                <a href="{{ item.url }}" target="_blank">
                  <p class="flex justify-start items-center text-C600">
                    <img
                      src="/assets/massimo/svg/ion_attach-outline.svg"
                      alt="ion_attach"
                      class="w-[24px] h-[24px]"
                    />
                    {{ item.name }}
                  </p>
                </a>
              </div>
            </ng-container>
          </div>
        </div>
      </p-dialog>
    </ng-container>
  </div>
</section>
