<!-- portfolio-item.component.html -->
<div *ngIf="workItem" class="portfolio-item-card">
  <div class="portfolio-thumbnail">
    <a [href]="workItem.coverImageUrl || defaultImage" data-provide="lightbox">
      <img
        [src]="workItem.coverImageUrl || defaultImage"
        class="portfolio-item-image"
        alt="{{ workItem.projectName }}"
      />
    </a>
  </div>
  <div class="portfolio-details">
    <h4>{{ workItem.projectName }}</h4>
    <p>{{ workItem.description }}</p>
    <div class="portfolio-tags">
      <span *ngFor="let skill of workItem.tags">{{ skill }}</span>
    </div>
    <div class="portfolio-links">
      <button class="icon-btn" (click)="view.emit(workItem)">
        <i class="fa fa-eye"></i> View
      </button>
      <button class="icon-btn" *ngIf="isMyProfile" (click)="edit.emit(workItem)">
        <i class="fa fa-edit"></i> Edit
      </button>
      <button class="icon-btn" *ngIf="isMyProfile" (click)="delete.emit(workItem)">
        <i class="fa fa-trash"></i> Delete
      </button>
    </div>
  </div>
</div>
