<div *ngIf="workItem" class="left-content">
  <div class="row">
    <div class="col-md-6">
      <a [href]="workItem.image || '//canya-tests.firebaseapp.com/assets/img/work-placeholder.svg'" class="mt-30" data-provide="lightbox">  
         
        <img class="portfolio-item" [src]="workItem.image" style=" padding:10px" [src-fallback]="defaultImage" alt="CanYa - Portfolio" class="card-img-left thumbnail"> 
     
      </a>
    </div>
    <div class="col-md-6">
      <div class="card">
        <span class="card-subtitle" style="padding-top: 1em">
          {{ workItem.title }}
          <a *ngIf="isMyProfile" [routerLink]="['/profile/project/' + workItem.id]" data-toggle="tooltip" data-placement="top" title="Edit item"
            class="btn btn-sm btn-circular btn-light icon-edit-work pl-1">
            <i class="ti-pencil fw-600" aria-hidden="true"></i>
          </a>
        </span>
        <div class="card-body">
          <p *ngIf="workItem.description" class="card-text p-y-1">
            {{ workItem.description }}
          </p>
          <div class="row">
            <div class="col-auto mx-5 my-5" style="outline:none;" *ngFor="let skill of workItem.tags | slice:0:8" [routerLink]="['/home', skill]">
              <app-skill-tag [skill]="skill"></app-skill-tag>
            </div>
          </div>
          <br>
          <a *ngIf="workItem.link" [href]="workItem.link" class="card-link">
            Check it out!
            <i class="fa fa-external-link"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
