<app-top></app-top>

<!-- Header -->
<app-header [empty]="true" style="display: block; height: 90px;"></app-header>
<!-- END Header -->

<!-- Main container -->
<main class="main-content">

  <section class="section bg-gray py-30" id="section-tools">

    <div class="container">
      <!-- <h4 class="fw-400">Business tools</h4> -->
      <img class="mb-20" src="assets/img/CanApps.svg" width="auto" height="36px">
      <div class="row">

        <div class="col">
          <div class="card card-hover-shadow bg-white">
            <div class="card-block">
              <!-- <h3 class="card-title">Canvoice</h3> -->
              <img class="mb-5" src="assets/img/CanInvoice.svg" width="auto" height="36px">
              <p class="card-text">Make invoices straight from your web browser.</p>
              <a href="https://caninvoice.io/" target="_blank" class="btn btn-primary btn-canya-chat">OPEN APP</a>
              <!-- <button disabled="true" class="btn btn-primary btn-canya-chat">Coming soon</button> -->
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-hover-shadow bg-white">
            <div class="card-block">
              <!-- <h3 class="card-title">CanQueue</h3> -->
              <img class="mb-5" src="assets/img/CanSend.svg" width="auto" height="36px">
              <p class="card-text">Send ERC20 tokens to multiple addresses at once.</p>
              <a href="https://cansend.io/" target="_blank" class="btn btn-primary btn-canya-chat">OPEN APP</a>
              <!-- <button disabled="true" class="btn btn-primary btn-canya-chat">Coming soon</button> -->
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-hover-shadow bg-white">
            <div class="card-block">
              <!-- <h3 class="card-title">Cantransfer</h3> -->
              <img class="mb-5" src="assets/img/CanTransfer.svg" width="auto" height="36px">
              <p class="card-text">Send your files around the world using IPFS.</p>
              <a href="https://cantransfer.io/" target="_blank" class="btn btn-primary btn-canya-chat">OPEN APP</a>
              <!-- <button disabled="true" class="btn btn-primary btn-canya-chat">Coming soon</button> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-hover-shadow bg-white">
            <div class="card-block">
              <!-- <h3 class="card-title">CanYa25</h3> -->
              <img class="mb-5" src="assets/img/CanYa25.svg" width="auto" height="36px">
              <p class="card-text">Shoot your pitch, vote and contribute, raise funds!</p>
              <a href="https://canya25.com/" target="_blank" class="btn btn-primary btn-canya-chat">OPEN APP</a>
              <!-- <button disabled="true" class="btn btn-primary btn-canya-chat">Coming soon</button> -->
            </div>
          </div>
        </div>

        <!-- break -->
        <div class="col-12 p-2 hidden-sm-down"></div>

        <div class="col">
          <div class="card card-hover-shadow bg-white">
            <div class="card-block">
              <!-- <h3 class="card-title">Cantrack</h3> -->
              <img class="mb-5" src="assets/img/CanTrack.svg" width="auto" height="36px">
              <p class="card-text">Time tracking tool for improving productivity.</p>
              <a href="https://cantrack.io/" target="_blank" class="btn btn-primary btn-canya-chat">OPEN APP</a>
              <!-- <button disabled="true" class="btn btn-primary btn-canya-chat">Coming soon</button> -->
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-hover-shadow bg-white">
            <div class="card-block">
              <!-- <h3 class="card-title">CanDo</h3> -->
              <img class="mb-5" src="assets/img/CanDo.svg" width="auto" height="36px">
              <p class="card-text">Simple to-do list designed to help you do more.</p>
              <!-- <a href="https://canyado.io/" target="_blank" class="btn btn-primary btn-canya-chat">OPEN APP</a> -->
              <button disabled="true" class="btn btn-primary btn-canya-chat">Coming soon</button>
            </div>
          </div>
        </div>

        <!-- row 2 -->
        <div class="col">
          <div class="card card-hover-shadow bg-white">
            <div class="card-block">
              <!-- <h3 class="card-title">CanStation</h3> -->
              <img class="mb-5" src="assets/img/CanStation.svg" width="auto" height="36px">
              <p class="card-text">Real-time metrics on ETH gas price.</p>
              <a href="https://canstation.io/" target="_blank" class="btn btn-primary btn-canya-chat">OPEN APP</a>
              <!-- <button disabled="true" class="btn btn-primary btn-canya-chat">Coming soon</button> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-hover-shadow bg-white">
            <div class="card-block">
              <!-- <h3 class="card-title">CanQueue</h3> -->
              <img class="mb-5" src="assets/img/CanQueue.svg" width="auto" height="36px">
              <p class="card-text">Exclusive CanYa providers and exciting deals.</p>
              <!-- <a href="https://canqueue.io/" target="_blank" class="btn btn-primary btn-canya-chat">OPEN APP</a> -->
              <button disabled="true" class="btn btn-primary btn-canya-chat">Coming soon</button>
            </div>
          </div>
        </div>


        <!-- break -->
        <div class="col-12 p-2 hidden-sm-down"></div>




      </div>
    </div>

  </section>


  <!-- <div [hidden]="hideBanner" class="banner-canya">
      <a (click)="hideBanner = true;"
        class="banner-canya-close">×
      </a>		

      <a (click)="alert('Coming soon!');" 
        class="d-block">
          <img src="assets/img/BannerCanMessages.png" 
          class="b-0 d-block" alt="CanMessages - Coming soon!" 
          width="318">
      </a>
  </div> -->

</main>

<app-footer></app-footer>