
.btn {
  width: 80%;
  margin: auto;
  white-space: normal;
}

.loading {
  margin: 5px auto;
  height: 50px;
}

.buttonsave {
  width: 50%;
  margin: 2px auto 40px auto;
  white-space: normal;
  background-color: #28a745;
}

.buttonremove {
  width: 50%;
  margin: 2px auto 40px auto;
  white-space: normal;
  background-color: #dc3545;
}
