<div id="keystoreTxModal" class="modal fade" role="dialog">
  <div border-none class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div border-none class="modal-header  text-center">
        <div class="col-12">
          <h5 class="modal-title">CONFIRM TRANSACTION</h5>
        </div>
        <button
          type="button"
          class="close"
          style="position: absolute; right: 15px;"
          id="close-bid"
          data-dismiss="modal"
        >
          &times;
        </button>
      </div>
      <div border-none class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              TODO
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer text-right">
        <button
          type="button"
          class="btn btn-primary"
        >
          CONFIRM
        </button>
      </div>
    </div>
  </div>
</div>
