<main>
  <section
    class="bg-white sm:bg-G50 pt-[100px] pb-[24px] font-sans"
    id="section-article"
  >
    <div class="px-[20px]">
      <div
        class="max-w-[1008px] sm:p-[20px] md:p-[40px] m-auto sm:bg-white sm:rounded-xl sm:border sm:border-G200"
      >
        <h2 class="text-left text-G900 text-h5 font-[500] font-sans">
          {{ editing ? 'Edit Article' : 'Create Article' }}
        </h2>

        <form
          class="mt-[16px] sm:mt-[24px]"
          novalidate
          (ngSubmit)="save()"
          #articleForm="ngForm"
        >
          <div class="flex flex-col gap-[16px] sm:gap-[24px] text-b1 font-sans">
            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">
                Slug <span class="text-R900">*</span>
              </div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="slug"
                name="slug"
                #slug="ngModel"
                placeholder="Enter article slug here"
                [(ngModel)]="article.slug"
                [class.invalid]="!isValid('slug')"
              />
              <div *ngIf="!isValid('slug')" class="text-R900 text-wrap text-b2">
                Slug must be at least 3 characters
              </div>
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">
                Title <span class="text-R900">*</span>
              </div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="title"
                name="title"
                #title="ngModel"
                placeholder="Enter article title here"
                [(ngModel)]="article.title"
                [class.invalid]="!isValid('title')"
              />
              <div
                *ngIf="!isValid('title')"
                class="text-R900 text-wrap text-b2"
              >
                Title must be at least 5 characters
              </div>
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">Subtitle</div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="subTitle"
                name="subTitle"
                #subTitle="ngModel"
                placeholder="Enter article subtitle here"
                [(ngModel)]="article.subTitle"
              />
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">
                Category <span class="text-R900">*</span>
              </div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="category"
                name="category"
                #category="ngModel"
                placeholder="Enter article category here"
                [(ngModel)]="article.category"
                [class.invalid]="!isValid('category')"
              />
              <div
                *ngIf="!isValid('category')"
                class="text-R900 text-wrap text-b2"
              >
                Category must be at least 4 characters
              </div>
            </div>

            <div class="flex items-center gap-[16px]">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!isFormValid()"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
