<main>
  <section
    class="bg-white sm:bg-G50 pt-[100px] pb-[24px] font-sans"
    id="section-article"
  >
    <div class="px-[20px]">
      <div
        class="max-w-[1008px] sm:p-[20px] md:p-[40px] m-auto sm:bg-white sm:rounded-xl sm:border sm:border-G200"
      >
        <h2 class="text-left text-G900 text-h5 font-[500] font-sans">
          {{ editing ? 'Edit Article' : 'Create Article' }}
        </h2>

        <form
          class="mt-[16px] sm:mt-[24px]"
          novalidate
          (ngSubmit)="save()"
          #articleForm="ngForm"
        >
          <div class="flex flex-col gap-[16px] sm:gap-[24px] text-b1 font-sans">
            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">
                Slug <span class="text-R900">*</span>
              </div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="slug"
                name="slug"
                #slug="ngModel"
                placeholder="Enter article slug here"
                [(ngModel)]="article.slug"
              />
              <div *ngIf="!isValid('slug')" class="text-R900 text-wrap text-b2">
                Slug must be at least 3 characters
              </div>
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">
                Title <span class="text-R900">*</span>
              </div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="title"
                name="title"
                #title="ngModel"
                placeholder="Enter article title here"
                [(ngModel)]="article.title"
              />
              <div
                *ngIf="!isValid('title')"
                class="text-R900 text-wrap text-b2"
              >
                Title must be at least 5 characters
              </div>
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">Subtitle</div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="subTitle"
                name="subTitle"
                #subTitle="ngModel"
                placeholder="Enter article subtitle here"
                [(ngModel)]="article.subTitle"
              />
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">
                Category <span class="text-R900">*</span>
              </div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="category"
                name="category"
                #category="ngModel"
                placeholder="Enter article category here"
                [(ngModel)]="article.category"
              />
              <div
                *ngIf="!isValid('category')"
                class="text-R900 text-wrap text-b2"
              >
                Category must be at least 3 characters
              </div>
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">Author</div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="author"
                name="author"
                #author="ngModel"
                placeholder="Enter article author here"
                [(ngModel)]="article.author"
              />
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">
                Date posted (yyyy-mm-dd or leave empty to autofill)
              </div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="datePosted"
                name="datePosted"
                #datePosted="ngModel"
                placeholder="Enter article date here"
                [(ngModel)]="article.datePosted"
              />
              <div
                *ngIf="!isValid('datePosted')"
                class="text-R900 text-wrap text-b2"
              >
                Date posted format should be yyyy-mm-dd or empty
              </div>
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">
                Tags (comma separated list)
              </div>
              <input
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                type="text"
                id="tagsString"
                name="tagsString"
                #tagsString="ngModel"
                placeholder="Enter article tags here"
                [(ngModel)]="article.tagsString"
              />
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">
                Body <span class="text-R900">*</span>
              </div>
              <textarea
                class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans min-h-[200px]"
                type="text"
                id="body"
                name="body"
                #body="ngModel"
                placeholder="Enter article body here"
                [(ngModel)]="article.body"
                (keyup)="autogrow()"
              ></textarea>
              <div *ngIf="!isValid('body')" class="text-R900 text-wrap text-b2">
                Body must be at least 10 characters
              </div>
            </div>

            <div class="w-full">
              <div class="text-b1 text-G900 mb-[8px]">Main image</div>
              <div
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onUploadDrop($event)"
                [class]="
                  hoveredFiles && !isCurrentUpload
                    ? 'w-full rounded-xl bg-G500 text-white border border-G200 flex justify-center items-center py-[10px] px-[16px]'
                    : 'w-full rounded-xl bg-G50 text-G90 border border-G200 flex justify-center items-center py-[10px] px-[16px]'
                "
              >
                <div class="w-full">
                  <div
                    class="flex justify-center items-center select-none"
                    [ngClass]="{
                      'cursor-not-allowed': isCurrentUpload
                    }"
                  >
                    <img
                      src="/assets/massimo/svg/fi_plus-circle.svg"
                      alt="fi_info"
                      class="pr-[8px] select-none"
                    />
                    Drag or
                    <label
                      class="text-b1 text-G900"
                      for="file-upload"
                      class="!text-C500 !text-b1 !font-sans !m-0 underline px-[3px] cursor-pointer"
                      [ngClass]="{
                        '!text-G500 cursor-not-allowed': isCurrentUpload,
                        '!text-white': hoveredFiles
                      }"
                    >
                      Upload
                    </label>
                    your file
                  </div>
                  <input
                    id="file-upload"
                    [disabled]="isCurrentUpload"
                    type="file"
                    hidden
                    (change)="onUploadClick($event)"
                  />
                </div>
              </div>

              <div
                *ngIf="article.imageUrl"
                class="flex justify-center items-center mt-[20px]"
              >
                <img class="max-w-[200px]" [src]="article.imageUrl" />
                <img
                  src="/assets/massimo/svg/fi_x.svg"
                  title="Remove"
                  class="pl-[8px] cursor-pointer"
                  (click)="handleDeleteRequest(true, -1)"
                />
              </div>

              <div *ngIf="mainUploadError" class="text-R900 text-wrap text-b2">
                {{ mainUploadError }}
              </div>
              <div
                *ngIf="uploadingMainImage"
                class="text-black-700 text-wrap text-b2"
              >
                Uploading ..
              </div>
            </div>

            <div class="flex items-center gap-[16px]">
              <button
                *ngIf="editing"
                class="btn btn-secondary"
                (click)="view(article.slug)"
              >
                View article
              </button>

              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!isFormValid() || savingToDb"
              >
                Save
              </button>

              <div *ngIf="saveError" class="text-R900 text-wrap text-b2">
                {{ saveError }}
              </div>

              <div *ngIf="saveSuccess" class="text-green-600 text-wrap text-b2">
                {{ saveSuccess }}
              </div>

              <button
                class="btn btn-danger-outline ml-auto"
                [routerLink]="['/admin']"
              >
                Back
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>

<basic-dialog
  [(visible)]="visibleDeleteImageModal"
  [(title)]="deleteImageDialogTitle"
  content="If you delete this image, you won't be able to undo"
  (LeftbtnEvent)="cancelImage($event)"
  (RightbtnEvent)="discardDeleteImageDialog($event)"
  type="deleteimage"
/>
