<p-dialog
  header="Edit Profile"
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  styleClass="!rounded-b-[0px] !rounded-t-[24px] sm:!rounded-[24px] md:max-w-[600px] lg:max-w-[906px] w-full !bg-G50 sm:mx-[16px] max-sm:!mt-[127px] max-sm:absolute max-sm:left-0 max-sm:bottom-0"
>
  <div
    id="edit-profile-dialog"
    class="py-[24px] px-[40px] flex flex-col gap-[24px]"
  >
    <div
      class="w-max rounded-full overflow-hidden border-[5px] border-white relative cursor-pointer hover:opacity-80 active:opacity-100 transition-opacity duration-200"
      (click)="fileInput.click()"
    >
      <div
        *ngIf="!currentUser.avatar?.uri && !selectedFile"
        class="bg-G400 w-[120px] h-[120px]"
      ></div>
      <img
        *ngIf="currentUser.avatar?.uri && !selectedFile"
        [src]="currentUser.avatar.uri"
        alt="profile"
        class="w-[120px] h-[120px] bg-cover select-none"
      />
      <img
        *ngIf="selectedFile"
        [src]="selectedFileUrl"
        alt="profile"
        class="w-[120px] h-[120px] bg-cover select-none"
      />
      <img
        src="/assets/massimo/images/imagePlus.png"
        alt="imagePlus"
        class="absolute top-[40px] left-[40px] w-[40px] h-[40px] select-none"
      />
      <input
        #fileInput
        id="file-upload"
        type="file"
        accept="image/jpg,image/png,image/jpeg"
        hidden
        (change)="detectFiles($event)"
      />
    </div>
    <form [formGroup]="profileForm" class="flex flex-col gap-[24px]" novalidate>
      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">
          Name <span class="text-R900">*</span>
        </div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #name
          formControlName="name"
          type="text"
          name="name"
          placeholder="Full name or Company name"
          maxlength="36"
          [class.invalid]="
            !profileForm.controls.name.valid && profileForm.controls.name.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.name.valid && profileForm.controls.name.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid name or company name.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">Headline</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #title
          formControlName="title"
          type="text"
          name="title"
          placeholder="Headline of your profile"
          maxlength="36"
          [class.invalid]="
            !profileForm.controls.title.valid &&
            profileForm.controls.title.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.title.valid &&
            profileForm.controls.title.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid headline for your profile.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">Bio</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #bio
          formControlName="bio"
          type="text"
          name="bio"
          placeholder="Creative short bio"
          maxlength="60"
          [class.invalid]="
            !profileForm.controls.bio.valid && profileForm.controls.bio.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.bio.valid && profileForm.controls.bio.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid bio for your profile.
        </div>
      </fieldset>

      <div class="flex gap-[40px]">
        <div class="min-w-[270px] flex flex-col gap-2">
          <div class="text-b1 text-G900">
            Freelance Category <span class="text-R900">*</span>
          </div>
          <p-dropdown
            [options]="categories"
            [(ngModel)]="selectedCategory"
            appendTo="body"
          >
            <ng-template pTemplate="selectedItem">
              <div class="flex items-center gap-2" *ngIf="selectedCategory">
                <div class="flex items-center gap-[16px]">
                  <img
                    src="{{ '/assets/massimo/images/' + selectedCategory.img }}"
                    class="w-[20px]"
                  />
                  <span class="text-G900 font-medium text-b1">{{
                    selectedCategory.name
                  }}</span>
                </div>
              </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div
                class="flex items-center gap-[16px]"
                (click)="setProviderType(item)"
              >
                <img
                  src="{{ '/assets/massimo/images/' + item.img }}"
                  class="w-[20px]"
                />
                <span class="text-G900 font-medium text-b1">{{
                  item.name
                }}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <fieldset
          [hidden]="currentUser.type !== 'Provider'"
          class="flex flex-col gap-[8px]"
        >
          <div class="text-b1 text-G900">
            Hourly Rate <span class="text-R900">*</span>
          </div>
          <div
            class="w-full rounded-xl border border-G200 text-G500 flex overflow-hidden"
          >
            <div class="px-[16px] py-[8px] bg-G200 font-bold">$</div>
            <input
              #hourlyRate
              class="outline-none font-sans text-b1 py-[8px] px-[16px] bg-G50"
              formControlName="hourlyRate"
              type="number"
              name="hourlyRate"
              placeholder="e.g. 19"
              [class.invalid]="
                !profileForm.controls.hourlyRate.valid &&
                profileForm.controls.hourlyRate.dirty
              "
            />
          </div>
          <div
            *ngIf="
              !profileForm.controls.hourlyRate.valid &&
              profileForm.controls.hourlyRate.dirty
            "
            class="text-R900 text-wrap text-b2"
          >
            Please enter a number between 0 - 999
          </div>
        </fieldset>
      </div>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">
          BNB Chain (BEP20) Address <span class="text-R900">*</span>
        </div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #bnbAddress
          formControlName="bscAddress"
          type="text"
          name="bscAddress"
          placeholder="0x..."
        />
        <div
          *ngIf="
            profileForm.controls.bscAddress.dirty &&
            profileForm.controls.bscAddress.errors &&
            (profileForm.controls.bscAddress.errors.required ||
              profileForm.controls.bscAddress.errors.isInvalidAddress)
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid BNB Chain address.
        </div>
        <div
          *ngIf="
            profileForm.controls.bscAddress.dirty &&
            profileForm.controls.bscAddress.errors &&
            profileForm.controls.bscAddress.errors.addressExists
          "
          class="text-R900 text-wrap text-b2"
        >
          This address is already being used in CanWork. Please use another one.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">
          Work email <span class="text-R900">*</span>
        </div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #work
          formControlName="work"
          type="email"
          name="work"
          placeholder="Work email"
          [class.invalid]="
            !profileForm.controls.work.valid && profileForm.controls.work.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.work.valid && profileForm.controls.work.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid email.
        </div>
        <div class="text-C600 text-wrap text-b2">Not publicly displayed</div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">Weekly Availability</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #weeklyAvailability
          formControlName="weeklyAvailability"
          type="number"
          name="weeklyAvailability"
          placeholder="Enter profile link"
          [class.invalid]="
            !profileForm.controls.weeklyAvailability.valid &&
            profileForm.controls.weeklyAvailability.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.weeklyAvailability.valid &&
            profileForm.controls.weeklyAvailability.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid number.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">Location</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #location
          formControlName="location"
          type="text"
          name="location"
          placeholder="Enter location"
          [class.invalid]="
            !profileForm.controls.location.valid &&
            profileForm.controls.location.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.location.valid &&
            profileForm.controls.location.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid location.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">Dribbble</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #dribbble
          formControlName="dribbble"
          type="url"
          name="dribbble"
          placeholder="https://www.dribbble.com/"
          [class.invalid]="
            !profileForm.controls.dribbble.valid &&
            profileForm.controls.dribbble.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.dribbble.valid &&
            profileForm.controls.dribbble.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid dribbble profile link.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">Behance</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #behance
          formControlName="behance"
          type="url"
          name="behance"
          placeholder="https://www.behance.com/"
          [class.invalid]="
            !profileForm.controls.behance.valid &&
            profileForm.controls.behance.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.behance.valid &&
            profileForm.controls.behance.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid behance profile link.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">Instagram</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #instagram
          formControlName="instagram"
          type="url"
          name="instagram"
          placeholder="https://www.instagram.com/"
          [class.invalid]="
            !profileForm.controls.instagram.valid &&
            profileForm.controls.instagram.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.instagram.valid &&
            profileForm.controls.instagram.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid instagram profile link.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">Facebook</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #facebook
          formControlName="facebook"
          type="url"
          name="facebook"
          placeholder="https://www.facebook.com/"
          [class.invalid]="
            !profileForm.controls.facebook.valid &&
            profileForm.controls.facebook.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.facebook.valid &&
            profileForm.controls.facebook.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid facebook profile link.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">Twitter</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #twitter
          formControlName="twitter"
          type="url"
          name="twitter"
          placeholder="https://www.twitter.com/"
          [class.invalid]="
            !profileForm.controls.twitter.valid &&
            profileForm.controls.twitter.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.twitter.valid &&
            profileForm.controls.twitter.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid X profile link.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">LinkedIn</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #linkedin
          formControlName="linkedin"
          type="url"
          name="linkedin"
          placeholder="https://www.linkedin.com/in/"
          [class.invalid]="
            !profileForm.controls.linkedin.valid &&
            profileForm.controls.linkedin.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.linkedin.valid &&
            profileForm.controls.linkedin.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid linkedin profile link.
        </div>
      </fieldset>

      <fieldset class="flex flex-col gap-[8px]">
        <div class="text-b1 text-G900">Website</div>
        <input
          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
          #website
          formControlName="website"
          type="url"
          name="website"
          placeholder="https://"
          [class.invalid]="
            !profileForm.controls.website.valid &&
            profileForm.controls.website.dirty
          "
        />
        <div
          *ngIf="
            !profileForm.controls.website.valid &&
            profileForm.controls.website.dirty
          "
          class="text-R900 text-wrap text-b2"
        >
          Please enter a valid website link.
        </div>
      </fieldset>

      <!-- <div class="form-group">
        <label>Color scheme (click to choose)</label>
        <p>
          <input
            class="form-control form-color"
            #color1
            formControlName="color1"
            type="color"
            name="color1"
            size="3"
            placeholder="Color scheme"
            list="canya"
          />
          <input
            class="form-control form-color"
            #color2
            formControlName="color2"
            type="color"
            name="color2"
            size="3"
            placeholder="Color scheme"
            list="canya"
          />
          <input
            class="form-control form-color"
            #color3
            formControlName="color3"
            type="color"
            name="color3"
            size="3"
            placeholder="Color scheme"
            list="canya"
          />
        </p>
        <datalist id="canya">
          <option>#00FFCC</option>
          <option>#33ccff</option>
          <option>#15EDD8</option>
          <option>#4EDCCA</option>
          <option>#FF6666</option>
          <option>#0078BF</option>
          <option>#FFC600</option>
          <option>#F9A4D8</option>
          <option>#485F64</option>
        </datalist>
      </div> -->
      <!-- <div class="form-group">
        <label>About me</label>
        <textarea
          class="form-control"
          #description
          formControlName="description"
          name="description"
          placeholder="Think different! Be creative, be innovative."
        ></textarea>
      </div> -->
    </form>
    <div class="flex gap-[16px] items-center justify-end">
      <div
        class="cursor-pointer text-R900 font-medium text-nowrap text-b1"
        (click)="onClose()"
      >
        Cancel
      </div>
      <basic-button
        [type]="1"
        title="Save Changes"
        size="small"
        [disabled]="!profileForm.valid || sending"
        (click)="onSave($event)"
      />
    </div>
  </div>
</p-dialog>
