<main class="font-sans">
  <dashboard-hero
    [searchInput]="searchInput"
    (searchInputChange)="onSearchInputChange($event)"
    [providerFilters]="providerFilters"
    (providerFiltersChange)="onProviderFiltersChange($event)"
  />
  <section class="flex justify-center bg-white">
    <div
      class="max-w-[1440px] w-full py-[40px] px-[24px] md:py-[40px] md:px-[64px] flex flex-col-reverse xl:flex-row xl:justify-between gap-[30px]"
    >
      <div class="xl:max-w-[328px] w-full">
        <dashboard-filter
          [verifyForm]="verifyFilter"
          (verifyFormChange)="onVerifyFormChange($event)"
          [skillsForm]="skillsFilter"
          (skillsFormChange)="onSkillsFilterChange($event)"
          [ratingForm]="ratingFilter"
          (ratingChange)="onRatingChange($event)"
        />
      </div>
      <div class="w-full">
        <!-- <dashboard-result
          [profileCards]="hits"
          [isLoading]="loading"
          [noSearchParams]="noSearchParams"
          [totalRecords]="numHits"
          [rows]="hitsPerPage"
          [first]="currentPage * hitsPerPage"
          (pageChange)="onPageChange($event)"
        /> -->
        <dashboard-result [stats]="stats" [isLoading]="loading" />
      </div>
    </div>
  </section>
</main>
