<section id="public-job-dashboard" class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="pt-15">
        <app-back-button></app-back-button>
      </div>
    </div>
  </div>
  <div *ngIf="!allJobs" class="container d-flex h-100 flex-column justify-content-center">
    <img src="assets/img/loader.svg" height="36px" alt="Loader">
  </div>
  <div class="container py-15" *ngIf="allJobs && allJobs.length > 0">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-inline">
          <div class="form-group">
            <label for="orderTypeSelect" class="mb-15">Category: </label>
            <select class="mb-10 mx-10" #filterTypeSelect>
              <option value="">
                <span>All Jobs</span>
              </option>
              <option value="Awaiting Escrow">
                <span>Jobs Awaiting Escrow</span>
              </option>
              <option value="Funds In Escrow">
                <span>Funds in Escrow</span>
              </option>
              <option value="Pending completion">
                <span>Jobs Pending Completion</span>
              </option>
              <option value="Disputed">
                <span>Jobs In Dispute</span>
              </option>
              <option value="Offer pending">
                <span>Pending Jobs</span>
              </option>
              <option value="Cancelled">
                <span>Cancelled</span>
              </option>
              <option value="Complete">
                <span>Completed Jobs</span>
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="orderTypeSelect" class="mb-15">Order By: </label>
            <select class="mb-10 mx-10" #orderTypeSelect>
              <option value="information.title">
                <span>Project Name</span>
              </option>
              <option value="budget">
                <span>Budget</span>
              </option>
              <option value="actionLog[0].timestamp">
                <span>Date Posted</span>
              </option>
            </select>
          </div>
          <div class="form-group">
            <div class="form-check mx-10">
              <span class="mb-10 pointer" (click)="reverseOrder = !reverseOrder">
                <i *ngIf="reverseOrder" class="fas fa-sort-amount-up"></i>
                <i *ngIf="!reverseOrder" class="fas fa-sort-amount-down"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card job-dashboard-card my-10 p-20" *ngFor="let job of allJobs">
      <div class="row">
        <div class="col-12">
          <h5>{{job.information.title}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>{{job.information.description}}</p>
          <app-skill-tag *ngFor="let skill of job.information.skills" [skill]="skill"></app-skill-tag>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <b>{{job.budget}}</b>
          <p>{{job.paymentType}}</p>
        </div>
        <div class="col-sm-2">
          <b>{{job.deadline}}</b>
          <p>Project Deadline</p>
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
  <div class="container py-15" *ngIf="allJobs && allJobs.length === 0">
    <div class="row">
      <div class="col-12 p-15 card text-center">
        <h5>There are no public jobs</h5>
        <p *ngIf="isProvider">Check back later!</p>
        <div *ngIf="!isProvider">
          <span>Want to get something done?</span>
          <br>
          <a [routerLink]="['/inbox/post']">
            <button border-64 class="btn btn-sm btn-primary my-10 hidden-md-down">
              POST A JOB
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
