<main class="font-sans">
  <dashboard-hero
    [searchInput]="searchInput"
    (searchInputChange)="onSearchInputChange($event)"
    [providerFilters]="providerFilters"
    (providerFiltersChange)="onProviderFiltersChange($event)"
  />
  <section class="flex justify-center bg-G50">
    <div
      class="max-w-[1440px] w-full py-[24px] px-[24px] md:px-[64px] flex flex-col-reverse xl:flex-row xl:justify-between gap-[30px]"
    >
      <div class="w-full xl:w-[350px]">
        <dashboard-filter
          [verifyForm]="verifyFilter"
          (verifyFormChange)="onVerifyFormChange($event)"
          [skillsForm]="skillsFilter"
          (skillsFormChange)="onSkillsFilterChange($event)"
          [ratingForm]="ratingFilter"
          (ratingChange)="onRatingChange($event)"
          [experienceForm]="experienceFilter"
          (experienceFormChange)="onExperienceFormChange($event)"
          [fixedForm]="fixedFilter"
          (fixedFormChange)="onFixedFormChange($event)"
          [hourlyInput]="hourlyFilter"
          (hourlyInputChange)="onHourlyInputChange($event)"
          [categoriesForm] = "categoryFilter"
          (categoriesFormChange) = "onCategoryFilterChange($event)"
          [locationInput]="locationFilter"
          (LocationInputChange) = "onLocationInputChange($event)"
        />
      </div>
      <div class="w-full">
        <dashboard-result
          [jobs]="hits"
          [stats]="stats"
          [isLoading]="loading"
          [totalRecords]="numHits"
          [searchItems]="searchItems"
          (onRemoveItem)="onRemoveSearchItem($event)"
          [searchParam]="searchInput"
          (pageChange)="onPageChange($event)"
          (sortby)="onChangeSoryby($event)"
          [first]="currentPage * hitsPerPage"
        />
      </div>
    </div>
  </section>
</main>
