 
    <div class="row" style="margin-bottom:25px">
      <div class="col-md-12"> 
        <p class="lead fw-500">Share profile</p>
        <button (click)="onShare();" type="button" class="btn btn-primary btn-sm" style="background-color: rgb(59, 89, 152); border: none;"
          border-64>
          <i class="ti-facebook"></i>&nbsp;Share
        </button>
        <button (click)="onTweet();" type="button" class="btn btn-primary btn-sm" style="background-color: rgb(85, 172, 238); border: none;"
          border-64>
          <i class="ti-twitter-alt"></i>&nbsp;Tweet
        </button> 
      </div> 
    </div> 
