<main class="w-full font-sans min-h-[400px]">
  <div *ngIf="job">
    <connect-wallet-dialog [(visible)]="visibleConnectWalletModal" />
    <action-dialog
      [(visible)]="visibleActionDialogModal"
      [job]="job"
      [userType]="currentUserType"
      [actionType]="action"
      [selectedBid]="selectedBid"
    />
    <div class="flex sm:hidden items-center justify-center max-sm:mb-[16px]">
      <p-tabMenu [model]="actionTabs" [activeItem]="selectedTab">
        <ng-template pTemplate="item" let-item let-i="index">
          <div
            class="bg-G200 p-[4px] block sm:hidden"
            [ngClass]="{
              'rounded-tl-xl rounded-bl-xl border-l': i === 0,
              'rounded-tr-xl rounded-br-xl border-r': i === 2
            }"
          >
            <div
              class="select-none flex items-center h-full text-b2 text-G500 font-medium cursor-pointer py-[8px] px-[24px] transition-colors duration-200 rounded-[12px]"
              (click)="changeTab(item)"
              [ngClass]="{
                'bg-white': selectedTab.code === item.code
              }"
            >
              {{ item.label }}
            </div>
          </div>
        </ng-template>
      </p-tabMenu>
    </div>
    <div
      *ngIf="isAwaitingEscrow && currentUserType === userTypes.client"
      class="sm:pb-[8px]"
    >
      <warning-message
        [type]="2"
        [budget]="job.budget"
        (buttonClick)="executeAction('Pay Escrow')"
      />
    </div>
    <div class="flex flex-col lg:flex-row md:justify-between sm:gap-6">
      <div
        class="sm:!flex flex-col gap-[16px]"
        [ngClass]="{ hidden: selectedTab.code !== actionTabs[0].code }"
      >
        <div class="w-full flex flex-col sm:gap-[16px]">
          <div
            class="w-full sm:rounded-[12px] sm:bg-white sm:border sm:border-G200 pt-[16px] pb-[24px] sm:p-[40px]"
          >
            <job-details-panel [job]="job" />
          </div>
          <!-- which means client -->
          <div
            *ngIf="currentUserType === userTypes.client"
            class="w-full sm:rounded-[12px] bg-white border-t sm:border border-G200 py-[24px] sm:p-[40px]"
          >
            <job-freelancer-information-panel [selectedBid]="selectedBid" />
          </div>
          <!-- which means freelancer -->
          <job-application-panel
            *ngIf="currentUserType === userTypes.provider"
            [yourApplication]="selectedBid"
            [isHired]="true"
          />
        </div>

        <div class="hidden sm:block">
          <job-switch-action-transaction-panel
            [job]="job"
            [currentUser]="currentUser"
            [isAwaitingEscrow]="isAwaitingEscrow"
            [isAwaitingEscrow]="isAwaitingEscrow"
            [transactions]="transactions"
            [currentUserType]="currentUserType"
            (rightBtnEvent)="statusRightClick($event)"
          />
        </div>

        <job-review-panel
          *ngIf="isJobComplete"
          [reviews]="reviews"
          [currentUserType]="currentUserType"
          (reviewBtnEvent)="statusLeftClick($event)"
          [userCanReview]="userCanReview"
        />
      </div>

      <div
        *ngIf="selectedTab.code === actionTabs[1].code"
        class="block sm:hidden pt-[16px] pb-[24px]"
      >
        <job-action-log-panel
          *ngIf="selectedTab.code === actionTabs[1].code"
          [job]="job"
          [currentUser]="currentUser"
          [isTabMode]="'true'"
        />
      </div>
      <div
        *ngIf="selectedTab.code === actionTabs[2].code"
        class="block sm:hidden pt-[16px] pb-[24px]"
      >
        <!-- leftBtnEvent in process -->
        <job-transaction-history-panel
          [transactions]="transactions"
          [currentUserType]="currentUserType"
          (rightBtnEvent)="rightClick($event)"
        />
      </div>
      <div class="lg:max-w-[350px] lg:min-w-[350px] w-full">
        <job-status-panel
          [job]="job"
          [currentUser]="currentUser"
          (leftBtnEvent)="statusLeftClick($event)"
          (rightBtnEvent)="statusRightClick($event)"
          [userCanReview]="userCanReview"
        />
      </div>
    </div>
  </div>
</main>

<!-- <div class="container job-detail-container" *ngIf="job">
  <div class="row" *ngIf="false">
    <span class="col-6 text-left">
      <h4 class="fw-500 mb-30">MANAGE JOB</h4>
    </span>
    <span class="col-6 text-right">
      <button class="btn">Click me</button>
    </span>
  </div>
  <div class="card p-30 job-detail-card">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <p class="fw-600 ls-1 my-0">JOB DETAILS</p>
          <h2>
            {{ job.information.title }}
          </h2>
          <div class="" style="max-width: 65vw">
            <span *ngIf="hideDescription">
              <p
                class="job-description"
                [innerHTML]="
                  job.information.description.substring(0, 80) | linkify
                "
              ></p>
              <div>
                <a
                  class="pointer text-blue"
                  *ngIf="job.information.description.length > 80"
                  (click)="toggleDescription()"
                >
                  Show more...
                </a>
              </div>
            </span>
            <span *ngIf="!hideDescription">
              <p
                class="job-description"
                [innerHTML]="job.information.description | linkify"
              ></p>
              <div>
                <a
                  class="pointer text-blue"
                  *ngIf="job.information.description.length > 80"
                  (click)="toggleDescription()"
                >
                  Show less...
                </a>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-30 job-actions-card">
    <div class="row">
      <div class="col-sm-9 col-12">
        <h5>PROPOSED TERMS</h5>
        <br />
        <div
          *ngIf="job.otherParty?.avatar && job.otherParty?.avatar?.uri"
          class="otherPartyName pointer"
          [routerLink]="['/profile/alt/', job.otherParty.id]"
        >
          <app-avatar
            [user]="job.otherParty"
            [customClass]="'headshot-div'"
          ></app-avatar>
          <p>
            {{ job.otherParty?.name
            }}<verified-mark [user]="job.otherParty"></verified-mark>
          </p>
        </div>
        <div class="info-details" *ngIf="isOnMobile">
          <p>Status</p>
          <app-status-icon
            [job]="job"
            [currentUserType]="userType"
          ></app-status-icon>
        </div>
        <div class="info-details">
          <b>
            {{ job.paymentType }}
          </b>
          <p>
            This project is set at a {{ job.paymentType.toLowerCase() }}
            <br />
            <app-budget [job]="job"></app-budget>
          </p>
        </div>
        <div class="actions-div" *ngIf="availableActions.length > 0">
          <div class="row-12 text-left">
            <button
              *ngFor="let action of availableActions"
              class="btn action-btn mt-5 mr-5 btn-{{
                getColour(action)
              }} btn-outline btn-sm {{
                action.replace(' ', '-').toLowerCase()
              }}"
              (click)="executeAction(action)"
              [disabled]="actionIsDisabled(action)"
            >
              {{ action }}
            </button>
          </div>
          <img
            *ngIf="isReleasing"
            src="assets/img/loader.svg"
            style="height: 36px"
            alt="Loader"
          />
          <b *ngIf="isReleasing" class="text-info text-wrap">
            Confirm the Release of Funds transaction on your wallet.
          </b>
          <br />
        </div>
      </div>
      <div class="col-sm-3" *ngIf="!isOnMobile">
        <div class="info-details">
          <p>Status</p>
          <app-status-icon
            [job]="job"
            [currentUserType]="userType"
          ></app-status-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-30 job-actions-card" *ngIf="isJobComplete">
    <div class="row">
      <span class="col-12 my-10 text-left">
        <h5>REVIEWS</h5>
        <div *ngIf="reviews.length < 1">No reviews have been left yet</div>
        <div *ngIf="reviews.length >= 1">
          <div
            *ngFor="let review of reviews | orderBy : 'createdAt' | reverse"
            class="card mb-15 py-20 bg-transparent"
          >
            <div class="row mt-3">
              <div class="col-6">
                By <b>{{ review.reviewerName }}</b>
              </div>
              <div class="col-6">
                <star-rating
                  class="float-right"
                  [starType]="'svg'"
                  showHalfStars="true"
                  staticColor="ok"
                  [readOnly]="true"
                  [rating]="review.rating"
                  [step]="0.5"
                ></star-rating>
              </div>
              <div class="col-12">
                <p class="mb-0">{{ review.message }}</p>
              </div>
              <div class="col-12">
                <small>
                  {{ review.createdAt | date }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>
</div> -->
