.job-description {
  white-space: pre-wrap;
}

.pointer.text-blue.ng-star-inserted {
  border-color: #909090;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  line-height: 3;
}
