<div *ngIf="!job" class="container d-flex h-100 flex-column justify-content-center" style="min-height: 640px;">
  <img src="assets/img/loader.svg" height="36px" alt="Loader">
</div>

<div class="container" *ngIf="job">
  <div class="row" *ngIf="false">
    <span class="col-6 text-left">
      <h4 class="fw-500 mb-30">MANAGE JOB</h4>
    </span>
    <span class="col-6 text-right">
      <button class="btn">Click me</button>
    </span>
  </div>
  <div class="card mb-30 p-30 job-detail-card">
    <div id="job-top" class="row">
      <div class="col-lg-8 col-xs-12">
        <div class="row">
          <span class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
            <img *ngIf="job.otherParty?.avatar && job.otherParty?.avatar?.uri" class="headshot" src="{{ job.otherParty?.avatar.uri }}"
              alt="">
          </span>
          <span class="col-xs-8 col-sm-10  col-md-10 col-lg-1O text-left">
            <h3>{{job.information.title}}</h3>
            <h4 class="fw-500">{{job.otherParty?.name}}</h4>
          </span>
        </div>
      </div>
      <span class="col-lg-4 col-xs-12" id="status-span">
        <div class="row">
          <div class="col-12">
            <!-- Current state -->
            <app-status-icon [job]="job" [currentUserType]="currentUserType"></app-status-icon>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div>
              <button class="question-btn" data-toggle="modal" data-target="#explanation-modal">
                <i class="far fa-question-circle"></i>
              </button>
            </div>
            <div class="modal fade bd-example-modal-sm" id="explanation-modal" tabindex="-1" role="dialog"
              aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title">What does "{{stateStatus}}" Mean?</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <p>{{stateExplanation}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
    <div id="job-top-mobile">
      <div class="row">
        <div class="col-2">
          <img *ngIf="job.otherParty?.avatar && job.otherParty?.avatar?.uri" class="headshot" src="{{ job.otherParty?.avatar.uri }}"
            alt="">
        </div>
        <div class="col-10">
          <h4>{{job.information.title}}
            <br>
            <span class="fw-500">{{job.otherParty?.name}}</span>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-status-icon [job]="job" [currentUserType]="currentUserType"></app-status-icon>
        </div>
      </div>
    </div>
    <div id="job-actions" class="pb-5 bb-1">
      <div>
        <div class="row">
          <div class="col-lg-2 col-sm-12">
            <b>Actions</b>
          </div>
          <div *ngIf="availableActions.length > 0" class="col-lg-10 col-sm-12 col-xs-12 action-group">
            <button *ngFor="let action of availableActions" class="btn action-btn mt-5 btn-{{getActionColour(action)}} btn-outline btn-sm"
              (click)="executeAction(action)" [disabled]="actionIsDisabled(action)">
              {{action}}
            </button>
          </div>
          <div *ngIf="availableActions.length < 1" class="col-lg-10 col-sm-12 col-xs-12 action-group">
            <i>Job is {{job?.state}}, no actions available</i>
          </div>
        </div>
      </div>
    </div>
    <div id="job-description" class="row">
      <div class="col-12">
        <div class="mb-10">
          <b>Budget:</b>
          <app-budget [job]="job"></app-budget>
        </div>
        <div class="mb-10">
          <b>Job description</b>
          {{job.information.description}}
        </div>
      </div>
    </div>
    <div id="job-details" class="row my-10">
      <div class="col-lg-6 col-md-12">
        <app-property [property]="'Initial Stage'" [value]="job.information.initialStage"></app-property>
        <app-property [property]="'Work type'" [value]="job.information.workType"></app-property>
        <app-property [property]="'Timeline expectation'" [value]="job.information.timelineExpectation"></app-property>
        <app-property [property]="'Weekly commitment'" [value]="job.information.weeklyCommitment  + ' hours'"></app-property>
      </div>
      <div class="col-lg-6 col-md-12">
        <div id="attachments-row" class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <b>Attachments</b>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <p *ngIf="job.information.attachments.length <= 0 ">No Attachment given.</p>
            <app-attachment *ngFor="let attachment of job.information.attachments" [name]="attachment.name" [url]="attachment.url"
              [size]="attachment.size"></app-attachment>
          </div>
        </div>
        <div id="skills-row" class="row">
          <div class="col-lg-3 col-md-4  col-sm-6 col-xs-12">
            <b>Skills Required</b>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <app-skill-tag *ngFor="let skill of job.information.skills" [skill]="skill"></app-skill-tag>
          </div>
        </div>
      </div>
    </div>
    <div id="job-logs" class="row my-10">
      <div class="col-12 my-10 text-left">
        <b>Action Log</b>
        <div *ngFor="let action of job.getActionLog() | orderBy:'timestamp':true; let actionIndex = index" class="my-10">
          <div class="row" *ngIf="!action.private || action.executedBy == currentUserType">
            <div class="col-lg-8 col-md-6  col-sm-6 col-xs-6">
              <p [innerHTML]="action.getMessage(getActionExecutor(action))"></p>
            </div>
            <div class="col-lg-4 col-md-6  col-sm-6 col-xs-6 text-right">
              {{ action.timestamp | date:'medium' }}
            </div>
          </div>
        </div>
        <!-- <a class="btn btn-primary btn-outline" [routerLink]="['actions']">View all actions</a> -->
      </div>
      <span class="col-12 my-10 text-left" *ngIf="currentUserIsClient">
        <b>Transactions</b>
        <div *ngIf="transactions.length < 1">
          No payments have been made yet
        </div>
        <div *ngIf="transactions.length >= 1">
          <div *ngFor="let tx of transactions" class="card mb-15 p-20">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <h5>{{tx.actionType}}
                  </h5>
                </div>
                <div class="col-lg-4 desktop-right-mobile-center">
                  <a href="{{getTxLink(tx.hash)}}">Etherscan</a>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <p class="text-grey fw-500">{{tx.senderId}}
                  </p>
                </div>
                <div class="col-lg-6 text-right">
                  <span class="fw-400">
                    <i class="circle-{{getTxColor(tx)}} fas fa-circle"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
