<section class="section bg-gray pt-30 pb-30" *ngIf="mediumFeed.length > 0">
  <div class="container">
    <div class="row gap-y">
      <div class="col-12 col-md-6 col-lg-4 col-6" *ngFor="let fx of mediumFeed; let i = index">
        <div class="card card-bordered card-hover-shadow">
          <img class="card-img-top" src="{{fx.thumbnail}}">
          <div class="card-block">
            <div class="card-title">
              <a href="{{fx.link}}" target="_blank">{{ fx.title }}</a>
            </div>
            <a class="fw-500 fs-12" href="{{fx.link}}" target="_blank">
              See More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>