<section class="section bg-gray pt-30 pb-30" *ngIf="feed.length > 0">
  <div class="container">
    <div class="row gap-y">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let fx of feed; let i = index" [ngClass]="{'hidden-md-down': i == 2}">
        <div class="card card-bordered card-hover-shadow">
          <a [href]="fx.link" target="_blank">
            <img class="card-img-top" src="{{fx.thumbnail}}" [src-fallback]="placeholder" [alt]="feed.title" data-aos="fade-in">
          </a>
          <div class="card-block">
            <div class="card-title">
              <a [href]="fx.link" target="_blank">{{ fx.title }}</a>
            </div>
            <p class="card-text break-word" [innerHtml]="fx.description | sanitizeHtml"></p>
            <a class="fw-500 fs-12" [href]="fx.link" target="_blank">
              See More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
