<div
  *ngIf="!canPayOptions && !fiatPayment && canSee === null"
  class="container d-flex h-100 flex-column justify-content-center"
  style="min-height: 640px;"
>
  <img src="assets/img/loader.svg" height="36px" alt="Loader" />
</div>
<div
  *ngIf="!canSee && !canPayOptions"
  class="container"
  style="overflow-y: hidden"
>
  <div class="col-sm-8 offset-sm-2 col-12 text-center createWallet">
    <img
      src="/assets/img/CanYa_red_cross.svg"
      class="img-responsiveness mt-10 animated bounceInUp"
      width="150"
    />
    <h2>Unauthorized</h2>
    <p class="lead fw-400">
      It seems like you're trying to complete this job even though It's already
      been completed, or is in the process of completion.
    </p>
    <p class="text-center">
      <a class="btn btn-secondary" [routerLink]="['/inbox/job', this.job.id]"
        >Return</a
      >
    </p>
  </div>
</div>

<div class="container" *ngIf="canPayOptions && !fiatPayment">
  <canpay-wizard
    [dAppName]="canPayOptions.dAppName"
    [successText]="canPayOptions.successText"
    [operation]="canPayOptions.operation"
    [recipient]="canPayOptions.recipient"
    [postAuthorisationProcessName]="canPayOptions.postAuthorisationProcessName"
    [postAuthorisationProcessResults]="
      canPayOptions.postAuthorisationProcessResults
    "
    (startPostAuthorisationProcess)="
      canPayOptions.startPostAuthorisationProcess($event)
    "
    (complete)="canPayOptions.complete($event)"
    (cancel)="canPayOptions.cancel($event)"
  ></canpay-wizard>
</div>
