<main>
  <section
    id="job-creation-form"
    *ngIf="currentUser"
    class="bg-white sm:bg-G50 pt-[100px] pb-[24px] font-sans"
  >
    <div id="direct-job" *ngIf="loading && !isShareable && !isPreview">
      <div *ngIf="!sent && recipient" class="pt-0 pb-[24px]">
        <div class="container p-30">
          <header class="section-header my-0 py-0">
            <h2 class="fw-600">Post a request</h2>
          </header>
          <div class="align-self-center items-center my-10">
            <form [formGroup]="postForm" class="form validate" novalidate>
              <div class="flex flex-col gap-6">
                <div class="text-b1 font-sans">
                  <div class="text-b1 text-G900 mb-[8px]">
                    Title <span class="text-R900">*</span>
                  </div>
                  <input
                    class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                    #title
                    formControlName="title"
                    type="text"
                    name="title"
                    placeholder="Enter Job Title"
                    maxlength="64"
                    [class.invalid]="
                      !postForm.controls.title.valid &&
                      postForm.controls.title.dirty
                    "
                  />
                  <div
                    *ngIf="
                      !postForm.controls.title.valid &&
                      postForm.controls.title.dirty
                    "
                    class="text-primary text-wrap text-b2"
                  >
                    Title must be 64 characters or less
                  </div>
                </div>
                <div class="text-b1 font-sans">
                  <div class="text-b1 text-G900 mb-[8px]">
                    GitHub or GitLab issue
                  </div>
                  <input
                    class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans disabled:cursor-not-allowed disabled:bg-G200 transition-all duration-200"
                    [class]="!!errorGitUrl && 'border-R900'"
                    #url
                    formControlName="url"
                    type="text"
                    name="url"
                    (blur)="onBFGit()"
                    (focus)="onBFGit()"
                    placeholder="Paste a GitHub or GitLab issue link here if you want to populate job fields from it"
                    (paste)="onGitPaste($event)"
                  />
                  <div
                    *ngIf="!!errorGitUrl"
                    class="text-R900 text-wrap text-b2"
                  >
                    {{ errorGitUrl }}
                  </div>
                </div>

                <div class="text-b1 font-sans">
                  <div class="text-b1 text-G900 mb-[8px]">
                    Description <span class="text-R900">*</span>
                  </div>
                  <textarea
                    class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                    #description
                    formControlName="description"
                    rows="4"
                    name="description"
                    placeholder="I'm looking for..."
                    [class.invalid]="
                      !postForm.controls.description.valid &&
                      postForm.controls.description.dirty
                    "
                  ></textarea>
                  <div
                    *ngIf="!postForm.controls.description.valid"
                    class="text-primary text-wrap text-b2"
                  >
                    e.g. 'Custom Logo' or 'Milestone 1 - Wireframes'.
                  </div>
                </div>
                <div class="text-b1 font-sans canya-prefilled">
                  <div class="text-b1 text-G900 mb-[8px]">
                    Project stage <span class="text-R900">*</span>
                  </div>
                  <textarea
                    class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                    #initialStage
                    formControlName="initialStage"
                    type="text"
                    name="initialStage"
                    placeholder="e.g. 'Ideation phase' or 'I have started work already'"
                    maxlength="3000"
                    [class.invalid]="
                      !postForm.controls.initialStage.valid &&
                      postForm.controls.initialStage.dirty
                    "
                  ></textarea>
                </div>

                <div class="text-b1 font-sans">
                  <div class="text-b1 text-G900 mb-[8px]">
                    Skill Tags (20 max) <span class="text-R900">*</span>
                  </div>
                  <div
                    class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                  >
                    <skill-tags-selection
                      (tagsUpdated)="skillTagsUpdated($event)"
                      (tagsLoaded)="skillTagsLoaded($event)"
                      [updatedTags]="this.gitUpdatedTags"
                      [minimumTags]="1"
                    ></skill-tags-selection>
                    <input
                      hidden
                      #skillTags
                      formControlName="skills"
                      type="text"
                      name="skills"
                    />
                  </div>
                </div>

                <div class="text-b1 font-sans">
                  <div class="text-b1 text-G900 mb-[8px]">
                    Attach a file (max 50mb)
                  </div>
                  <br />
                  <div class="text-primary text-wrap text-b2">
                    If you wish to upload more than one file we suggest you
                    upload a zip folder
                  </div>

                  <div class="row ml-0 mr-0">
                    <div
                      class="mt-10 px-5 col-lg-4 col-md-4 col-sm-6 col-xs-12"
                    >
                      <div
                        class="text-b1 text-G900"
                        for="file-upload"
                        class="btn btn-outline btn-primary"
                        [ngClass]="{
                          disabled: isCurrentUpload
                        }"
                      >
                        Add file
                      </div>
                      <input
                        id="file-upload"
                        [disabled]="isCurrentUpload"
                        type="file"
                        hidden
                        (change)="detectFiles($event)"
                      />
                    </div>
                  </div>

                  <div class="alert alert-danger" *ngIf="fileTooBig">
                    File is too large, please upload a file smaller than 50 MB
                  </div>

                  <!-- <div *ngIf="currentUpload">
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar-animated"
                        [ngStyle]="{ width: currentUpload?.progress + '%' }"
                      ></div>
                    </div>
                    <div *ngIf="!uploadedFile">
                      Progress: {{ currentUpload?.name }} |
                      {{ currentUpload?.progress }}% Complete
                    </div>
                  </div> -->
                  <div class="alert alert-danger" *ngIf="uploadFailed">
                    Oops, something went wrong uploading your file
                  </div>

                  <div class="w-full px-10" *ngIf="uploadedFile">
                    <br />
                    Uploaded:
                    <ul>
                      <li>
                        <p>
                          {{ uploadedFile.name }}
                          <span
                            class="pointer alert"
                            (click)="removeUpload(uploadedFile)"
                          >
                            <i class="fa fa-times fs-14 pl-8"></i>
                          </span>
                        </p>
                      </li>
                    </ul>
                    <!--
                        <span class="text-R900">
                          <app-attachment [name]="uploadedFile.name" [path]="uploadedFile.filePath" [url]="uploadedFile.url" [size]="uploadedFile.size"></app-attachment>
                          <span class="pointer alert" (click)="removeUpload(uploadedFile)">
                            <i class="fa fa-times fs-14 pl-8"></i>
                          </span>
                        </span>
                      -->
                  </div>
                  <div class="alert alert-danger" *ngIf="deleteFailed">
                    Oops, something went wrong deleting your file
                  </div>
                </div>

                <div class="text-b1 font-sans canya-prefilled">
                  <div class="col-12">
                    <div class="text-b1 text-G900 mb-[8px]">
                      Type of work <span class="text-R900">*</span>
                    </div>
                    <br />
                    <div class="row ml-0 mr-0">
                      <div
                        *ngFor="let type of workTypes()"
                        class="px-5 col-lg-3 col-md-4 col-sm-4 col-12"
                      >
                        <button
                          type="button"
                          (click)="setWorkType(type)"
                          class="btn btn-primary w-full"
                          [ngClass]="{
                            'btn-outline':
                              shareableJobForm.controls.workType.value !== type
                          }"
                        >
                          {{ type }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-b1 font-sans">
                  <div class="row">
                    <div class="col-sm-6 col-12 canya-prefilled">
                      <div class="text-b1 text-G900 mb-[8px]">
                        Timeline Expectations <span class="text-R900">*</span>
                      </div>
                      <br />
                      <div class="row ml-0 mr-0">
                        <select
                          #timelineExpectation
                          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                          formControlName="timelineExpectation"
                        >
                          <option>Choose...</option>
                          <option
                            *ngFor="let range of timeRanges()"
                            [selected]="
                              jobToEdit &&
                              range == jobToEdit.information.timelineExpectation
                            "
                          >
                            {{ range }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6 col-12">
                      <div class="text-b1 text-G900 mb-[8px]">
                        Estimated Hours
                      </div>
                      <div class="input-group" style="border-radius: 5px">
                        <input
                          #weeklyCommitment
                          formControlName="weeklyCommitment"
                          class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                          type="number"
                          name="weeklyCommitment"
                          placeholder="Enter hours/week..."
                          [class.invalid]="
                            !postForm.controls.weeklyCommitment.valid &&
                            postForm.controls.weeklyCommitment.dirty
                          "
                        />
                        <div
                          class="input-group-append"
                          style="margin-top: 5px; margin-right: 10px"
                        >
                          <span class="input-group-text" id="basic-addon2"
                            >Total hours</span
                          >
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        !postForm.controls.weeklyCommitment.valid &&
                        postForm.controls.weeklyCommitment.dirty
                      "
                      class="text-primary text-b2"
                    >
                      Must be between 1 - 60 hours
                    </div>
                  </div>
                </div>

                <div class="text-b1 font-sans canya-prefilled">
                  <div class="text-b1 text-G900 mb-[8px]">
                    Payment preference <span class="text-R900">*</span>
                  </div>
                  <br />
                  <div class="row ml-0 mr-0">
                    <div
                      *ngFor="let type of paymentTypes()"
                      class="px-5 col-lg-3 col-md-4 col-sm-4 col-12"
                    >
                      <button
                        type="button"
                        (click)="setPaymentType(type)"
                        [disabled]="type === 'Hourly rate'"
                        class="btn btn-primary w-full"
                        [ngClass]="{
                          'btn-outline':
                            postForm.controls.paymentType.value !== type
                        }"
                      >
                        {{ type }}
                      </button>
                    </div>
                    <br />
                    <div>Hourly rate payments coming soon</div>
                  </div>
                </div>

                <div
                  class="text-b1 font-sans"
                  *ngIf="postForm.controls.paymentType.value"
                >
                  <div class="text-b1 text-G900 mb-[8px]">
                    <span
                      *ngIf="
                        postForm.controls.paymentType.value ==
                        paymentType.hourly
                      "
                      >Budget per hour (USD)
                      <span class="text-R900">*</span></span
                    >
                    <span
                      *ngIf="
                        postForm.controls.paymentType.value == paymentType.fixed
                      "
                      >Total budget (USD) <span class="text-R900">*</span></span
                    >
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input
                        #budget
                        formControlName="budget"
                        class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                        type="number"
                        min="0"
                        name="budget"
                        step="5"
                        placeholder="$1 USD minimum"
                        [class.invalid]="
                          !postForm.controls.budget.valid &&
                          postForm.controls.budget.dirty
                        "
                      />
                      <error-message
                        *ngIf="
                          !postForm.controls.budget.valid &&
                          postForm.controls.budget.dirty
                        "
                        message="Must be $1 USD or more."
                        extraClass="mt-[8px]"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <!--<div
                          *ngIf="
                            postForm.controls.budget.dirty && usdToAtomicCan
                          "
                          class="col-6 mt-5 text-right"
                        ></div>-->

                    <div class="col-12">
                      <div class="text-primary text-wrap text-b2">
                        <b>Important</b>: All transactions on CanWork are made
                        in BNB Chain (BEP20) tokens
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-b1 font-sans">
                  <app-terms [form]="postForm"></app-terms>
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  (click)="submitForm()"
                  class="btn btn-primary"
                  [disabled]="!postForm.valid || isSending || isCurrentUpload"
                >
                  POST
                </button>
                <!-- <span
                  *ngIf="error"
                  class="fs-12 fw-400 mt-10"
                  style="color: #ff6666"
                >
                  Something went wrong when posting this job..
                </span> -->
              </div>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="!recipient">
        <h5>Provider not found.</h5>
      </div>
      <div *ngIf="sent" class="py-70">
        <div class="container">
          <div class="section-header">
            <img
              src="assets/img/CanYa_tick_green.svg"
              class="mb-30 animated bounceInDown"
              width="100px"
              height="100px"
            />
            <h2>Congrats! Your request has been submitted!</h2>
            <p class="lead fw-400">
              Your CanWork Provider will be in touch soon. Check your
              messages/transactions later in order to receive and pay for your
              service.
            </p>
            <hr />
          </div>
          <br />
          <p class="text-center">
            <a class="btn btn-secondary" [routerLink]="['/home']"
              >Return home</a
            >
            &nbsp;&nbsp;
            <a
              class="btn btn-primary text-white"
              [routerLink]="['/inbox/chat']"
              [queryParams]="{ address: recipientAddress }"
              >Go to inbox</a
            >
          </p>
        </div>
      </div>
    </div>
    <div
      id="shareable-job"
      *ngIf="!recipient && loading && isShareable && !isPreview"
    >
      <div *ngIf="!sent" class="px-[20px]">
        <div
          class="max-w-[1008px] sm:p-[20px] md:p-[40px] m-auto sm:bg-white sm:rounded-xl sm:border sm:border-G200"
        >
          <h2 class="text-left text-G900 text-h5 font-[500] font-sans">
            {{ editing ? 'Edit a Job Post' : 'Create a Job Post' }}
          </h2>
          <form
            [formGroup]="shareableJobForm"
            class="mt-[16px] sm:mt-[24px]"
            novalidate
          >
            <div
              class="flex flex-col gap-[16px] sm:gap-[24px] text-b1 font-sans"
            >
              <div class="w-full">
                <div class="text-b1 text-G900 mb-[8px]">
                  Job Title <span class="text-R900">*</span>
                </div>
                <input
                  class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                  #title
                  formControlName="title"
                  type="text"
                  name="title"
                  placeholder="Enter job title here"
                  (blur)="onBlurMethod($event.target.name)"
                  (focus)="onFocusMethod($event.target.name)"
                  maxlength="64"
                  [class.invalid]="
                    !shareableJobForm.controls.title.valid &&
                    shareableJobForm.controls.title.dirty
                  "
                />
                <div
                  *ngIf="
                    !shareableJobForm.controls.title.valid &&
                    shareableJobForm.controls.title.dirty
                  "
                  class="text-R900 text-wrap text-b2"
                >
                  Title must be longer than 5 characters and less than 64
                  characters
                </div>
              </div>

              <div class="w-full">
                <div class="text-b1 text-G900 mb-[8px]">
                  GitHub or GitLab issue
                </div>
                <input
                  class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans disabled:cursor-not-allowed disabled:bg-G200 transition-all duration-200"
                  [class]="!!errorGitUrl && 'border-R900'"
                  #url
                  formControlName="url"
                  type="text"
                  name="url"
                  (blur)="onBFGit()"
                  (focus)="onBFGit()"
                  placeholder="Paste link here"
                  (paste)="onGitPaste($event)"
                />
                <div
                  class="text-B600 text-b2 font-[400] leading-5 pt-[8px] flex items-start"
                >
                  <img
                    src="/assets/massimo/svg/fi_info.svg"
                    alt="fi_info"
                    class="pr-[8px]"
                  />
                  Paste Github or Gitlab link here if you want to populate field
                  from it
                </div>
                <ng-container *ngIf="!!errorGitUrl">
                  <div class="text-R900 text-wrap text-b2">
                    {{ errorGitUrl }}
                  </div>
                </ng-container>
              </div>

              <div class="w-full">
                <div class="text-b1 text-G900 mb-[8px]">
                  Job Description <span class="text-R900">*</span>
                </div>
                <angular-editor
                  formControlName="description"
                  [config]="editorConfig"
                  class="angular-editor"
                ></angular-editor>
                <div class="flex justify-end">
                  <div class="text-right text-b2 text-G700 pt-[8px]">
                    {{
                      stripHtmlTagslength(
                        this.shareableJobForm.value.description
                      )
                    }}/5000
                  </div>
                </div>
              </div>

              <!-- <div class="text-b1 font-sans">
                <div class="text-b1 text-G900 mb-[8px]"
                  >Project stage <span class="text-R900">*</span>
                </div>
                <textarea
                  class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                  #initialStage
                  formControlName="initialStage"
                  type="text"
                  name="initialStage"
                  placeholder="eg. 'Ideation phase' or 'I have started work already'"
                  maxlength="3000"
                  [class.invalid]="
                    !shareableJobForm.controls.initialStage.valid &&
                    shareableJobForm.controls.initialStage.dirty
                  "
                ></textarea>
                <small
                  *ngIf="
                    !shareableJobForm.controls.initialStage.valid &&
                    shareableJobForm.controls.initialStage.dirty
                  "
                  class="text-primary text-wrap"
                  >Project stage is required</small
                >
              </div> -->

              <div class="w-full flex flex-col gap-[8px]">
                <div class="text-b1 text-G900">Attachments</div>
                <div class="text-b2 text-G500 leading-5 text-wrap font-sans">
                  You may attach up to 10 files under the size of 25 MB each.
                  Include work samples or other documents to support your
                  application.
                </div>

                <div
                  (dragover)="onDragOver($event)"
                  (dragleave)="onDragLeave($event)"
                  (drop)="onDrop($event)"
                  [class]="
                    hoveredFiles && !isCurrentUpload
                      ? 'w-full rounded-xl bg-G500 text-white border border-G200 flex justify-center items-center py-[10px] px-[16px]'
                      : 'w-full rounded-xl bg-G50 text-G90 border border-G200 flex justify-center items-center py-[10px] px-[16px]'
                  "
                >
                  <div class="w-full">
                    <div
                      class="flex justify-center items-center select-none"
                      [ngClass]="{
                        'cursor-not-allowed': isCurrentUpload
                      }"
                    >
                      <img
                        src="/assets/massimo/svg/fi_plus-circle.svg"
                        alt="fi_info"
                        class="pr-[8px] select-none"
                      />
                      Drag or
                      <label
                        class="text-b1 text-G900"
                        for="file-upload"
                        class="!text-C500 !text-b1 !font-sans !m-0 underline px-[3px] cursor-pointer"
                        [ngClass]="{
                          '!text-G500 cursor-not-allowed': isCurrentUpload,
                          '!text-white': hoveredFiles
                        }"
                      >
                        Upload
                      </label>
                      your files
                    </div>
                    <input
                      id="file-upload"
                      [disabled]="isCurrentUpload"
                      type="file"
                      multiple
                      hidden
                      (change)="detectFiles($event)"
                    />
                  </div>
                </div>

                <!-- <div *ngIf="currentUpload"> -->
                <!-- <div class="progress">
                            <div
                              class="progress-bar progress-bar-animated"
                              [ngStyle]="{
                                width: currentUpload?.progress + '%'
                              }"
                            ></div>
                          </div> -->

                <!-- </div> -->
                <!-- <div class="alert alert-danger" *ngIf="uploadFailed">
                  Oops, something went wrong uploading your file
                </div> -->

                <div *ngIf="!!beforeUploadFiles.length" class="w-full">
                  <ul>
                    <li
                      class="flex flex-col gap-2 pt-[8px]"
                      *ngFor="let file of beforeUploadFiles; let i = index"
                    >
                      <div
                        class="flex gap-2 text-C600 text-b2 font-sans justify-start items-center h-[24px]"
                      >
                        <img
                          src="/assets/massimo/svg/ion_attach-outline.svg"
                          alt="attachment"
                          class="w-[24px] h-[24px]"
                        />
                        {{ file.name }}

                        <div *ngIf="file?.progress === 100">
                          <span
                            class="cursor-pointer alert"
                            (click)="removeUpload(uploadedFiles[i])"
                          >
                            <img
                              src="/assets/massimo/svg/fi_x.svg"
                              alt="x"
                              class="w-[20px] h-[20px]"
                            />
                          </span>
                        </div>
                        <div *ngIf="file?.progress !== 100">
                          <div
                            class="uploadedFile"
                            *ngIf="currentUploadNumber > i"
                          >
                            <span
                              class="cursor-pointer alert"
                              (click)="removeUpload(uploadedFiles[i])"
                            >
                              <img
                                src="/assets/massimo/svg/fi_x.svg"
                                alt="x"
                                class="w-[20px] h-[20px]"
                              />
                            </span>
                          </div>

                          <div *ngIf="i == currentUploadNumber">
                            <div role="status">
                              <img
                                src="/assets/massimo/svg/spinner.svg"
                                alt="spinner"
                                class="w-[20px] h-[20px]"
                                class="animate-spin"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <error-message
                  *ngIf="fileTooBig"
                  message="You can only add 10 files with maximum of 25MB each."
                  extraClass="mt-[8px]"
                />

                <!-- <error-message
                  *ngIf="deleteFailed"
                  message="Oops, something went while wrong deleting your file."
                  extraClass="mt-[8px]"
                /> -->
              </div>

              <div class="w-full" *ngIf="!editing">
                <div class="text-b1 text-G900 mb-[8px]">
                  Skill Tags (20 max) <span class="text-R900">*</span>
                </div>
                <skill-tags-selection
                  (tagsUpdated)="skillTagsUpdated($event)"
                  (tagsLoaded)="skillTagsLoaded($event)"
                  [updatedTags]="this.gitUpdatedTags"
                  [minimumTags]="1"
                  [initialTags]="
                    jobForPreview ? jobForPreview.information.skills : []
                  "
                ></skill-tags-selection>
                <input
                  hidden
                  #skillTags
                  formControlName="skills"
                  type="text"
                  name="skills"
                />
                <div
                  *ngIf="
                    !shareableJobForm.controls.skills.valid &&
                    shareableJobForm.controls.skills.dirty
                  "
                  class="text-primary text-wrap text-b2"
                >
                  You must choose at least one skill
                </div>
              </div>

              <div class="w-full" *ngIf="editing && this.jobToEdit">
                <div class="text-b1 text-G900 mb-[8px]">
                  Key skills required to edit
                </div>
                <skill-tags-selection
                  (tagsUpdated)="skillTagsUpdated($event)"
                  (tagsLoaded)="skillTagsLoaded($event)"
                  [initialTags]="this.jobToEdit.information.skills"
                  [updatedTags]="this.gitUpdatedTags"
                  [minimumTags]="1"
                ></skill-tags-selection>
                <input
                  hidden
                  #skillTags
                  class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                  formControlName="skills"
                  type="text"
                  name="skills"
                />
              </div>

              <!-- <div class="w-full">
                <div class="text-b1 text-G900 mb-[8px]">
                  Type of work <span class="text-R900">*</span>
                </div>
                <div class="row ml-0 mr-0">
                  <div
                    *ngFor="let type of workTypes()"
                    class="px-5 col-lg-3 col-md-4 col-sm-4 col-12"
                  >
                    <button
                      type="button"
                      (click)="setWorkType(type)"
                      class="btn btn-primary w-full"
                      [ngClass]="{
                        'btn-outline':
                          shareableJobForm.controls.workType.value !== type
                      }"
                    >
                      {{ type }}
                    </button>
                  </div>
                </div>
              </div> -->

              <!-- <div class="w-full">
                <div class="text-b1 text-G900 mb-[8px]" class="px-5">
                  Payment preference <span class="text-R900">*</span>
                </div>
                <br />
                <div class="row ml-0 mr-0">
                  <div
                    *ngFor="let type of paymentTypes()"
                    class="px-5 col-lg-3 col-md-4 col-sm-4 col-12"
                  >
                    <button
                      type="button"
                      (click)="setPaymentType(type)"
                      [disabled]="type === 'Hourly rate'"
                      class="btn btn-primary w-full"
                      [ngClass]="{
                        'btn-outline':
                          shareableJobForm.controls.paymentType.value !== type
                      }"
                    >
                      {{ type }}
                    </button>
                  </div>
                  <br />
                  <div class="col-12">
                    <small><i>Hourly rate payments coming soon</i></small>
                  </div>
                </div>
              </div> -->

              <div
                class="w-full text-b1 font-sans flex flex-col gap-[8px]"
                *ngIf="shareableJobForm.controls.paymentType.value"
              >
                <div class="text-G900">
                  {{
                    shareableJobForm.controls.paymentType.value ==
                    paymentType.hourly
                      ? 'Budget per hour (USD)'
                      : 'Budget (USD)'
                  }}
                  <span class="text-R900">*</span>
                </div>
                <input
                  #budget
                  formControlName="budget"
                  class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                  type="number"
                  min="1"
                  name="budget"
                  step="5"
                  placeholder="$0.00"
                  [class.invalid]="
                    !shareableJobForm.controls.budget.valid &&
                    shareableJobForm.controls.budget.dirty
                  "
                />
                <error-message
                  *ngIf="
                    !shareableJobForm.controls.budget.valid &&
                    shareableJobForm.controls.budget.dirty
                  "
                  message="Must be at least 1, less than 10, 000, 000, and a valid number with up to two decimal places."
                />
                <div
                  class="text-B600 text-b2 font-[400] pt-[8px] flex items-start"
                >
                  <img
                    src="/assets/massimo/svg/fi_info.svg"
                    alt="fi_info"
                    class="pr-[8px]"
                  />
                  Important: All transactions on CanWork are made in BNB (BEP20)
                  Chain Tokens
                </div>
              </div>

              <div class="w-full text-b1 font-sans flex flex-col gap-[8px]">
                <div class="text-G900">Estimated Hours</div>
                <input
                  #weeklyCommitment
                  formControlName="weeklyCommitment"
                  class="w-full rounded-xl outline-none py-[8px] px-[16px] border border-G200 text-G500 text-b1 bg-G50 font-sans"
                  type="number"
                  min="1"
                  name="weeklyCommitment"
                  placeholder="10"
                  [class.invalid]="
                    !shareableJobForm.controls.weeklyCommitment.valid &&
                    shareableJobForm.controls.weeklyCommitment.dirty
                  "
                />
                <div class="text-b2 text-G500 text-wrap font-sans">
                  Your estimate of the total hours required for the job.
                </div>

                <error-message
                  *ngIf="
                    !shareableJobForm.controls.weeklyCommitment.valid &&
                    shareableJobForm.controls.weeklyCommitment.dirty
                  "
                  message="Must be between 1 ~ 10, 000, 000 hours."
                />
              </div>

              <div
                class="w-full flex max-md:flex-col md:flex-wrap gap-[16px] md:gap-10 create-job-post text-b1 font-sans"
              >
                <div class="flex flex-col gap-2">
                  <div class="text-b1 text-G900">
                    Freelance Category <span class="text-R900">*</span>
                  </div>
                  <p-dropdown
                    [options]="categories"
                    [(ngModel)]="selectedCategory"
                    appendTo="body"
                  >
                    <ng-template pTemplate="selectedItem">
                      <div
                        class="flex items-center gap-2"
                        *ngIf="selectedCategory"
                      >
                        <div class="flex items-center gap-[16px]">
                          <img
                            src="{{
                              '/assets/massimo/images/' + selectedCategory.img
                            }}"
                            class="w-[20px]"
                          />
                          <span class="text-G900 font-medium text-b1">{{
                            selectedCategory.name
                          }}</span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                      <div
                        class="flex items-center gap-[16px]"
                        (click)="setProviderType(item)"
                      >
                        <img
                          src="{{ '/assets/massimo/images/' + item.img }}"
                          class="w-[20px]"
                        />
                        <span class="text-G900 font-medium text-b1">{{
                          item.name
                        }}</span>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="text-b1 text-G900">
                    Deadline <span class="text-R900">*</span>
                  </div>
                  <div>
                    <p-calendar
                      [(ngModel)]="date"
                      [showIcon]="true"
                      formControlName="deadline"
                      appendTo="body"
                      [minDate]="currentDate"
                    ></p-calendar>
                  </div>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="text-b1 text-G900">
                    Visibility <span class="text-R900">*</span>
                  </div>

                  <p-dropdown
                    [options]="visibilities"
                    [(ngModel)]="selectedVisibility"
                    optionLabel="visibilities"
                    appendTo="body"
                  >
                    <ng-template pTemplate="selectedItem">
                      <div
                        class="flex items-center gap-[16px]"
                        *ngIf="selectedVisibility"
                      >
                        <img
                          src="{{
                            '/assets/massimo/svg/' + selectedVisibility.img
                          }}"
                          class="w-[20px]"
                        />
                        <div class="text-G900 font-medium text-b1">
                          {{ selectedVisibility.name }}
                        </div>
                      </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                      <div
                        class="flex items-center gap-[16px]"
                        (click)="setVisibility(item)"
                      >
                        <img
                          src="{{ '/assets/massimo/svg/' + item.img }}"
                          class="w-[20px]"
                        />
                        <div class="text-G900">
                          {{ item.name }}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>

              <div class="text-b1 font-sans">
                <app-terms [form]="shareableJobForm"></app-terms>
              </div>
              <div>
                <div class="hidden sm:flex gap-4 justify-end flex-row">
                  <basic-button
                    [type]="1"
                    title="Save as Draft"
                    size="small"
                    [disabled]="isSending || isCurrentUpload"
                    (click)="submitShareableJob(0)"
                    extraClass="!border-none text-G900 !shadow-none"
                  />
                  <basic-button
                    [type]="1"
                    title="See Preview"
                    size="small"
                    [disabled]="isSending || isCurrentUpload"
                    (click)="submitShareableJob(1)"
                  />
                  <basic-button
                    [type]="2"
                    title="Post Job Listing"
                    size="small"
                    [disabled]="isSending || isCurrentUpload"
                    (click)="submitShareableJob(2)"
                  />
                </div>
                <div class="w-full flex items-center gap-[16px] sm:hidden">
                  <!-- <button
                    class="w-full shadow-basicButton font-medium duration-300 transition-all rounded-[12px] select-none whitespace-nowrap text-center bg-G900 hover:bg-C500 active:bg-C800 text-white border-none disabled:bg-G900 disabled:text-white disabled:opacity-50"
                    [ngClass]="cssClasses"
                    [disabled]="isSending || isCurrentUpload"
                    (click)="submitShareableJob(2)"
                  >
                    Post Job Listing
                  </button> -->
                  <basic-button
                    [type]="2"
                    title="Post Job Listing"
                    size="small"
                    [disabled]="isSending || isCurrentUpload"
                    (click)="submitShareableJob(2)"
                    class="w-full"
                  />
                  <post-job-more-button
                    (btnClick)="submitShareableJob($event)"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="sent">
      <basic-dialog
        [visible]="sentDRP === 2"
        [jobId]="jobId"
        title="Job listing successful"
        content="Your job has been successfully listed on CanWork's job board.
        Consider inviting freelancers to your job listing and sharing on your social media."
        type="success"
      />
      <basic-dialog
        [visible]="sentDRP === 0"
        title="Job listing saved to Draft"
        content="Your job listing has been saved to your drafts, you can continue anytime to list your job on CanWork"
        type="draft"
      />
    </div>
    <div *ngIf="!sent && error">
      <basic-dialog
        [visible]="sentDRP === 2"
        title="Error! Unable to list job"
        content="Job listing was unsuccessful, please try again."
        type="failed"
      />
    </div>
    <div
      *ngIf="isPreview"
      class="flex flex-col md:flex-row md:justify-center gap-[24px] md:gap-6 max-w-[1440px] px-[20px] md:px-[64px] m-auto rounded-xl"
    >
      <div
        *ngIf="jobForPreview"
        class="w-full rounded-[12px] bg-white border border-G200 p-11"
      >
        <div class="text-b3 md:text-b2 text-G800 leading-[1.2] mt-[12px]">
          Preview
        </div>
        <div
          class="text-h4 md:text-h4 text-G800 font-medium leading-[1.2] my-[8px] font-sans"
        >
          {{ jobForPreview.information.title }}
        </div>
        <div class="text-b3 md:text-b2 text-G500 leading-[1.2]">
          {{ jobFromNow }}
        </div>
        <div
          class="text-b2 md:text-b1 text-G900 leading-[1.2] mt-[24px]"
          [innerHTML]="jobForPreview.information.description | linkify"
        ></div>

        <hr
          *ngIf="jobForPreview.information.attachments.length > 0"
          class="h-[1.5px] my-[20px] bg-gray-200 border-0"
        />
        <div
          *ngIf="jobForPreview.information.attachments.length > 0"
          class="text-b2 md:text-b1 text-G800 leading-[1.2] mt-[15px]"
        >
          <p class="mb-[10px] text-b2 font-sans font-medium text-G900">
            Attachment
          </p>
          <ng-container
            *ngFor="let item of jobForPreview.information.attachments"
          >
            <div class="flex justify-start py-[6px]">
              <a href="{{ item.url }}" target="_blank">
                <p class="flex justify-start items-center text-C600">
                  <img
                    src="/assets/massimo/svg/ion_attach-outline.svg"
                    alt="ion_attach"
                    class="w-[24px] h-[24px]"
                  />
                  {{ item.name }}
                </p>
              </a>
            </div>
          </ng-container>
        </div>
        <div *ngIf="jobForPreview.information.skills.length > 0">
          <hr class="h-[1.5px] my-[20px] bg-gray-200 border-0" />
          <p class="mb-[10px] text-b2 font-sans font-medium text-G900">
            Skill Tags
          </p>

          <div
            class="text-b2 md:text-b1 text-G800 leading-[1.2] mt-[15px] flex flex-wrap gap-[8px]"
          >
            <app-skill-tag
              *ngFor="let skill of jobForPreview.information.skills"
              [routerLink]="['/search/']"
              [queryParams]="{ query: skill }"
              [skill]="skill"
            ></app-skill-tag>
          </div>
        </div>

        <div class="pt-[20px] md:pt-[48px]">
          <back-to-job-board />
        </div>
      </div>

      <div class="lg:max-w-[350px] w-full">
        <job-status-panel
          [job]="jobForPreview"
          [currentUser]="currentUser"
          [isPostJobPage]="true"
          [isPostButtonsShow]="sentDRP === 1"
          (leftBtnEvent)="BackToEdit($event)"
          (rightBtnEvent)="submitShareableJob(2)"
        />
      </div>
    </div>
  </section>
</main>
