<main class="font-sans">
  <section class="bg-white sm:bg-G50">
    <div
      *ngIf="userModel"
      class="max-w-[1440px] m-auto pt-[76px] sm:pt-[100px] px-[0px] sm:px-[16px] md:px-[40px] lg:px-[64px] pb-[24px]"
    >
      <edit-profile-dialog
        *ngIf="currentUser"
        [(visible)]="visibleEditProfileDialog"
        (close)="closeEditDialog()"
        [currentUser]="currentUser"
      />
      <edit-bio-dialog
        [(visible)]="visibleEditBioDialog"
        [currentUser]="currentUser"
      />
      <app-profile-about
        [userAddress]="userModel.address"
        [currentUser]="currentUser"
        [isMyProfile]="isMyProfile()"
        [userModel]="userModel"
        (editProfile)="showEditProfileDialog()"
      />
      <div
        class="max-sm:px-[16px] flex flex-col-reverse lg:flex-row sm:gap-[16px] sm:mt-[16px]"
      >
        <div
          class="lg:min-w-[350px] lg:max-w-[350px] sm:rounded-[12px] sm:border sm:!border-G200 sm:bg-white overflow-hidden h-max"
        >
          <app-profile-skills
            [userModel]="userModel"
            [isMyProfile]="isMyProfile()"
            (editBio)="showEditBioDialog()"
          />
          <app-profile-certifications
            *ngIf="userModel.type === 'Provider'"
            [userModel]="userModel"
            [isMyProfile]="isMyProfile()"
          />
          <app-profile-educations
            *ngIf="userModel.type === 'Provider'"
            [userModel]="userModel"
            [isMyProfile]="isMyProfile()"
          />
        </div>
        <div class="w-full flex flex-col sm:gap-[16px]">
          <app-profile-bio
            [isMyProfile]="isMyProfile()"
            [userModel]="userModel"
            (editBio)="showEditBioDialog()"
          />
          <app-reviews [user]="userModel" />
          <app-profile-portfolio
            *ngIf="userModel.type === 'Provider'"
            [userModel]="userModel"
            [notMyProfile]="notMyProfile()"
            [isMyProfile]="isMyProfile()"
          />
          <app-profile-workhistory
            *ngIf="userModel.type === 'Provider'"
            [userModel]="userModel"
            [isMyProfile]="isMyProfile()"
          />
        </div>
      </div>
    </div>
  </section>
</main>

<!-- <main class="main-content">
  <section class="section bg-gray !pt-16 pb-20" id="section-profile">
    <div
      *ngIf="!userModel"
      class="container d-flex h-100 flex-column justify-content-center"
      style="min-height: 640px"
    >
      <img src="assets/img/loader.svg" style="height: 36px" alt="Loader" />
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-4 my-5">
          <app-profile-about
            *ngIf="userModel"
            (editProfile)="displayEditComponent = true"
            [userAddress]="userModel.address"
            [currentUser]="currentUser"
            [isMyProfile]="isMyProfile()"
            [userModel]="userModel"
          ></app-profile-about>
          <div *ngIf="userModel" class="card my-15">
            <div class="container px-30 py-30">
              <app-profile-timezone
                *ngIf="userModel"
                [userModel]="userModel"
              ></app-profile-timezone>
              <app-profile-social [userModel]="userModel"></app-profile-social>
              <app-profile-get-referral
                *ngIf="isMyProfile()"
                [userModel]="userModel"
              ></app-profile-get-referral>

              <app-profile-visitors
                *ngIf="isMyProfile()"
                [userModel]="currentUser"
              ></app-profile-visitors>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 my-5">
          <app-profile-bio
            *ngIf="userModel && userModel.description"
            [isMyProfile]="isMyProfile()"
            [userModel]="userModel"
          ></app-profile-bio>
          <app-certifications
            *ngIf="userModel && userModel.type === 'Provider'"
            [userModel]="userModel"
            [notMyProfile]="notMyProfile()"
            [isMyProfile]="isMyProfile()"
          ></app-certifications>
          <app-profile-portfolio
            *ngIf="userModel && userModel.type === 'Provider'"
            [userModel]="userModel"
            [notMyProfile]="notMyProfile()"
            [isMyProfile]="isMyProfile()"
          ></app-profile-portfolio>
          <app-reviews *ngIf="userModel" [user]="userModel"></app-reviews>
        </div>
      </div>
    </div>
  </section>
</main>
<app-certifications-form *ngIf="isMyProfile()"></app-certifications-form>
<app-scroll-top></app-scroll-top> -->
