<app-top style="display: block; height: 90px;"></app-top>

<!-- Main container -->
<main class="main-content">

  <section class="section bg-gray pt-1 pb-30" id="section-profile">

    <div *ngIf="!userModel && !workModel" class="container d-flex h-100 flex-column justify-content-center" style="min-height: 640px;">
      <img src="assets/img/loader.svg" height="36px" alt="Loader">
    </div>

    <!-- <a
          class="ml-150 fw-500"
          href="/"><i class="ti-arrow-left fs-18 ml-4"></i></a> -->

    <!-- href="javascript:history.back()" -->
    <!-- [routerLink]="['/home']" data-scrollto="section-home" -->
    <button (click)="onBack();" class="text-primary hidden-lg-down" style="border: none; background: none;">
      <i class="ti-angle-left text-default fs-24" style="position: fixed; top: 105px; left: 11%; z-index: 11; cursor: pointer;"></i>
    </button>

    <div *ngIf="userModel && (userModel.address !== currentUser.address)" class="row my-0 py-0 hidden-md-down" style="cursor: pointer;">
      <div class="col-12 my-0 py-0 text-center">
        <div class="swiper-container swiper-container-horizontal">
          <div class="swiper-wrapper py-5" style="transition-duration: 500ms;">
            <div class="swiper-slide" data-swiper-slide-index="0">
              <a (click)="onCanya();">
                <img width="50%" height="auto" src="assets/img/BannerTutorial.png" alt="CanYa - Process" border-5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row justify-content-center">

        <!-- sidebar bg-faded -->
        <div class="col-12 col-md-3 my-5">
          <div class="card pricing-3" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">
            <span *ngIf="userModel && userModel.badge" class="popular-tag" style="background:#3cf; float:right; z-index: 111;">{{ userModel.badge }}</span>
            <a *ngIf="userModel && (userModel.address === currentUser.address)" [routerLink]="['/work']" data-toggle="tooltip" data-placement="top"
              title="Add Project" class="btn btn-sm btn-circular icon-add-work pl-1">
              <i class="ti-plus fw-600" aria-hidden="true"></i>
            </a>

            <a *ngIf="userModel && (userModel.address === currentUser.address)" [routerLink]="['/profile/edit']" data-toggle="tooltip"
              data-placement="top" title="Edit Profile" class="btn btn-sm btn-circular btn-light icon-edit-work pl-1">
              <i class="ti-pencil fw-600" aria-hidden="true"></i>
            </a>

            <!-- <ng-template [ngIf]="userModel && userModel.badges">
              <ng-template ngFor let-i="index" let-badge [ngForOf]="userModel.badges">
                <div class="hidden-lg-down" style="position: absolute; top: -14px; left: 46px; z-index: 111;">
                  <img [src]="'assets/img/' + badge + '.png'" width="170px" height="auto">
                </div>
              </ng-template>
            </ng-template> -->

            <div id="sidebar" *ngIf="userModel">
              <div class="profile">
                <img *ngIf="userModel && (userModel.avatar && userModel.avatar.uri)" class="headshot" src="{{ userModel.avatar.uri }}" alt="">
                <div class="title">
                  <h2 *ngIf="userModel && userModel.name">{{ userModel.name }}</h2>
                  <h3 *ngIf="userModel && userModel.title">{{ userModel.title }}</h3>
                  <p class="fw-400" *ngIf="userModel && userModel.bio">{{ userModel.bio }}</p>

                  <!-- [routerLink]="['/chat']" -->
                  <button *ngIf="userModel && (userModel.address !== currentUser.address)" (click)="onCanya();" class="btn btn-primary btn-canya-chat"
                    data-scrollto="section-profile">
                    <!-- <img src="assets/img/canya-button.png" style="margin-top: -2px;" width="16px" height="16px" alt="CanYa"> CANYA? -->
                    Post a request
                  </button>

                </div>
              </div>
              <!-- <nav *ngIf="userModel && height >= maxHeight">
                <ul>
                  <li [ngClass]="{'active': selectedTab === 'WORK' }">
                    <a href="#tab-work" [ngClass]="{'active': selectedTab === 'WORK' }"
                    data-toggle="tab" data-scrollto="section-profile" (click)="onTab('WORK');">Work</a>
                  </li>
                  <li [ngClass]="{'active': selectedTab === 'COMMENTS' }">
                    <a href="#tab-comments" [ngClass]="{'active': selectedTab === 'COMMENTS' }"
                    data-toggle="tab" data-scrollto="section-profile" (click)="onTab('COMMENTS');">Comments</a>
                  </li>
                  <li [ngClass]="{'active': selectedTab === 'REACTIONS' }">
                    <a href="#tab-reactions" [ngClass]="{'active': selectedTab === 'REACTIONS' }"
                    data-toggle="tab" data-scrollto="section-profile" (click)="onTab('REACTIONS');">Reactions</a>
                  </li>
                </ul>
              </nav> -->
              <!-- <div class="social">
                <a href="#" class="logo">
                  <i class="fa fa-codepen" aria-hidden="true"></i>
                </a>
                <a href="#" class="logo">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#" class="logo">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="#" class="logo">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div> -->
              <div class="waves">
                <svg width="400" height="689" viewBox="0 0 400 689" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Canvas" transform="translate(720 177)">
                    <g id="Waves">
                      <g id="back-wave">
                        <!-- #DD2476 -->
                        <use xlink:href="#path0_fill" transform="translate(-720 -158.222)" [attr.fill]="userModel.colors[0] || '#00FFCC'" fill-opacity="0.37"
                        />
                      </g>
                      <g id="front-wave">
                        <use xlink:href="#path1_fill" transform="translate(-720 -176.527)" fill="url(#paint1_linear)" fill-opacity="0.6" />
                      </g>
                    </g>
                  </g>
                  <defs>
                    <linearGradient id="paint1_linear" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.44929e-14 221 -400 1.35323e-14 400 7.52681)">
                      <!-- #FF512F -->
                      <stop offset="0" [attr.stop-color]="userModel.colors[0] || '#33ccff'" />
                      <!-- #DD2476 -->
                      <stop offset="1" [attr.stop-color]="userModel.colors[1] || '#00FFCC'" />
                    </linearGradient>
                    <path id="path0_fill" d="M 0 60.222C 35.5 20.222 61.3051 -5.20902 92.5 8.22203C 128.5 23.7219 114 42.7219 211 60.222C 268.632 70.6198 308.621 7.02893 343 0.721831C 368.44 -3.94529 387.5 15.2219 400 23.7219L 400 1008.22L 0 1008.22L 0 60.222Z"
                    />
                    <path id="path1_fill" d="M 0 36.4959C 14.0351 50.8858 62.5188 84.4509 95 74.5268C 135.602 62.1217 181.5 -41.9732 257 19.0267C 321.612 71.2295 344 96.5267 400 44.9313L 400 971.527L 0 971.527L 0 36.4959Z"
                    />
                  </defs>
                </svg>
              </div>
              <!-- waves -->


            </div>
          </div>

          <!-- <div *ngIf="userModel && (userModel.address !== currentUser.address) && userModel.badges" class="card my-30 p-24" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">
            <div class="card-body">
              <ng-template ngFor let-i="index" let-badge [ngForOf]="userModel.badges">
                <img [src]="'assets/img/' + badge + '.png'" width="auto" height="auto">
              </ng-template>
            </div>
          </div> -->

          <div *ngIf="userModel && (userModel.address !== currentUser.address)" class="card my-30 px-1 py-24 hidden-lg-down" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">
            <div class="card-body">
              <p class="lead fw-500 mx-20 bb-1">Share profile</p>
              <div class="row m-0 p-0">
                <div class="col-6 px-6">
                  <button (click)="onShare();" type="button" class="btn btn-primary btn-sm" style="background-color: rgb(59, 89, 152); border: none;"
                    border-64>
                    <i class="ti-facebook"></i>&nbsp;Share
                  </button>
                </div>
                <div class="col-6 px-5">
                  <button (click)="onTweet();" type="button" class="btn btn-primary btn-sm" style="background-color: rgb(85, 172, 238); border: none;"
                    border-64>
                    <i class="ti-twitter-alt"></i>&nbsp;Tweet
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="userModel && (userModel.address !== currentUser.address) && userModel.timezone && userModel.offset" class="card my-30 p-24"
            style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">
            <div class="card-body">
              <p class="lead fw-500 bb-1">Time zone</p>
              <h6>{{ userModel.timezone }}&nbsp;({{ userModel.offset }})</h6>
            </div>
          </div>

          <div *ngIf="userModel && (userModel.address !== currentUser.address) && userModel.ethAddress" class="card my-30 p-24" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">
            <div class="card-body">
              <p class="lead fw-500 bb-1">Support my work</p>
              <h6>If you like my work, buy me a
                <img src="assets/img/coffee.svg" width="auto" height="24px"> to show your support.</h6>
              <button (click)="onBuyACoffee();" type="button" class="btn btn-block btn-primary btn-canya-chat">
                Buy me a
                <img src="assets/img/coffee-white.svg" width="auto" height="24px" style="margin-top: -2px;">
              </button>
            </div>
          </div>




          <div *ngIf="userModel && (userModel.address === currentUser.address) && whoViewProfileCounter > 0" class="card my-30 p-24"
            style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">
            <div class="card-body">
              <p class="lead fw-500 bb-1">Visitors</p>
              <h6>
                <span class="fw-400 fs-18 text-primary">{{whoViewProfileCounter}}</span> {{ whoViewProfileCounter > 1 ? 'people':'person' }} viewed your profile.</h6>

              <a [routerLink]="['/who']" class="btn btn-block btn-primary btn-canya-chat">
                Who viewed me?
              </a>
            </div>
          </div>

          <!-- <div *ngIf="userModel && (userModel.address === currentUser.address) && !userModel.ethAddress" class="card my-30 p-24" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">
            <div class="card-body">
              <p class="lead fw-500 bb-1">Set up wallet to receive payments</p>
              <h6>You will receive payments in
                <img src="assets/img/round-icon.svg" width="auto" height="16px" style="margin-top: -3px;"> CanYaCoins for all successfully delivered services in your wallet.</h6>

              <!-- <img src="assets/img/canya-button.png" width="auto" height="16px" style="margin-top: -2px;"> --
              <button (click)="onSetUpYourWallet();" type="button" class="btn btn-block btn-primary btn-canya-chat">
                Set up your wallet
              </button>
            </div>
          </div> -->

        </div>

        <div class="col-12 col-md-8 my-5">

          <div class="tab-content">
            <div class="tab-pane" [ngClass]="{'fade': selectedTab === 'WORK', 'show': selectedTab === 'WORK', ' active': selectedTab === 'WORK' }"
              id="tab-work">

              <div *ngIf="userModel && (userModel.address === currentUser.address) && !userModel.ethAddress" class="card mb-30 p-20" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">
                <div class="card-body text-center">
                  <h3 class="fw-500">Set up your wallet to make and receive payments!</h3>

                  <h5 class="fw-400">Your ETH address is:
                    <br>
                    <mark>{{ ethService.account ? ethService.account:'Loading MetaMask...' }}</mark>
                  </h5>

                  <p class="text-center pt-3 my-10">
                    You will make and receive payments in
                    <img src="assets/img/round-icon.svg" width="auto" height="16px" style="margin-top: -3px;"> CanYaCoins for all services in CanYa platform using this address.
                  </p>

                  <button (click)="onSetUpYourWallet();" type="button" class="btn btn-primary btn-canya-chat">
                    Set up your wallet
                  </button>
                </div>
              </div>

              <div *ngIf="userModel && userModel.description" class="card mb-30 p-20" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">

                <a *ngIf="userModel && (userModel.address === currentUser.address)" [routerLink]="['/profile/edit']" data-toggle="tooltip"
                  data-placement="top" title="Edit Profile" class="btn btn-sm btn-circular btn-light icon-edit-description pl-1">
                  <i class="ti-pencil fw-600" aria-hidden="true"></i>
                </a>

                <div class="card-img-cover">
                  <img [src]="'assets/img/' + userModel.category + '.svg'" [src-fallback]="cover" alt="CanYa">
                </div>
                <div class="card-body">
                  <p class="card-text mt-20" style="white-space: pre-line">{{ userModel.description }}</p>
                </div>
              </div>

              <div class="card" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">

                <div id="page-wrap">

                  <div *ngIf="workModel && workModel.length < 1" class="container">
                    <div class="row flex-row">
                      <div class="col-12">
                        <div class="flexbox-container">
                          <div #portfolio id="portfolio"></div>
                          <br>
                          <h3 *ngIf="userModel && (userModel.address === currentUser.address) && (userModel.type === 'Provider')" class="fw-500">OMG! Your work is empty!</h3>
                          <h4 *ngIf="userModel && (userModel.address === currentUser.address) && (userModel.type === 'Provider')" class="fw-400">Let's make a portfolio and post your work.</h4>
                          <p *ngIf="userModel && (userModel.address === currentUser.address) && (userModel.type === 'Provider')" class="text-center py-3">
                            <a *ngIf="userModel && userModel.colors" class="btn btn-primary btn-add-work" [routerLink]="['/work']" [ngStyle]="{ 'background': 'linear-gradient(122deg, ' + userModel.colors[0] + ' 0%, ' + userModel.colors[1] + ' 93%)' }">ADD WORK</a>
                          </p>

                          <h3 *ngIf="userModel && (userModel.address === currentUser.address) && (userModel.type === 'User')" class="fw-500">Why CanYaCoin?</h3>
                          <h4 *ngIf="userModel && (userModel.address === currentUser.address) && (userModel.type === 'User')" class="fw-400">10 times less transaction fees (1%)!</h4>
                          <p *ngIf="userModel && (userModel.address === currentUser.address) && (userModel.type === 'User')" class="text-center py-3">
                            <!-- [routerLink]="['/buy']" -->
                            <a *ngIf="userModel && userModel.colors" class="btn btn-primary btn-add-work text-white" (click)="onBuy();" [ngStyle]="{ 'background': 'linear-gradient(122deg, ' + userModel.colors[0] + ' 0%, ' + userModel.colors[1] + ' 93%)' }">BUY CAN</a>
                          </p>

                          <h3 *ngIf="userModel && (userModel.address !== currentUser.address)" class="fw-500">Ohh, so exciting!</h3>
                          <h4 *ngIf="userModel && (userModel.address !== currentUser.address)" class="fw-400 mb-20">CanYa do something for you?</h4>
                          <button *ngIf="userModel && (userModel.address !== currentUser.address)" (click)="onCanya();" class="btn btn-primary btn-canya-chat mb-30"
                            data-scrollto="section-profile">
                            <!-- <img src="assets/img/canya-button.png" style="margin-top: -2px;" width="16px" height="16px" alt="CanYa"> CANYA? -->
                            Post a request
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="userModel && (workModel && workModel.length > 0)" class="container">

                    <!-- border-bottom: 2px dashed #DD2476; -->
                    <div *ngFor="let work of portfolioWorkDataRecords();let i = index" class="project" [ngStyle]="{ 'border-bottom': '2px dashed ' + userModel.colors[0] }">

                      <div class="left-content">

                        <a *ngIf="userModel && (userModel.address === currentUser.address)" [routerLink]="['/project', work.id]" data-toggle="tooltip"
                          data-placement="top" title="Edit Project" class="btn btn-sm btn-circular btn-light icon-edit-project pl-1">
                          <i class="ti-pencil fw-600" aria-hidden="true"></i>
                        </a>

                        <a [href]="work.image || '//canya-tests.firebaseapp.com/assets/img/work-placeholder.svg'" class="thumbnail mt-30" data-provide="lightbox">
                          <img [src]="work.image" [src-fallback]="placeholder" alt="CanYa - Portfolio" class="thumbnail">
                        </a>
                        <!-- <ul class="skills"> -->
                        <div class="row align-items-center justify-content-center text-center my-10">
                          <div class="col-auto mx-5 my-5" *ngFor="let tag of work.tags | slice:0:4">
                            <a [routerLink]="['/search', tag]" class="btn btn-round" data-scrollto="section-main" style="background: #E876BC; color: white; border: none;"
                              [ngStyle]="{ 'background': userModel.colors[0] }">
                              <i class="fa fa-tag" aria-hidden="true"></i>
                              {{ tag }}
                            </a>
                          </div>
                        </div>
                        <!-- </ul> -->
                      </div>
                      <div class="right-content mx-10">
                        <h3 *ngIf="work.title" class="title" [ngStyle]="{ 'color': userModel.colors[0] }">
                          {{ work.title }}
                        </h3>
                        <div *ngIf="work.description" class="description">
                          <p>
                            {{ work.description }}
                          </p>
                        </div>
                        <!-- <a href="#" class="open-demo">Open
                      <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a> -->

                        <!-- linear-gradient(270deg, #FF512F 0.54%, #DD2476 98.39%); -->
                        <a *ngIf="work.link" [href]="work.link.toLowerCase().includes('http') ? work.link : 'http://' + work.link" class="btn open-demo"
                          target="_blank" style="color: white; background: linear-gradient(270deg, #FF512F 0.54%, #DD2476 98.39%); border: none;"
                          [ngStyle]="{ 'background': 'linear-gradient(122deg, ' + userModel.colors[0] + ' 0%, ' + userModel.colors[1] + ' 93%)' }">
                          OPEN
                          <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>

                      </div>
                    </div>

                  </div>

                </div>
                <div class="row">
                  <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-info" [disabled]="currentPage == 0" (click)="previousPage()">&lt;</button>
                    <button class="btn btn-info" (click)="nextPage()">&gt;</button>
                  </div>
                </div>
              </div>
              <!-- work -->

              <!-- height < maxHeight -->
              <div *ngIf="false" class="card mt-30" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">

                <div class="row mx-20 mt-30 mb-20">

                  <div class="col-12">

                    <div class="row">
                      <div class="col-2 hidden-md-down">
                        <img *ngIf="userModel && (userModel.avatar && userModel.avatar.uri)" src="{{ userModel.avatar.uri }}" class="comment-avatar"
                          alt="">
                      </div>
                      <div class="col-10 px-0">
                        <textarea #txt [(ngModel)]="comment" rows="2" placeholder="Add a public comment" maxlength="500"></textarea>
                        <button *ngIf="userModel && (userModel.colors && userModel.colors.length > 0)" (click)="onComment(txt);" class="btn open-demo"
                          style="color: white; background: linear-gradient(270deg, #FF512F 0.54%, #DD2476 98.39%); border: none;"
                          [ngStyle]="{ 'background': 'linear-gradient(122deg, ' + userModel.colors[0] + ' 0%, ' + userModel.colors[1] + ' 93%)' }">
                          POST COMMENT
                          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </button>
                        <span *ngIf="error" class="fw-400 text-danger">&nbsp;{{ error }}</span>
                      </div>
                    </div>

                    <ng-template ngFor let-i="index" let-comment [ngForOf]="commentsModel">
                      <div class="row my-40">

                        <div class="col-2 hidden-md-down">
                          <img *ngIf="comment.avatar && (comment.avatar && comment.avatar.uri)" src="{{ comment.avatar.uri }}" class="comment-avatar"
                            alt="">
                        </div>

                        <div class="col-10 px-0">
                          <h6 class="fw-400">{{ comment.name }}&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="fs-12 fw-300">{{ comment.humanisedDate }}</span>
                          </h6>
                        </div>

                      </div>
                      <div class="row">

                        <div class="col-2"></div>

                        <div class="col-10 px-0" style="margin-top: -76px;">
                          <p>{{ comment.post }}</p>
                        </div>

                      </div>
                    </ng-template>

                  </div>

                </div>


              </div>
              <!-- comment -->
            </div>

            <!-- card -->
            <div class="tab-pane" [ngClass]="{'fade': selectedTab === 'COMMENTS', 'show': selectedTab === 'COMMENTS', ' active': selectedTab === 'COMMENTS' }"
              id="tab-comments">
              <div class="card" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">

                <div class="row mx-20 mt-30 mb-20">

                  <div class="col-12">

                    <div class="row">
                      <div class="col-2 hidden-md-down">
                        <img *ngIf="userModel && (userModel.avatar && userModel.avatar.uri)" src="{{ userModel.avatar.uri }}" class="comment-avatar"
                          alt="">
                      </div>
                      <div class="col-10 px-0">
                        <textarea #txt [(ngModel)]="comment" rows="2" placeholder="Add a public comment" maxlength="500"></textarea>
                        <button *ngIf="userModel && (userModel.colors && userModel.colors.length > 0)" (click)="onComment(txt);" class="btn open-demo"
                          style="color: white; background: linear-gradient(270deg, #FF512F 0.54%, #DD2476 98.39%); border: none;"
                          [ngStyle]="{ 'background': 'linear-gradient(122deg, ' + userModel.colors[0] + ' 0%, ' + userModel.colors[1] + ' 93%)' }">
                          POST COMMENT
                          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </button>
                        <span *ngIf="error" class="fw-400 text-danger">&nbsp;{{ error }}</span>
                      </div>
                    </div>

                    <ng-template ngFor let-i="index" let-comment [ngForOf]="commentsModel">
                      <div class="row my-40">

                        <div class="col-2 hidden-md-down">
                          <img *ngIf="comment.avatar && (comment.avatar && comment.avatar.uri)" src="{{ comment.avatar.uri }}" class="comment-avatar"
                            alt="">
                        </div>

                        <div class="col-10 px-0">
                          <h6 class="fw-400">{{ comment.name }}&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="fs-12 fw-300">{{ comment.humanisedDate }}</span>
                          </h6>
                        </div>

                      </div>
                      <div class="row">

                        <div class="col-2"></div>

                        <div class="col-10 px-0" style="margin-top: -76px;">
                          <p>{{ comment.post }}</p>
                        </div>

                      </div>
                    </ng-template>

                  </div>

                </div>


              </div>
              <!-- comment -->
            </div>


            <!-- card -->
            <div class="tab-pane" [ngClass]="{'fade': selectedTab === 'REACTIONS', 'show': selectedTab === 'REACTIONS', ' active': selectedTab === 'REACTIONS' }"
              id="tab-reactions">
              <div class="card" style="box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02); border-radius: 6px;">

                <div class="container">
                  <div class="row">
                    <div class="col-12">

                      <h5 class="fw-500 mx-20 mt-30">
                        <!-- <i class="ti-comments-smiley" aria-hidden="true"></i> -->
                        Feedback
                      </h5>

                      <div class="mx-20 pb-3">

                        <!-- <a *ngIf="userModel && userModel.colors"
                          class="btn-add-work" href="#"
                          [routerLink]="['/work']"
                          [ngStyle]="{ 'background': 'linear-gradient(122deg, ' + userModel.colors[0] + ' 0%, ' + userModel.colors[1] + ' 93%)' }">
                          81 REACTIONS <span class="fw-600">UNIQUE</span>20
                        </a> -->

                        <!-- <app-reactions [reactions]="reactionsModel" (action)="onReaction($event);"></app-reactions> -->

                        <h4 class="fw-400">Coming soon!</h4>

                        <!-- <p class="fw-400">What do you love about NAME's service?</p>
                        <div class="btn-group" role="group" style="margin-top: -20px;">
                            <div id="reactions" class="btn-group" role="group">
                              <button type="button"
                                class="btn btn-secondary bg-pale-secondary"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 5px;">
                                <span class="fw-400">81 REACTIONS</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="fw-500">GREAT QUALITY 11</span>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="reactions" style="min-width: 300px;">
                                  <h6 class="dropdown-header">Reactions</h6>
                                  <div class="dropdown-divider"></div>
                                  <button class="dropdown-item active">&nbsp;&nbsp;Unique<span style="float: right;">(12)&nbsp;+1&nbsp;&nbsp;</span></button>
                                  <button class="dropdown-item">&nbsp;&nbsp;Great quality<span style="float: right;">(3)&nbsp;+1&nbsp;&nbsp;</span></button>
                                  <button class="dropdown-item">&nbsp;&nbsp;Solid value<span style="float: right;">(4)&nbsp;+1&nbsp;&nbsp;</span></button>
                                  <button class="dropdown-item">&nbsp;&nbsp;It's not for me<span style="float: right;">(9)&nbsp;+1&nbsp;&nbsp;</span></button>
                              </div>
                            </div>
                          </div>

                          <p class="fw-400 my-3">Juan is...</p>
                          <div class="btn-group" role="group" style="margin-top: -20px;">
                              <div id="reactions" class="btn-group" role="group">
                                <button type="button"
                                  class="btn btn-secondary bg-pale-secondary"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 5px;">
                                  <span class="fw-400">81 REACTIONS</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <span class="fw-500">Versatile 11</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="reactions" style="min-width: 300px;">
                                    <h6 class="dropdown-header">Reactions</h6>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item active">&nbsp;&nbsp;Versatile<span style="float: right;">(12)&nbsp;+1&nbsp;&nbsp;</span></button>
                                    <button class="dropdown-item">&nbsp;&nbsp;Creative<span style="float: right;">(3)&nbsp;+1&nbsp;&nbsp;</span></button>
                                    <button class="dropdown-item">&nbsp;&nbsp;Not sure<span style="float: right;">(9)&nbsp;+1&nbsp;&nbsp;</span></button>
                                </div>
                              </div>
                            </div>

                            <p class="fw-400 my-3">Would you continue to use this service?</p>
                          <div class="btn-group" role="group" style="margin-top: -20px;">
                              <div id="reactions" class="btn-group" role="group">
                                <button type="button"
                                  class="btn btn-secondary bg-pale-secondary"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 5px;">
                                  <span class="fw-400">81 REACTIONS</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <span class="fw-500">Yes 11</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="reactions" style="min-width: 300px;">
                                    <h6 class="dropdown-header">Reactions</h6>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item active">&nbsp;&nbsp;Yes, I will continue to use.<span style="float: right;">(12)&nbsp;+1&nbsp;&nbsp;</span></button>
                                    <button class="dropdown-item">&nbsp;&nbsp;No, thanks.<span style="float: right;">(3)&nbsp;+1&nbsp;&nbsp;</span></button>
                                </div>
                              </div>
                            </div> -->



                        <!-- <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                              <button type="button" class="btn btn-secondary" data-toggle="dropdown">81 REACTIONS</button>
                              <button type="button" class="btn btn-secondary" data-toggle="dropdown">UNIQUE 20</button>
                              <button type="button" class="btn btn-secondary" data-toggle="dropdown">GREAT QUALITY 1</button>
                          </div>
                          <div class="dropdown-menu">
                              <h6 class="dropdown-header">Reactions</h6>
                              <div class="dropdown-divider"></div>
                              <button class="dropdown-item active">&nbsp;&nbsp;Unique<span style="float: right;">+1&nbsp;&nbsp;</span></button>
                              <button class="dropdown-item">&nbsp;&nbsp;Great quality<span style="float: right;">+1&nbsp;&nbsp;</span></button>
                              <button class="dropdown-item">&nbsp;&nbsp;Solid value<span style="float: right;">+1&nbsp;&nbsp;</span></button>
                              <button class="dropdown-item">&nbsp;&nbsp;It's not for me<span style="float: right;">+1&nbsp;&nbsp;</span></button>
                            </div>
                        </div> -->

                      </div>

                    </div>
                  </div>
                </div>


              </div>
              <!-- reviews -->
            </div>

          </div>
          <!-- TAB-CONTENT -->
        </div>
        <!-- COL -->
      </div>

      <ng-template ngFor let-i="index" let-user [ngForOf]="bannerUser">

        <div *ngIf="user && user.address && user.bio" class="row justify-content-center py-30">
          <div class="col-12 col-md-9">

            <a [routerLink]="['/profile', user.address]" data-scrollto="section-profile">
              <div class="card card-hover-shadow specialcard-holder" [ngStyle]="{ 'background': 'linear-gradient(122deg, ' + user.colors[0] + ' 0%, ' + user.colors[1] + ' 93%)' }">
                {{ user.bio }}</div>
            </a>
          </div>
        </div>

      </ng-template>

    </div>
  </section>

  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Blog
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <section class="section bg-white my-30 py-0">
    <div class="container">
      <h2 class="text-center">Latest news</h2>
      <br>
      <br>

      <div class="row gap-y">


        <ng-template ngFor let-i="index" let-fx [ngForOf]="feed">

          <div *ngIf="i !== 2" class="col-12 col-md-6 col-lg-4">
            <div class="card card-bordered card-hover-shadow">
              <a [href]="fx.link" target="_blank">
                <img class="card-img-top" [src]="fx.thumbnail" [src-fallback]="placeholder" [alt]="feed.title" data-aos="fade-in">
              </a>
              <div class="card-block">
                <h4 class="card-title">
                  <a [href]="fx.link" target="_blank">{{ fx.title }}</a>
                </h4>
                <p class="card-text">{{ fx.description }}</p>
                <a class="fw-600 fs-12" [href]="fx.link" target="_blank">Read more
                  <i class="fa fa-chevron-right fs-9 pl-8"></i>
                </a>
              </div>
            </div>
          </div>

          <div *ngIf="i === 2" class="col-12 col-lg-4 hidden-md-down">
            <div class="card card-bordered card-hover-shadow">
              <a [href]="fx.link" target="_blank">
                <img class="card-img-top" [src]="fx.thumbnail" [src-fallback]="placeholder" [alt]="feed.title" data-aos="fade-in">
              </a>
              <div class="card-block">
                <h4 class="card-title">
                  <a [href]="fx.link" target="_blank">{{ fx.title }}</a>
                </h4>
                <p class="card-text">{{ fx.description }}</p>
                <a class="fw-600 fs-12" [href]="fx.link" target="_blank">Read more
                  <i class="fa fa-chevron-right fs-9 pl-8"></i>
                </a>
              </div>
            </div>
          </div>

        </ng-template>

      </div>

      <br>
      <br>
      <p class="fw-400 text-center">
        <a href="https://blog.canya.com.au" target="_blank">Browse all blog posts</a>
      </p>
    </div>
  </section>


  <!-- <div *ngIf="userModel && (userModel.address !== currentUser.address)" [hidden]="hideBanner" class="banner-canya">
      <a (click)="hideBanner = true;" class="banner-canya-close">×
      </a>

      <a class="d-block">
        <img src="assets/img/BannerUport.png"
          class="b-0 d-block" alt="CanYa+ uPort!" width="318">
      </a>
    </div> -->

</main>

<app-footer></app-footer>

<a class="scroll-top" href="#">
  <i class="fa fa-angle-up"></i>
</a>

<!-- Thank you Modal -->
<div class="modal fade" id="thankYou" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="true" aria-labelledby="thankYouLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="subscribeModalLabel">&nbsp;</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <h6 class="text-dark fs-14 fw-600"></h6> -->
        <div class="d-flex flex-column justify-content-center align-self-center align-items-center text-center my-10">
          <h2 class="fw-400 mb-0">Thank you!</h2>
          <img src="assets/img/round-icon.svg" width="140px" height="140px">
          <h3 class="fw-300 mb-10">You rock!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
