<p-avatar
  *ngIf="avatarUrl | async as aUrl; else initial"
  [image]="aUrl"
  class="flex items-center"
  [styleClass]="
    size === 48
      ? '!w-[48px] !h-[48px]'
      : size === 40
      ? '!w-[40px] !h-[40px]'
      : '!w-[32px] !h-[32px]'
  "
  shape="circle"
></p-avatar>
<ng-template #initial>
  <p-avatar
    label="{{ getInitials() }}"
    class="flex items-center"
    [styleClass]="
      size === 48
        ? '!w-[48px] !h-[48px]'
        : size === 40
        ? '!w-[40px] !h-[40px]'
        : '!w-[32px] !h-[32px]'
    "
    [style]="{ 'background-color': '#3AC2FF', color: '#ffffff' }"
    shape="circle"
  ></p-avatar>
</ng-template>
