<div class="rounded-2xl overflow-hidden">
  <img
    src="/assets/massimo/images/feature2.png"
    class="select-none w-full px-[22px] pt-[10px] bg-G100"
  />

  <div
    class="bg-hero-pattern bg-no-repeat bg-center bg-cover py-[24px] px-[36px] flex flex-col gap-[16px] items-center"
  >
    <div class="text-white text-h6 font-medium text-center">
      Hire the right freelancer for your project with BNB tokens
    </div>

    <basic-button
      [type]="1"
      size="small"
      title="Post a Job Request"
      [routerLink]="['/inbox/post']"
    />
  </div>
</div>
