<div class="wizard">
  <div>
    <!-- Wizard Steps Components -->
    <div class="col col-12">
      <div class="card px-30 pt-25 mb-neg5 row">
        <div class="row">
          <h3 class="m-auto">{{ title }}</h3>
        </div>
        <hr class="mb-5" />

        <div
          *ngIf="errMsg"
          (click)="errMsg = ''"
          class="alert alert-danger text-center cursor-pointer"
        >
          {{ errMsg }}
        </div>
        <div
          *ngIf="warningMsg"
          (click)="warningMsg = ''"
          class="alert alert-warning text-center cursor-pointer"
        >
          {{ warningMsg }}
        </div>
      </div>

      <div *ngIf="currStep === Step.paymentSummary">
        <canyalib-payment-summary
          [amount]="amount"
          [paymentSummary]="paymentSummary"
          [startJob]="startJob"
          [initialisePayment]="initialisePayment"
          (error)="error($event)"
          (stepFinished)="stepFinished()"
        >
        </canyalib-payment-summary>
      </div>

      <div *ngIf="currStep === Step.confirmation">
        <canyalib-msg-box
          [msg]="confirmationDlg"
          [controls]="confirmationDlg.controls"
          (action)="finish()"
        ></canyalib-msg-box>
      </div>

      <div class="text-right m-30 float-left" *ngIf="showBackButton">
        <button class="btn btn-default" (click)="goBack()">
          <i class="fas fa-arrow-left"></i> BACK
        </button>
      </div>
    </div>
  </div>
</div>
