<main class="font-sans">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    color="#3AC2FF"
    type="ball-clip-rotate-pulse"
  ></ngx-spinner>

  <div class="flex justify-center bg-G50">
    <!-- template start -->
    <div class="max-w-[1440px] w-full py-[56px] px-[24px] md:px-[64px]">
      <!-- <div
        *ngIf="job && !canSee && !loading"
        class="flex flex-col md:flex-row md:justify-between gap-2 md:gap-6 pt-[56px]"
      >
        <div class="w-full rounded-[12px] bg-white border border-G300 p-11">
          <div class="text-h6 md:text-h5 text-G800 font-medium leading-[1.2]">
            We can't find the job you were looking for<br />
            Please check the link you provided<br />
            <button
              class="btn btn-primary mt-10 mr-10 text-[15px] py-[7px]"
              [routerLink]="['/home']"
            >
              RETURN TO HOMEPAGE
            </button>
          </div>
        </div>
      </div> -->
      <div
        *ngIf="!job && !loading"
        class="flex flex-col md:flex-row md:justify-between gap-2 md:gap-6 pt-[56px]"
      >
        <div class="w-full rounded-[12px] bg-white border border-G300 p-11">
          <div class="text-h6 md:text-h5 text-G800 font-medium leading-[1.2]">
            We can't find the job you were looking for<br />
            Please check the link you provided<br />
            <button
              class="btn btn-primary mt-10 mr-10 text-[15px] py-[7px]"
              [routerLink]="['/home']"
            >
              RETURN TO HOMEPAGE
            </button>
          </div>
        </div>
      </div>

      <div
        *ngIf="job"
        class="flex flex-col lg:flex-row md:justify-between gap-2 md:gap-6 pt-[56px]"
      >
        <div class="w-full">
          <p-tabMenu [model]="activejobTypes" [activeItem]="selectedjob">
            <ng-template pTemplate="item" let-item let-i="index">
              <div
                class="bg-G200 border-t"
                [ngClass]="{
                  'rounded-tl-xl border-l': i === 0,
                  'rounded-tr-xl border-r': i === 1
                }"
              >
                <div
                  class="select-none flex items-center h-full py-[8px] px-[12px] md:px-[40px] text-b2 md:text-b1 text-center font-medium leading-6 rounded-t-xl text-G500 cursor-pointer"
                  (click)="changeJob(item)"
                  [ngClass]="{ 'bg-white': selectedjob.code === item.code }"
                >
                  {{ item.label }}
                </div>
              </div>
            </ng-template>
          </p-tabMenu>

          <div *ngIf="selectedjob.code == 'jobsdetail'" class="w-full">
            <div
              class="w-full rounded-[12px] rounded-tl-none bg-white border border-G300 p-[40px]"
            >
              <job-detail-panel
                [job]="job"
                [jobFromNow]="jobFromNow"
                [canSee]="canSee"
              />

              <!-- bid start -->
              <form
                [formGroup]="bidForm"
                class="form validate pt-[20px]"
                novalidate
                *ngIf="canBid"
              >
                <div
                  class="flex flex-col gap-4 border-t border-G300"
                  *ngIf="job && currentUser && currentUser.type === 'Provider'"
                >
                  <h2
                    class="pt-[20px] md:pt-[32px] text-h6 md:text-h5 text-G900 font-medium leading-8"
                  >
                    Submit your proposal
                  </h2>

                  <h1 class="text-b1 font-medium leading-6 text-G900">
                    Cover Letter
                  </h1>
                  <div class="w-full">
                    <angular-editor
                      formControlName="message"
                      [config]="coverletterConfig"
                    ></angular-editor>
                    <div class="flex justify-end">
                      <h1 class="text-right pt-[8px]">0/2500</h1>
                    </div>
                  </div>

                  <div
                    class="flex flex-col gap-4 pt-[24px] border-t border-G300"
                  >
                    <div
                      class="flex max-md:flex-col justify-center md:justify-between"
                    >
                      <h1 class="text-b1-medium">Your Payment</h1>
                      <h1 class="text-b1-medium">
                        Client’s budget is ${{ job.budget }}
                        <span *ngIf="job.paymentType !== 'Fixed price'"
                          >/hr </span
                        >USD
                      </h1>
                    </div>

                    <!-- Bid Price -->
                    <div
                      class="flex max-md:flex-col justify-center md:justify-between"
                    >
                      <div>
                        <h1 class="text-b1-medium">Bid Price</h1>
                        <p class="text-b2-small">
                          Total amount the client will see on your proposal
                        </p>
                      </div>

                      <div
                        class="flex border rounded-xl border-G300 py-[10px] px-[16px] bg-G50 w-[240px]"
                      >
                        $
                        <input
                          formControlName="price"
                          type="number"
                          id="price"
                          [(ngModel)]="price_bid"
                          class="!outline-none !border-none bg-G50 pl-[2px]"
                        />
                        USD
                      </div>
                    </div>
                    <!-- 1% Service Fee -->
                    <div
                      class="flex max-md:flex-col justify-center md:justify-between"
                    >
                      <div>
                        <h1 class="text-b1-medium">1% Service Fee</h1>
                        <p class="text-b2-small">
                          CanWork charges 1% fees. The lowest fees ever.
                        </p>
                      </div>

                      <div
                        class="flex border rounded-xl border-G300 py-[10px] px-[16px] bg-G200 w-[240px]"
                      >
                        $
                        <input
                          formControlName="price"
                          type="number"
                          disabled
                          [value]="price_bid / 10"
                          class="!outline-none !border-none bg-G200 pl-[2px]"
                        />
                        USD
                      </div>
                    </div>

                    <!-- Payout -->
                    <div
                      class="flex max-md:flex-col justify-center md:justify-between pb-[24px]"
                    >
                      <div>
                        <h1 class="text-b1-medium">Payout</h1>
                        <p class="text-b2-small">
                          Amount you’ll receive after service fee charge
                        </p>
                      </div>

                      <div
                        class="flex border rounded-xl border-G300 py-[10px] px-[16px] bg-G50 w-[240px]"
                      >
                        $
                        <input
                          formControlName="price"
                          type="number"
                          [value]="price_bid * 0.9"
                          disabled
                          class="!outline-none !border-none bg-G50 pl-[2px]"
                        />
                        USD
                      </div>
                    </div>

                    <!-- message -->
                    <app-warning-message
                      *ngIf="price_bid > job.budget"
                      message="Your bill is more than the client’s budget, consider adjusting for better chance of success"
                      [type]="1"
                    />
                    <div
                      class="border-t border-G300 py-[24px] flex flex-col gap-2"
                    >
                      <h1 class="text-b1-medium">Attachments</h1>
                      <p class="text-b2-small">
                        You may attach up to 10 files under the size of 25 MB
                        each. Include work samples or other documents to support
                        your application.
                      </p>

                      <div
                        (dragover)="onDragOver($event)"
                        (dragleave)="onDragLeave($event)"
                        (drop)="onDrop($event)"
                        [class]="
                          hoveredFiles
                            ? 'w-full rounded-xl bg-G500 border border-G300 flex justify-center items-center py-[10px] px-[16px]'
                            : 'w-full rounded-xl bg-G50 border border-G300 flex justify-center items-center py-[10px] px-[16px]'
                        "
                        class=""
                      >
                        <div class="w-full">
                          <div
                            class="flex justify-center items-center text-b1"
                            [ngClass]="{
                              disabled: currentUpload || uploadedFile
                            }"
                          >
                            <img
                              src="/assets/massimo/svg/fi_plus-circle.svg"
                              alt="fi_info"
                              class="pr-[8px]"
                            />
                            Drag or
                            <label
                              for="file-upload"
                              class="!text-C500 file-upload underline px-[3px] cursor-pointer text-b1 !m-0"
                            >
                              Upload
                            </label>
                            your files
                          </div>
                          <input
                            id="file-upload"
                            [disabled]="currentUpload || uploadedFile"
                            type="file"
                            multiple
                            hidden
                            (change)="detectFiles($event)"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="w-full" *ngIf="canBid && !sent">
                    <basic-button
                      [disabled]="!bidForm.valid || isBidding"
                      [type]="2"
                      [title]="'Apply Now'"
                      size="medium"
                      extraClass="!w-full"
                      (click)="submitBid()"
                    />
                  </div>
                </div>
              </form>
              <!-- bid end -->

              <div class="flex justify-start pt-[48px]">
                <div
                  class="group flex justify-center items-center text-b1 text-G900 leading-6 font-medium cursor-pointer p-[6px] rounded-md"
                  [routerLink]="['/jobs']"
                >
                  <img
                    src="/assets/massimo/svg/Arrow-Left.svg"
                    alt="Arrow-Left"
                    class="w-[20px] h-[20px] mx-[8px] group-hover:-translate-x-[6px] duration-500 transition-all"
                  />
                  Back to Job Board
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="selectedjob.code == 'proposals'" class="w-full">
            <app-job-bids
              [job]="job"
              [jobFromNow]="jobFromNow"
              [canSee]="canSee"
            />
          </div>
        </div>

        <div
          class="lg:w-[350px] rounded-[12px] bg-white border border-G300 px-7 py-[32px]"
        >
          <div
            class="text-b2 flex justify-between items-center md:text-b1 text-G800 font-medium leading-[1.2] pl-[2px]"
          >
            <span *ngIf="job.state && isOpen && !job.draft">
              <i class="circle-success fas fa-circle mr-[12px]"></i
              >{{ job.state }}
            </span>

            <span *ngIf="job.state && !isOpen && !job.draft">
              <i class="circle-danger fas fa-circle mr-[12px]"></i>Job closed
            </span>

            <span *ngIf="job.draft">
              <i class="circle-danger fas fa-circle mr-[12px]"></i>
              Draft
            </span>

            <!-- <a
              data-toggle="modal"
              data-target="#shareModal"
              *ngIf="!job.draft"
              (click)="createLink()"
              class="float-right hover:cursor-pointer"
            >
              <i class="fas fa-share-alt"></i>
            </a> -->

            <div class="detail-job" *ngIf="!job.draft">
              <p-dropdown
                [options]="sharelinks"
                [(ngModel)]="selectedsharelinks"
                optionLabel="name"
                appendTo="body"
              >
                <ng-template pTemplate="selectedItem">
                  <div
                    *ngIf="selectedsharelinks"
                    class="border border-G300 shadow-md hover:shadow-lg transition-shadow duration-300 cursor-pointer w-[32px] h-[32px] rounded-lg p-[6px]"
                  >
                    <img
                      src="/assets/massimo/svg/fi_share-2.svg"
                      alt=""
                      class="w-full h-full"
                    />
                  </div>
                </ng-template>
                <ng-template let-item pTemplate="item">
                  <div class="flex align-items-center">
                    <img
                      src="{{ '/assets/massimo/svg/' + item.img }}"
                      style="width: 20px"
                      class="mr-[16px]"
                    />
                    <span>{{ item.name }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <table
            class="table-auto text-b2 md:text-b1 w-full md:w-[302px] mt-3 border-separate border-spacing-x-[2px] border-spacing-y-[10px]"
          >
            <tr>
              <td class="text-G700">{{ job.paymentType }}</td>
              <td class="text-G900 text-right font-medium">
                ${{ job.budget }}
                <span *ngIf="job.paymentType !== 'Fixed price'">/hr</span> USD
              </td>
            </tr>
            <tr *ngIf="bids">
              <td class="text-G700">Proposals</td>
              <td class="text-G900 text-right font-medium">
                {{ bids.length }} Proposals
              </td>
            </tr>
            <tr>
              <td class="text-G700">Deadline</td>
              <td class="text-G900 text-right font-medium">
                {{ formatDate(job.deadline) }}
              </td>
            </tr>
            <tr *ngIf="job.information.weeklyCommitment > 0">
              <td class="text-G700">Estimated hours</td>
              <td class="text-G900 text-right font-medium">
                {{ job.information.weeklyCommitment }} hours
              </td>
            </tr>
            <tr>
              <td class="text-G700">Category</td>
              <td class="text-G900 text-right font-medium">
                {{ job.information.providerType }}
              </td>
            </tr>
          </table>
          <hr class="h-[1.5px] my-[20px] bg-gray-200 border-0" />
          <div
            class="text-b3 md:text-b2 text-G800 leading-[1.2] mt-[12px] mb-[16px]"
          >
            About the Client
          </div>
          <ng-container *ngIf="jobPoster" class="mt-[12px]">
            <profile-card
              [avatarUri]="jobPoster.avatarUri"
              [name]="jobPoster.name"
              [title]="jobPoster.title"
              [isVerified]="jobPoster.verified"
              [rating]="jobPoster.rating"
              [skillTags]="jobPoster.skillTags"
              [slug]="jobPoster.slug"
              [address]="jobPoster.address"
              [timezone]="jobPoster.timezone"
              [hourlyRate]="jobPoster.hourlyRate"
              [isGrid]="false"
              [isSmall]="true"
            />
          </ng-container>
          <div
            *ngIf="myJob && !isClosed"
            class="text-b3 md:text-b2 text-G800 leading-[1.2] mt-[16px]"
          >
            <div class="flex gap-4 justify-between items-center">
              <div
                class="cursor-pointer py-[10px] px-[24px] text-[#D1242F] flex justify-center items-center gap-2 font-medium text-b1 text-nowrap hover:bg-G200 rounded-xl"
                (click)="cancelJob()"
              >
                <img
                  src="/assets/massimo/svg/delete.svg"
                  class="select-none w-[16px] h-[16px]"
                />
                Delete Job
              </div>

              <basic-button
                [type]="1"
                [routerLink]="['/inbox/job/edit', job.id]"
                title="Edit Job"
                size="small"
                extraClass="border text-G900"
              />
            </div>
          </div>

          <div
            class="text-b2 md:text-b1 text-G800 leading-[1.2] mt-[16px] pt-[24px]"
            *ngIf="!currentUser && !myJob && isOpen"
          >
            Sign up to be a CanWork service provider to bid on this job.
            <button
              [routerLink]="['/auth']"
              class="btn btn-sm btn-dark mt-10 mr-10 w-full text-[15px] py-[7px] normal-case"
            >
              Sign Up Now
            </button>
          </div>

          <div
            class="text-b2 md:text-b1 text-G800 leading-[1.2] mt-[16px] pt-[24px]"
            *ngIf="
              currentUser && currentUser.type !== 'Provider' && !myJob && isOpen
            "
          >
            You must be a CanWork service provider to bid on this job.
          </div>

          <div
            class="text-b2 md:text-b1 text-G800 leading-[1.2] mt-[16px]"
            *ngIf="
              currentUser && currentUser.type === 'Provider' && !myJob && isOpen
            "
          >
            <!-- <button
              class="btn btn-sm btn-dark mt-10 mr-10 w-full text-[15px] py-[7px] normal-case"
              [hidden]="!canBid"
              data-toggle="modal"
              data-target="#bidModal"
              [disabled]="!currentUser.bscAddress"
            >
              Apply Now
            </button> -->
            <i *ngIf="!canBid" class="mt-[12px]">You've posted your bid.</i>
            <i *ngIf="!currentUser.bscAddress" class="mt-[12px]"
              >To make a bid fill the field "BNB Chain Address field" in the
              <a href="/profile?editProfile=1">profile</a></i
            >
          </div>
        </div>
      </div>
      <div
        *ngIf="job && myJob"
        class="flex flex-col md:flex-row md:justify-between gap-2 md:gap-6 pt-[32px]"
      ></div>
      <!-- bids end -->
    </div>
  </div>
  <!-- template end -->
</main>
<!-- Modals -->
<div id="shareModal" class="modal fade" *ngIf="job && canSee" role="dialog">
  <div class="modal-dialog border-none">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center border-none">
        <div class="col-12">
          <h5 class="modal-title">SHARE THIS JOB AS A LINK</h5>
        </div>
        <button
          type="button"
          class="close"
          style="position: absolute; right: 15px"
          data-dismiss="modal"
        >
          &times;
        </button>
      </div>
      <div class="modal-body border-none">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="row px-15"></div>
              <div class="row px-15">
                <div class="col-12 text-center">
                  <span>URL:</span>
                  <br />
                  <br />
                  <p class="link-col p-10">
                    {{ link }}
                  </p>
                  <button (click)="copyLink()" class="btn btn-primary mt-5">
                    COPY LINK
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                  <small id="copied">Copied!</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div
  id="bidModal"

  class="modal fade"
  role="dialog"
>
  <div class="modal-dialog border-none">
    <div class="modal-content">
      <div class="modal-header text-center border-none">
        <div class="col-12">
          <h5 class="modal-title">PLACE YOUR BID</h5>
        </div>
        <button
          type="button"
          class="close"
          style="position: absolute; right: 15px"
          id="close-bid"
          data-dismiss="modal"
        >
          &times;
        </button>
      </div>
      <div class="modal-body border-none">
        <div class="container" *ngIf="canBid && !sent">
          <div class="row">
            <div class="col-12">
              <form [formGroup]="bidForm" class="form validate" novalidate>
                <label for="price">Price*</label>
                <br />
                <div class="input-group" style="border: none">
                  <input
                    type="number"
                    formControlName="price"
                    style="border: 1px solid #ebebeb"
                    class="form-control"
                    id="price"
                    placeholder="Client budget : {{ job.budget }}"
                  />
                  <div class="input-group-append" style="padding: 5px">
                    <span class="input-group-text">
                      <span *ngIf="job.paymentType !== 'Fixed price'">/hr </span
                      >USD</span
                    >
                  </div>
                </div>
                <label for="message">Message</label>
                <br />
                <textarea
                  rows="2"
                  class="form-control"
                  placeholder="Deliver your pitch!"
                  formControlName="message"
                  id="message"
                ></textarea>
              </form>
              <div class="row px-15"></div>
            </div>
          </div>
        </div>
        <div class="container" >
          <div class="row">
            <div class="col-12 text-center">
              <img
                src="assets/img/CanYa_tick_green.svg"
                class="mb-30 fadeInShort"
                width="100px"
                height="100px"
              />
              <h6>Bid posted!</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer text-right" *ngIf="canBid && !sent">
        <img
          src="assets/img/loader.svg"
          style="height: 36px"
          alt="Loader"
          *ngIf="isBidding"
        />
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!bidForm.valid || isBidding"
          (click)="submitBid()"
        >
          PLACE BID
        </button>
      </div>
    </div>
  </div>
</div> -->
