<div
  *ngIf="loading"
  class="container d-flex h-100 flex-column justify-content-center"
>
  <img src="assets/img/loader.svg" height="36px" alt="Loader" />
</div>
<div *ngIf="!loading">
  <div class="container text-center animated fadeIn">
    <div>
      <div *ngIf="currentUser.whitelisted">
        <header class="section-header my-0 py-0">
          <h2 class="fw-300">Congrats! You have been accepted as a provider</h2>

          <button
            type="button"
            class="btn btn-primary btn-block mt-10 w-200 center-h"
            (click)="finishProviderSetup()"
          >
            Proceed
          </button>
        </header>

        <img
          src="assets/img/CanYa_tick_green.svg"
          class="img-responsiveness mt-30 animated bounceInUp"
          alt="You have been whitelisted"
          width="200"
        />
      </div>
      <div *ngIf="!currentUser.whitelisted">
        <div *ngIf="currentUser.whitelistRejected">
          <header class="section-header my-0 py-0">
            <h2 class="fw-300">Sorry</h2>
            <h4 class="fw-300 mb-10">
              You have not been approved by the CanYa DAO to be a CanYa
              Ambassador. Please feel free to re-apply in the future
            </h4>
            <button
              type="button"
              class="btn btn-primary btn-block mt-10 w-200 center-h"
              (click)="resetUser()"
            >
              <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-fw"> </i
              >Try again
            </button>
          </header>
          <br />
          <img
            src="assets/img/CanYa_red_cross.svg"
            class="img-responsiveness mt-10 animated bounceInUp"
            alt="Your application has been rejected"
            width="150"
          />
        </div>
        <div *ngIf="!currentUser.whitelistRejected">
          <header class="section-header my-0 py-0">
            <h2 class="fw-300">Your application has been received</h2>
            <h4 class="fw-300 mb-10">
              Members of the CanYa DAO are currently processing and verifying
              your application and will get back to you soon
            </h4>
            <button
              type="button"
              class="btn btn-primary btn-block mt-10 w-200 center-h"
              (click)="browse()"
            >
              Browse market
            </button>
          </header>
          <img
            src="assets/img/CanYa_tick.svg"
            class="img-responsiveness mt-10 animated bounceInUp"
            alt="Waiting for your application to process"
            width="200"
          />
        </div>
      </div>
    </div>
  </div>
</div>
