.skill-tag {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .50rem;
  color: rgba(50, 60, 71, 0.61);
  background-color: #edefec;
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.form-error {
  color: red;
}
