<main class="main-content">

  <section *ngIf="currentUser" class="section bg-white pt-0 pb-30" id="section-main">
    <app-back-button></app-back-button>
    <div *ngIf="!pageLoaded" class="container d-flex h-100 flex-column justify-content-center">
      <img src="assets/img/loader.svg" height="36px" alt="Loader">
    </div>
    <div *ngIf="recipient && pageLoaded">
      <div *ngIf="!sent" class="section bg-white pt-0 pb-30">
        <div class="container">
          <header class="section-header my-0 py-0">
            <h2 class="fw-300">Post a request</h2>
          </header>
          <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
              <div class="align-self-center align-items-center my-10">
                <form [formGroup]="postForm" class="form validate" novalidate>
                  <div class="col-12 col-lg-12">
                    <div class="form-group">
                      <label class="text-dark">Description *</label>
                      <textarea class="form-control" #description formControlName="description" rows="4" name="description" placeholder="I'm looking for..."
                        [class.invalid]="!postForm.controls.description.valid && postForm.controls.description.dirty"></textarea>
                      <small *ngIf="!postForm.controls.description.valid" class="text-primary text-wrap">e.g. 'Custom Logo' or 'Milestone 1 - Wireframes'.</small>
                    </div>

                    <div class="form-group">
                      <label>Title *</label>
                      <input class="form-control" #title formControlName="title" type="text" name="title" placeholder="Enter Job Title" maxlength="64"
                        [class.invalid]="!postForm.controls.title.valid && postForm.controls.title.dirty">
                      <small *ngIf="!postForm.controls.title.valid  && postForm.controls.title.dirty" class="text-primary text-wrap">Title must be 64 characters or less</small>
                    </div>

                    <div class="form-group">
                      <label>Project stage *</label>
                      <input class="form-control" #title formControlName="initialStage" type="text" name="initialStage" placeholder="Lorem ipsum dolor"
                        [class.invalid]="!postForm.controls.initialStage.valid && postForm.controls.initialStage.dirty">
                      <small *ngIf="!postForm.controls.description.valid" class="text-primary text-wrap">e.g. 'Ideation phase' or 'I have started work already'</small>
                    </div>

                    <div class="form-group">
                      <label>Key skills required *</label>
                      <app-skill-tags-selection (tagsUpdated)="skillTagsUpdated($event)" [minimumTags]="1"></app-skill-tags-selection>
                      <input hidden #skillTags class="form-control" formControlName="skills" type="text" name="skills">
                    </div>

                    <div class="form-group">
                      <label>Attachments</label>
                      <!-- Attachments (create modular code) -->
                    </div>

                    <div class="form-group">
                      <label>Type of work *</label>
                      <br/>
                      <div class="row ml-0 mr-0">
                        <div *ngFor="let type of workTypes()" class="mb-10 px-5 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                          <button type="button" (click)="setWorkType(type)" class="btn btn-primary w-full" [ngClass]="{'btn-outline': postForm.controls.workType.value !== type}">
                            {{type}}
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Timeline Expectations *</label>
                      <br/>
                      <div class="row ml-0 mr-0">
                        <div *ngFor="let range of timeRanges()" class="mb-10 px-5 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                          <button type="button" (click)="setTimeRange(range)" class="btn btn-primary w-full" [ngClass]="{'btn-outline': postForm.controls.timelineExpectation.value !== range}">
                            {{range}}
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Weekly commitment *</label>
                      <div class="row">
                        <small class="col-7">Your expectations of the providers weekly time commitment ot your job.</small>
                        <input #weeklyCommitment formControlName="weeklyCommitment" class="form-control col-2" type="number" name="weeklyCommitment"
                          min="1" placeholder="10" [class.invalid]="!postForm.controls.weeklyCommitment.valid && postForm.controls.weeklyCommitment.dirty">
                        <span class="col-3 mt-8">hours / week</span>

                      </div>
                      <small *ngIf="!postForm.controls.weeklyCommitment.valid && postForm.controls.weeklyCommitment.dirty" class="text-primary">Must be between 1 - 60 hours</small>

                    </div>

                    <div class="form-group">
                      <label>Payment preference *</label>
                      <br/>
                      <div class="row ml-0 mr-0">
                        <div *ngFor="let type of paymentTypes()" class="mb-10 px-5 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                          <button type="button" (click)="setPaymentType(type)" class="btn btn-primary w-full" [ngClass]="{'btn-outline': postForm.controls.paymentType.value !== type}">
                            {{type}}
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="form-group">
                      <label class="text-dark">What is your budget for this service?</label>
                      <input #budget formControlName="budget" class="form-control" type="number" name="budget" min="10" placeholder="10 CanYaCoins minimum"
                        [class.invalid]="!postForm.controls.budget.valid && postForm.controls.budget.dirty">

                      <small *ngIf="!postForm.controls.budget.valid && postForm.controls.budget.dirty" class="text-primary">Must be 10 CanYaCoins or higher.</small>
                    </div> -->
                  </div>

                  <div class="modal-footer">
                    <img *ngIf="isSending" src="assets/img/loader.svg" height="36px" alt="CanYa Coin">
                    <button type="button" (click)="submitForm()" class="btn btn-primary" [disabled]="!postForm.valid || isSending">POST</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="sent" class="section py-70">
        <div class="container">
          <div class="section-header">
            <img src="assets/img/CanYa_tick_green.svg" class="mb-30 animated bounceInDown" width="100px" height="100px">
            <h2>Congrats! Your request has been submitted!</h2>
            <p class="lead fw-400">Your CanYa Provider will be in touch soon. Check your messages/transactions later in order to receive and pay
              for your service.</p>
            <hr>
          </div>
          <br>
          <p class="text-center">
            <a class="btn btn-secondary" [routerLink]="['/home']">Return home</a>
            &nbsp;&nbsp;
            <a class="btn btn-canya-tools text-white" [routerLink]="['/inbox/chat', recipientAddress]">Go to inbox</a>
          </p>

        </div>
      </div>
    </div>
    <div *ngIf="!recipient && pageLoaded" class="section bg-white pt-0 text-center">
      <h3>Uh-oh, we can't seem to find this provider!</h3>
    </div>
  </section>
</main>


<app-scroll-top></app-scroll-top>
