$color-ok-rating: #33ccff !default;

@import 'assets/star-scss/star-rating';

@mixin circle-headshot {
  .circle-headshot {
    background-position: center center;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
  }
}

.pointer {
  cursor: pointer;
}

.cursor-auto {
  cursor: auto !important;
}
