@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';

$color-ok-rating: #33ccff !default;

@mixin circle-headshot {
  .circle-headshot {
    background-position: center center;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'General Sans', sans-serif !important;
}

.p-menu.p-menu-overlay {
  top: 70px !important;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5bccff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3ac2ff;
}
