<div id="ledgerModal" class="modal fade" role="dialog">
  <div border-none class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div border-none class="modal-header  text-center">
        <div class="col-12">
          <h5 class="modal-title">Confirm Address</h5>
        </div>
      </div>
      <div border-none class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>
                For security, please confirm that your address:
              </p>
              <p>
                Is the one shown on your Ledger device screen now. Press the
                right ✓ button on your device to confirm.
              </p>
              <p>
                Or, if it does not match, do not proceed.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
