<main class="main-content" [appWindowScroll]>
  <section class="section bg-gray py-20" id="section-main">
    <div class="container">
      <div class="row search-container text-center">
        <div class="col-12">
          <ais-instantsearch [config]="algoliaSearchConfig" *ngIf="!rendering">
            <h4 class="fw-500">CanYa tell us what you're looking for?</h4>
            <ais-search-box #search class="search-box" (change)="algoliaSearchChanged($event)"></ais-search-box>
            <div class="row search-results">
              <div class="col-md-12">
                <ais-hits>
                  <ng-template let-hits="hits">
                    <div *ngIf="hits.length <= 0 && !loading" class="row text-center">
                      <h4 class="center-h mb-50">We couldn't find what you were looking for!</h4>
                    </div>
                    <div class="row my-20">
                      <div *ngFor="let provider of hits" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 card-deck" style="padding:10px">
                       <app-provider-card [size]="'lg'" [provider]="provider"></app-provider-card>
                      </div>
                    </div>
                  </ng-template>
                </ais-hits>
              </div>
            </div>
          </ais-instantsearch>
          <div *ngIf="loading || rendering" class="container d-flex h-100 flex-column justify-content-center">
            <img src="assets/img/loader.svg" height="36px" alt="Loader">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-0 py-0">
          <app-swiper-cards></app-swiper-cards>
        </div>
      </div>
    </div>
  </section>
  <app-random-animation></app-random-animation>
  <app-blog-posts></app-blog-posts>
  <app-feedback></app-feedback>
</main>


<app-scroll-top></app-scroll-top>
