<main class="main-content" [appWindowScroll]>
  <section class="section bg-gray py-20" id="section-main">
    <div class="container">
      <div class="row search-container text-center">
        <div class="col-12">
          <ais-instantsearch [config]="algoliaSearchConfig" *ngIf="!rendering">
            <h4>CanYa tell us what you're looking for?</h4>
            <ais-search-box class="search-box" (change)="algoliaSearchChanged($event)"></ais-search-box>
            <div class="row search-results">
              <div class="col-md-12">
                <ais-hits>
                  <ng-template let-hits="hits">
                    <div *ngIf="hits.length <= 0 && !loading" class="row text-center">
                      <h4 class="center-h mb-50">We couldn't find what you were looking for!</h4>
                    </div>
                    <div class="row">
                      <div *ngFor="let provider of hits" class="col-lg-4 card-deck">
                        <div class="card provider-card text-center my-15 pointer" [routerLink]="['/profile/alt', provider.address]">
                          <span *ngIf="provider && provider.badge" class="popular-tag" style="background-color:transparent;color:#3cf;float:right;font-weight: 600;letter-spacing: 1.5px;text-transform: uppercase;min-height: 50px;font-size: 14px;text-align: center;line-height: 40px;">
                            {{ provider.badge }}
                          </span>
                          <span *ngIf="!(provider && provider.badge)" class="popular-tag" style="float:right; min-height: 50px;"></span>

                          <div class="profile">
                            <img *ngIf="provider && (provider.avatar && provider.avatar.uri)" class="headshot" src="{{ provider.avatar.uri }}" alt="">
                            <div class="title">
                              <h2 *ngIf="provider && provider.name">{{ provider.name }}</h2>
                              <h3 *ngIf="provider && provider.title">{{ provider.title }}</h3>
                              <p *ngIf="provider && provider.bio">{{ provider.bio }}</p>
                            </div>
                            <div class="row d-flex tag-row justify-content-center">
                              <app-skill-tag *ngFor="let tag of getProviderTags(provider)" [skill]="tag" [routerLink]="['/home']" [queryParams]="{query: tag}"></app-skill-tag>
                            </div>
                            <div class="row hourly-rate">
                              <span *ngIf="provider.hourlyRate && canToUsd" data-toggle="tooltip" data-placement="bottom" title="{{getUsdToCan(provider.hourlyRate)}} USD/hr">
                                <b>${{provider.hourlyRate}}</b>/hr
                              </span>
                              <span *ngIf="provider.hourlyRate && !canToUsd">
                                <b>${{provider.hourlyRate}}</b>/hr
                              </span>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ais-hits>
              </div>
            </div>
          </ais-instantsearch>
          <div *ngIf="loading || rendering" class="container d-flex h-100 flex-column justify-content-center">
            <img src="assets/img/loader.svg" height="36px" alt="Loader">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-0 py-0">
          <app-swiper-cards></app-swiper-cards>
        </div>
      </div>
    </div>
  </section> 
  <script>
    $(".ais-SearchBox-submitIcon").remove();
    $(".ais-SearchBox-submit").append("<img src='assets/img/search-icon-white.svg' class='searchbar-searchicon'>")
  </script>
  <app-random-animation></app-random-animation>
  <app-blog-posts></app-blog-posts>
  <app-feedback></app-feedback>
</main>


<app-scroll-top></app-scroll-top>
