.tabs {
  list-style: none;
  border-right: 1px solid #e8e8e8;
}
.tabs > li {
  text-align: right;
  cursor: pointer;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: #323c47;
  letter-spacing: 1px;
  padding: 8px 24px;
  margin: 0 0 16px 0;
}

.tabs > li.active {
  border-right: 2px solid #1890ff;
  padding-right: 22px;
}

.keystore-password {
  width: 100%;
}

.keystore-unlock {
  float: right;
}

.keystore-error {
  color: rgb(255, 65, 54);
}

.keystore-check {
  margin-left: 5px;
  color: rgb(82, 196, 26);
}

.mnemonic-warning {
  color: rgb(238, 83, 102);
}

.ledger-app-notice {
  font-size: 11px;
}

