.share-link {
  position: absolute;
  right: 0px;
  font-weight: 500;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.link-col {
  border-radius: 5px;
  border: 0.5px solid #dee2e6;
  font-size: 9px;
}

.link-col p {
  padding-top: 7.5px;
  margin: 0;
}

#copied {
  display: none;
}

.input-group-append {
  padding: 5px 10px;
  border: 1px solid #ebebeb;
  background-color: #ebebeb;
  border-radius: 0px 5px 5px 0;
}
